Repository synth-laboratories/synth-ai: changes, and which lefthook commands are due for each by the changed paths.
All: python-import-check, python-ruff, python-ruff-format, notebook-strip

lefthook.yml:

# Lefthook Git hooks configuration for synth-ai
# See: https://lefthook.dev/configuration/
#
# Installation:
#   brew install lefthook  # macOS
#   # or: go install github.com/evilmartians/lefthook@latest
#   lefthook install
#
# Usage:
#   lefthook run pre-commit  # Run hooks manually
#   lefthook uninstall      # Remove hooks

pre-commit:
  parallel: true
  files: git diff --cached --name-only --diff-filter=ACMR
  commands:
    # Python: Verify imports work (catch broken imports before commit)
    python-import-check:
      tags:
        - python
        - lint
      glob:
        - "synth_ai/*.py"
        - "synth_ai/**/*.py"
      run: uv run python .lefthook/pre-commit/import_check.py {files}

    # Python: Ruff linting with auto-fix (only on staged Python files that exist)
    python-ruff:
      tags:
        - python
        - lint
      glob:
        - "*.py"
        - "**/*.py"
      run: uv run ruff check --fix --force-exclude {files}
      stage_fixed: true

    # Python: Ruff format with auto-fix (only on staged Python files that exist)
    python-ruff-format:
      tags:
        - python
        - format
      glob:
        - "*.py"
        - "**/*.py"
      run: uv run ruff format --force-exclude {files}
      stage_fixed: true

    # Jupyter: Strip notebook outputs before commit
    notebook-strip:
      tags:
        - jupyter
        - clean
      glob:
        - "*.ipynb"
        - "**/*.ipynb"
      run: uv run nbstripout {files}
      stage_fixed: true

feat(research): Factory-B role-receipt contracts, clients, and vendored spec
  openapi/research-v1.json
  synth_ai/__init__.py
  synth_ai/core/research/contracts/__init__.py
  synth_ai/core/research/contracts/factory_role_receipts.py
  synth_ai/core/research/operations.py
  synth_ai/core/research/public.py
  synth_ai/core/research/research_intern.py
Due: python-import-check, python-ruff, python-ruff-format

fix(contracts): bound-runtime provider is a set, not the constant "exe_dev"
  synth_ai/core/research/contracts/swarms.py
Due: python-import-check, python-ruff, python-ruff-format

chore(research): vendor visual-evidence spec and mirror org-only evidence
  openapi/research-v1.json
  synth_ai/core/research/contracts/__init__.py
  synth_ai/core/research/contracts/visuals.py
  synth_ai/core/research/public.py
  synth_ai/core/research/visuals.py
Due: python-import-check, python-ruff, python-ruff-format

chore(research): vendor refreshed SMR contract
  synth_ai/core/research/schemas/smr_openapi.yaml
Due: none

chore(research): sync Modal K3 contract
  openapi/research-v1.json
  synth_ai/core/research/schemas/smr_openapi.yaml
Due: none

fix(research): let body codecs set content type
  synth_ai/core/auth/credentials.py
Due: python-import-check, python-ruff, python-ruff-format

refactor(research): rename Factory actor role seraph -> adjudicator
  synth_ai/core/research/contracts/factories.py
  synth_ai/core/research/contracts/factory_operations.py
  synth_ai/core/research/contracts/smr_actor_models.py
  synth_ai/core/research/contracts/smr_actor_policy_data.py
  synth_ai/core/research/contracts/swarms.py
  synth_ai/core/research/session/factories.py
  synth_ai/mcp/research/server.py
  synth_ai/mcp/research/tools/factories.py
Due: python-import-check, python-ruff, python-ruff-format

refactor(research): re-vendor OpenAPI artifacts after adjudicator rename
  openapi/research-v1.json
  synth_ai/core/research/schemas/smr_openapi.yaml
Due: none

feat(research): list account visual library
  openapi/research-v1.json
  synth_ai/core/research/contracts/visuals.py
  synth_ai/core/research/operations.py
  synth_ai/core/research/schemas/smr_openapi.yaml
  synth_ai/core/research/visuals.py
Due: python-import-check, python-ruff, python-ruff-format

wip: preserve workstation changes
  .github/scripts/check_no_rust_sdk.py
  scripts/generate_sdk_docs.py
  scripts/sdk_docs_postprocess.py
  scripts/sync_smr_schemas.py
  skills/container-pools-harbor-rollouts/SKILL.md
  skills/container-pools-overview/SKILL.md
  synth_ai/__init__.py
  synth_ai/cli/dev_envs.py
  synth_ai/cli/research.py
  synth_ai/cli/research_environments.py
  synth_ai/cli/research_image_releases.py
  synth_ai/cli/research_projects.py
  synth_ai/client.py
  synth_ai/config.py
  synth_ai/core/research/_internal/urls.py
  synth_ai/core/research/client.py
  synth_ai/core/research/contracts/smr_actor_models.py
  synth_ai/core/research/contracts/smr_actor_policy_data.py
  synth_ai/core/research/session/config.py
  synth_ai/core/utils/env.py
  synth_ai/core/utils/urls.py
  synth_ai/sdk/base.py
  synth_ai/sdk/containers.py
Due: python-import-check, python-ruff, python-ruff-format

fix(sdk): preserve transient control-plane retry
  synth_ai/managed_research/sdk/runs.py
Due: python-import-check, python-ruff, python-ruff-format

fix(sdk): preserve structured SMR transport details
  synth_ai/managed_research/errors.py
  synth_ai/managed_research/models/smr_agent_models.py
  synth_ai/managed_research/transport/http.py
Due: python-import-check, python-ruff, python-ruff-format

fix(sdk): preserve multipart auth headers
  synth_ai/managed_research/sdk/config.py
Due: python-import-check, python-ruff, python-ruff-format

feat(research): separate active actor model choices
  synth_ai/core/research/contracts/__init__.py
  synth_ai/core/research/contracts/swarms.py
  synth_ai/core/research/public.py
Due: python-import-check, python-ruff, python-ruff-format

fix(research): expose FilesAPI on the Research facade
  synth_ai/core/research/facade.py
Due: python-import-check, python-ruff, python-ruff-format

release: prepare K3 and Laguna SDK 0.17.3
  CHANGELOG.md
  README.md
  pyproject.toml
  synth_ai/core/research/advanced_factories.py
  synth_ai/core/research/artifacts.py
  synth_ai/core/research/contracts/__init__.py
  synth_ai/core/research/contracts/dataset_revisions.py
  synth_ai/core/research/contracts/deliveries.py
  synth_ai/core/research/contracts/factories.py
  synth_ai/core/research/contracts/factory_operations.py
  synth_ai/core/research/contracts/operator_evidence.py
  synth_ai/core/research/contracts/project_runtime.py
  synth_ai/core/research/contracts/project_workspace_evidence.py
  synth_ai/core/research/contracts/research_intern.py
  synth_ai/core/research/contracts/smr_actor_policy_data.py
  synth_ai/core/research/contracts/swarms.py
  synth_ai/core/research/contracts/traces.py
  synth_ai/core/research/factories.py
  synth_ai/core/research/operations.py
  synth_ai/core/research/project_deliveries.py
  synth_ai/core/research/public.py
  synth_ai/core/research/research_intern.py
  synth_ai/core/research/session/client.py
  synth_ai/core/research/session/factories.py
  synth_ai/core/research/session/images.py
  synth_ai/core/research/swarms.py
  synth_ai/core/research/traces.py
  synth_ai/core/research/visuals.py
  synth_ai/mcp/research/tools/factories.py
  synth_ai/mcp/research/tools/visuals.py
  tests/unit/test_provider_selection.py
  uv.lock
Due: python-import-check, python-ruff, python-ruff-format

fix(research): admit Modal swarm provider
  CHANGELOG.md
  synth_ai/core/research/contracts/swarms.py
  tests/unit/test_provider_selection.py
Due: python-import-check, python-ruff, python-ruff-format

fix(research): raise provider unavailable errors
  synth_ai/core/research/errors.py
  synth_ai/core/research/session/runs.py
  synth_ai/core/research/transport/http.py
  tests/core_research/test_run_handle_provider_failure.py
  tests/core_research/test_transport_error_mapping.py
Due: python-import-check, python-ruff, python-ruff-format

test: move the in-repo pytest suite to the testing repo
  tests/core_research/test_provider_key_sealing.py
  tests/core_research/test_run_anomaly_forward_compat.py
  tests/core_research/test_run_handle_provider_failure.py
  tests/core_research/test_swarm_state_vocabulary.py
  tests/core_research/test_swarms_wait_transients.py
  tests/core_research/test_transport_error_mapping.py
  tests/public_surface/import_graph.py
  tests/public_surface/internal_vocabulary_allowlist.json
  tests/public_surface/test_internal_vocabulary.py
  tests/public_surface/test_public_surface.py
  tests/research/test_account_keys_bindings.py
  tests/unit/test_backend_url_resolution.py
  tests/unit/test_factory_lens_contracts.py
  tests/unit/test_factory_lifecycle_transitions.py
  tests/unit/test_provider_selection.py
  tests/unit/test_research_intern_contract.py
  tests/unit/test_trace_store_contracts.py
Due: python-ruff, python-ruff-format

chore(research): re-vendor the public model catalog and drop display_group
  synth_ai/core/research/contracts/smr_agent_models.py
  synth_ai/core/research/schemas/public_models.json
  synth_ai/core/research/schemas/smr_openapi.yaml
Due: python-import-check, python-ruff, python-ruff-format

fix(sdk): keep host-provider vocabulary and import artifacts out of the public surface
  synth_ai/__init__.py
  synth_ai/core/utils/urls.py
Due: python-import-check, python-ruff, python-ruff-format

release: prepare synth-ai 0.17.4
  CHANGELOG.md
  README.md
  pyproject.toml
Due: none

ci: run on GitHub-hosted runners instead of Blacksmith
  .github/workflows/ci.yml
  .github/workflows/publish-dev.yml
  .github/workflows/publish-release.yml
  .github/workflows/release-drafter.yml
Due: none

style: satisfy ruff format and import sorting
  synth_ai/__init__.py
  synth_ai/core/research/contracts/__init__.py
  synth_ai/core/research/contracts/swarms.py
  synth_ai/core/research/errors.py
  synth_ai/core/research/public.py
  synth_ai/core/utils/urls.py
  uv.lock
Due: python-import-check, python-ruff, python-ruff-format

fix(sdk): stop core.research._internal.urls resolving to production
  synth_ai/core/research/_internal/urls.py
Due: python-import-check, python-ruff, python-ruff-format

fix(sdk): restore the production default for an unconfigured client
  CHANGELOG.md
  synth_ai/core/utils/urls.py
Due: python-import-check, python-ruff, python-ruff-format

Move specifications/ out to the testing repo
  .gitignore
  Makefile
  docs/README.md
  scripts/check_research_migration_boundaries.py
  scripts/check_sdk_docstrings.py
  scripts/generate_research_capability_ledger.py
  scripts/generate_sdk_docs.py
  scripts/sdk_docs_postprocess.py
  specifications/sdk/core_research_migration.md
  specifications/sdk/docstrings.md
  specifications/sdk/public_api_manifest.json
  specifications/sdk/research_capability_ledger.json
  synth_ai/core/auth/context.py
  synth_ai/core/auth/credentials.py
  synth_ai/core/http/async_transport.py
  synth_ai/core/http/request.py
  synth_ai/core/http/retry.py
  synth_ai/core/http/transport.py
  synth_ai/core/research/contracts/activity.py
  synth_ai/core/research/contracts/environment_manifest.py
  synth_ai/core/research/contracts/environments.py
  synth_ai/core/research/contracts/evidence.py
  synth_ai/core/research/contracts/factories.py
  synth_ai/core/research/contracts/image_releases.py
  synth_ai/core/research/contracts/project_data.py
  synth_ai/core/research/contracts/runtime_stream.py
  synth_ai/core/research/contracts/runtime_stream_snapshot.py
  synth_ai/core/research/contracts/status.py
  synth_ai/core/research/contracts/transcript.py
  synth_ai/core/research/contracts/usage.py
  synth_ai/core/research/contracts/workspaces.py
  synth_ai/core/research/environments.py
  synth_ai/core/research/events.py
  synth_ai/core/research/factories.py
  synth_ai/core/research/image_releases.py
  synth_ai/core/research/project_data.py
Due: python-import-check, python-ruff, python-ruff-format

Reduce the public repo to the package
  .github/workflows/ci.yml
  .gitignore
  AGENTS.md
  Makefile
  docs/README.md
  docs/recipes/async-handoff.md
  docs/recipes/first-bounded-research-run.md
  guardrails/suites.toml
  reference/sdk/README.md
  scripts/check_no_rust_sdk.py
  scripts/check_research_openapi_contract.py
  scripts/check_sdk_architecture.py
  scripts/cloud_slot.py
  scripts/generate_sdk_docs.py
  scripts/prove_cloud_deployment_client.py
  scripts/prove_cloud_deployment_mcp.py
  scripts/sdk_docs_postprocess.py
  scripts/sync_smr_schemas.py
Due: python-ruff, python-ruff-format

Release 0.17.5, and engage the migration ratchet
  .github/workflows/ci.yml
  CHANGELOG.md
  Makefile
  README.md
  pyproject.toml
  unify_sdk_layering.md
  uv.lock
Due: none

Make a push to dev publish a .dev prerelease, not a stable release
  .github/workflows/publish-dev.yml
Due: none

Document the exact-pin install, not --pre
  .github/workflows/publish-dev.yml
Due: none

fix(research): sol reasoning efforts use backend vocabulary (max -> xhigh)
  .gitignore
  HANDOFF_SDK_SURFACES.md
  README.md
  openapi/README.md
  openapi/container-contract-v1.yaml
  synth_ai/README.md
  synth_ai/__init__.py
  synth_ai/cli/README.md
  synth_ai/cli/containers.py
  synth_ai/cli/main.py
  synth_ai/cli/pools.py
  synth_ai/cli/tunnels.py
  synth_ai/client.py
  synth_ai/sdk/README.md
  synth_ai/sdk/__init__.py
  synth_ai/sdk/base.py
  synth_ai/sdk/container/__init__.py
  synth_ai/sdk/container/auth.py
  synth_ai/sdk/containers.py
  synth_ai/sdk/horizons_private.py
  synth_ai/sdk/managed_agents/README.md
  synth_ai/sdk/managed_agents/__init__.py
  synth_ai/sdk/managed_agents/client.py
  synth_ai/sdk/managed_agents_anthropic.py
  synth_ai/sdk/openai_agents_sdk.py
  synth_ai/sdk/openai_tools.py
  synth_ai/sdk/pools.py
  synth_ai/sdk/research/schemas/public_models.json
  synth_ai/sdk/research/session/client.py
  synth_ai/sdk/research/session/compat.py
  synth_ai/sdk/research/session/config.py
  synth_ai/sdk/tunnels.py
  ty.toml
  unify_sdk_layering.md
Due: python-import-check, python-ruff, python-ruff-format

refactor: delete alias definitions nothing resolves through
  synth_ai/config.py
  synth_ai/sdk/__init__.py
  synth_ai/sdk/pagination.py
  synth_ai/sdk/research/economics.py
  synth_ai/sdk/research/enums.py
  synth_ai/sdk/research/errors.py
  synth_ai/sdk/research/events.py
  synth_ai/sdk/research/factories.py
  synth_ai/sdk/research/projects.py
  synth_ai/sdk/research/public.py
  synth_ai/sdk/research/session/__init__.py
  synth_ai/sdk/research/session/integrations.py
  synth_ai/sdk/research/session/py.typed
  synth_ai/sdk/research/swarms.py
  synth_ai/sdk/research/visuals.py
Due: python-import-check, python-ruff, python-ruff-format

refactor: strip core/ down to what the package actually calls
  .gitignore
  pyproject.toml
  synth_ai/core/__init__.py
  synth_ai/core/auth/__init__.py
  synth_ai/core/auth/context.py
  synth_ai/core/contracts/__init__.py
  synth_ai/core/contracts/pagination.py
  synth_ai/core/contracts/resources.py
  synth_ai/core/errors.py
  synth_ai/core/utils/__init__.py
  synth_ai/core/utils/dict.py
  synth_ai/core/utils/env.py
  synth_ai/core/utils/json.py
  synth_ai/core/utils/paths.py
  synth_ai/core/utils/urls.py
  synth_ai/core/utils/workspace.py
  synth_ai/sdk/research/contracts/run_events.py
  synth_ai/sdk/research/transport/__init__.py
  synth_ai/sdk/research/transport/retries.py
  synth_ai/sdk/research/transport/streaming.py
  ty.toml
Due: python-import-check, python-ruff, python-ruff-format
