Repository synth-laboratories/synth-ai: changes, and which lefthook commands are due for each by the changed paths.
All: python-typecheck, python-ruff, python-ruff-format, notebook-strip, tui-typecheck, url-centralization, unused-deps, api-drift

lefthook.yml:

# Lefthook Git hooks configuration for synth-ai
# See: https://lefthook.dev/configuration/
#
# Installation:
#   brew install lefthook  # macOS
#   # or: go install github.com/evilmartians/lefthook@latest
#   lefthook install
#
# Usage:
#   lefthook run pre-commit  # Run hooks manually
#   lefthook uninstall      # Remove hooks
#
# Script execution standard:
#   - All scripts live in scripts/
#   - Python scripts: `uv run python scripts/X.py` (same as CI)
#   - TypeScript: `bun run <command>` in the relevant directory

pre-commit:
  parallel: true
  files: git diff --cached --name-only --diff-filter=ACMR
  commands:
    # Python: Type check with ty (Astral's type checker)
    # Runs in project env so it has access to all dependency type stubs
    # Excludes demos/benchmarks - they're experimental with optional deps
    python-typecheck:
      tags:
        - python
        - typecheck
      glob:
        - "*.py"
        - "**/*.py"
      run: uv run --group dev ty check {files}

    # Python: Ruff linting with auto-fix (only on staged Python files that exist)
    python-ruff:
      tags:
        - python
        - lint
      glob:
        - "*.py"
        - "**/*.py"
      run: uv run ruff check --fix --unsafe-fixes {files}
      stage_fixed: true

    # Python: Ruff format with auto-fix (only on staged Python files that exist)
    python-ruff-format:
      tags:
        - python
        - format
      glob:
        - "*.py"
        - "**/*.py"
      run: uv run ruff format {files}
      stage_fixed: true

    # Jupyter: Strip notebook outputs before commit
    notebook-strip:
      tags:
        - jupyter
        - clean
      glob:
        - "*.ipynb"
        - "**/*.ipynb"
      run: uv run nbstripout {files}
      stage_fixed: true

    # TUI: TypeScript typecheck
    tui-typecheck:
      tags:
        - typescript
        - typecheck
      glob:
        - "synth_ai/tui/app/*.ts"
        - "synth_ai/tui/app/**/*.ts"
      root: synth_ai/tui/app
      run: bun run typecheck

    # URL Centralization: Ensure URLs are only defined in authorized files
    url-centralization:
      tags:
        - lint
      glob:
        - "*.py"
        - "**/*.py"
        - "*.ts"
        - "**/*.ts"
        - "*.tsx"
        - "**/*.tsx"
      run: uv run python scripts/check_url_centralization.py {files}

    # Unused Dependencies: Ensure all deps in pyproject.toml are actually used
    unused-deps:
      tags:
        - deps
        - lint
      glob:
        - "pyproject.toml"
      run: uv run python scripts/check_unused_deps.py

    # API Drift: Ensure demos/ and benchmarks/ use valid synth_ai APIs
    api-drift:
      tags:
        - api
        - lint
      glob:
        - "synth_ai/**/*.py"
        - "demos/**/*.py"
        - "benchmarks/**/*.py"
      run: uv run python scripts/check_api_drift.py {files}

fix: handle TLS errors in tunnel readiness
  synth_ai/core/tunnels/manager.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

fix: send api key during tunnel readiness checks
  synth_ai/core/tunnels/manager.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

fix: forward API key headers in gateway health probe
  synth_ai/core/tunnels/gateway.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

fix: use root endpoint for gateway health probe (no auth required)
  synth_ai/core/tunnels/gateway.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

fix: update event type names to match backend
  demos/gepa_banking77/run_demo.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

fix: add real-time progress tracking for eval jobs via events
  demos/gepa_banking77/run_demo.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

Add Harbor demo for EngineBench evaluations
  demos/harbor/Dockerfile
  demos/harbor/README.md
  demos/harbor/__init__.py
  demos/harbor/create_deployment.py
  demos/harbor/run_harbor_eval.py
  demos/harbor/run_rollout.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

fix(harbor): Fix agent CLI invocation and interceptor compatibility
  demos/harbor/Dockerfile
  demos/harbor/create_deployment.py
  demos/harbor/run_harbor_eval.py
  demos/harbor/run_rollout.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

fix(harbor): Use OPENCODE_CONFIG_CONTENT env var for highest priority config
  demos/harbor/run_rollout.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

fix(harbor): Fix agent CLI invocation and interceptor compatibility (#185)
  demos/harbor/Dockerfile
  demos/harbor/create_deployment.py
  demos/harbor/run_harbor_eval.py
  demos/harbor/run_rollout.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

fix(harbor): Append trace correlation ID to inference URL for trace capture
  demos/harbor/run_harbor_eval.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

docs(harbor): Clarify that simple inference proxy doesn't capture traces
  demos/harbor/run_harbor_eval.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

fix(harbor): Use SDK EvalJob for proper trace capture
  demos/harbor/run_harbor_eval.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

fix(harbor): Rewrite eval script to use SDK EvalJob (WIP)
  demos/harbor/run_harbor_eval.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

Add Harbor SDK, LocalAPI integration, and CLI commands
  synth_ai/cli/commands/harbor/__init__.py
  synth_ai/cli/commands/harbor/build.py
  synth_ai/cli/commands/harbor/instances.py
  synth_ai/cli/commands/harbor/list.py
  synth_ai/cli/commands/harbor/run.py
  synth_ai/cli/commands/harbor/status.py
  synth_ai/cli/commands/harbor/upload.py
  synth_ai/cli/main.py
  synth_ai/sdk/harbor/__init__.py
  synth_ai/sdk/harbor/build_spec.py
  synth_ai/sdk/harbor/packager.py
  synth_ai/sdk/harbor/uploader.py
  synth_ai/sdk/localapi/__init__.py
  synth_ai/sdk/localapi/harbor_adapter.py
  synth_ai/sdk/localapi/harbor_provider.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

Add inference_url to Harbor CLI run command payload
  synth_ai/cli/commands/harbor/run.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

fix: Update Banking77 notebook to load from source CSV
  demos/gepa_banking77/gepa_banking77_prompt_optimization.ipynb
Due: notebook-strip

fix: handle asyncio.run() in running event loop
  synth_ai/sdk/eval/job.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

Add shared HTTP client pool for high-concurrency LLM calls
  synth_ai/sdk/localapi/_impl/__init__.py
  synth_ai/sdk/localapi/_impl/http_pool.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

add core consolidation todo
  todo_refine_core.txt
Due: none

fix tunnel logging and idle shutdown
  synth_ai_core/src/tunnels/cloudflared.rs
  synth_ai_core/src/tunnels/connector.rs
  synth_ai_py/src/lib.rs
Due: none

wip http pooling updates
  demos/gepa_banking77/run_demo.py
  demos/gepa_banking77/run_eval.py
  demos/gepa_crafter_vlm/quick_eval.py
  demos/gepa_crafter_vlm/run_comparison_only.py
  demos/gepa_crafter_vlm/run_streaming.py
  synth_ai/core/rust_core/__init__.py
  synth_ai/core/rust_core/http.py
  synth_ai/core/rust_core/sse.py
  synth_ai/core/rust_core/urls.py
  synth_ai/core/streaming/streamer.py
  synth_ai/sdk/clients/__init__.py
  synth_ai/sdk/clients/anthropic.py
  synth_ai/sdk/clients/openai.py
  synth_ai/sdk/eval/job.py
  synth_ai/sdk/graphs/completions.py
  synth_ai/sdk/inference/client.py
  synth_ai/sdk/localapi/_impl/client.py
  synth_ai/sdk/localapi/_impl/inference_api.py
  synth_ai/sdk/optimization/internal/learning/client.py
  synth_ai/sdk/optimization/internal/learning/health.py
  synth_ai/sdk/optimization/internal/learning/jobs.py
  synth_ai/sdk/optimization/internal/learning/pattern_discovery.py
  synth_ai/sdk/optimization/internal/learning/prompt_learning_client.py
  synth_ai/sdk/optimization/internal/learning/sse.py
  synth_ai/sdk/optimization/internal/utils.py
  synth_ai/sdk/optimization/policy/mipro_online_session.py
  synth_ai/sdk/shared/__init__.py
  synth_ai/sdk/shared/http.py
  synth_ai_rs/Cargo.toml
  synth_ai_rs/src/client.rs
  synth_ai_rs/src/core/http.rs
  synth_ai_rs/src/core/mod.rs
  synth_ai_rs/src/core/sse.rs
  synth_ai_rs/src/eval.rs
  synth_ai_rs/src/lib.rs
  synth_ai_rs/src/optimization.rs
  synth_ai_rs/src/sse.rs
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

Add required online_rollouts_per_candidate config to MIPRO demo
  demos/mipro_banking77/run_online_demo.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

Read candidate_id from backend status response
  demos/gepa_banking77/localapi_banking77.py
  demos/mipro_banking77/run_online_demo.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

Bump version to 0.8.1
  pyproject.toml
Due: unused-deps

Add missing map_tunnel_err function for Python bindings
  synth_ai_py/src/lib.rs
Due: none

Add MIPRO docstrings and prefer SYNTH_URL
  demos/mipro_banking77/run_online_demo.py
  synth_ai/sdk/optimization/policy/job.py
  synth_ai/sdk/optimization/policy/mipro_online_session.py
  uv.lock
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

Fix HttpClientPy -> HttpClient naming mismatch
  demos/mipro_crafter_ontology/README.md
  demos/mipro_crafter_ontology/run_online_demo.py
  synth_ai/core/utils/env.py
  synth_ai/sdk/eval/job.py
  synth_ai/sdk/graphs/trace_upload.py
  synth_ai/sdk/inference/client.py
  synth_ai/sdk/optimization/internal/utils.py
  synth_ai_core/src/orchestration/graph_evolve.rs
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

Update MIPRO crafter ontology demo
  demos/mipro_crafter_ontology/run_online_demo.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

chore: bump version to 0.9.0
  pyproject.toml
Due: unused-deps

fix rust core port and legacy python shims
  synth_ai/core/env.py
  synth_ai/core/urls.py
  synth_ai/core/utils/env.py
  synth_ai/data/__init__.py
  synth_ai/data/rubrics.py
  synth_ai/sdk/api/__init__.py
  synth_ai/sdk/api/train/__init__.py
  synth_ai/sdk/api/train/prompt_learning.py
  synth_ai/sdk/localapi/contracts.py
  synth_ai/sdk/task/__init__.py
  synth_ai/sdk/task/contracts.py
  synth_ai/sdk/task/rubrics/__init__.py
  synth_ai/sdk/task/rubrics/models.py
  synth_ai/sdk/task/server.py
  synth_ai/sdk/tunnels.py
  synth_ai_core/src/api/eval.rs
  synth_ai_core/src/http.rs
  synth_ai_core/src/lib.rs
  synth_ai_core/src/orchestration/events.rs
  synth_ai_core/src/orchestration/prompt_learning.rs
  synth_ai_core/src/sse.rs
  synth_ai_core/src/tracing/libsql_storage.rs
  synth_ai_py/src/lib.rs
  uv.lock
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

allow rust model objects in python json conversion
  synth_ai_py/src/lib.rs
Due: none

normalize rust model kwargs via jsonable
  synth_ai_py/src/lib.rs
Due: none
