Repository synth-laboratories/synth-ai: changes, and which lefthook commands are due for each by the changed paths.
All: python-import-check, python-ruff, python-ruff-format, notebook-strip

python-import-check:
  tags:
  - python
  - lint
  run: uv run python .lefthook/pre-commit/import_check.py {files}

python-ruff:
  tags:
  - python
  - lint
  run: uv run ruff check --fix --force-exclude {files}
  stage_fixed: true

python-ruff-format:
  tags:
  - python
  - format
  run: uv run ruff format --force-exclude {files}
  stage_fixed: true

notebook-strip:
  tags:
  - jupyter
  - clean
  run: uv run nbstripout {files}
  stage_fixed: true

Bump versions: Python SDK 0.8.0, Rust SDK 0.4.0
  README.md
  pyproject.toml
  synth_ai_rs/Cargo.toml
Due: none

Bump synth-ai-core to 0.3.0 for crates.io publish
  synth_ai_core/Cargo.toml
  synth_ai_rs/Cargo.toml
Due: none

Fix local GEPA compatibility and URL normalization
  synth_ai/data/objectives.py
  synth_ai/sdk/container/_impl/validators.py
  synth_ai/sdk/optimization/internal/configs/prompt_learning.py
  synth_ai/sdk/optimization/internal/graphgen_models.py
  synth_ai/sdk/optimization/internal/prompt_learning.py
  synth_ai/sdk/optimization/internal/validators.py
  synth_ai/sdk/optimization/policy/__init__.py
  synth_ai/sdk/optimization/policy/mipro_online_session.py
  synth_ai_core/src/data/enums.rs
  uv.lock
Due: python-import-check, python-ruff, python-ruff-format

Normalize SDK around rust core; remove Python HTTP fallbacks
  synth_ai/core/errors.py
  synth_ai/core/tunnels/synth_tunnel.py
  synth_ai/core/tunnels/tunneled_api.py
  synth_ai/sdk/environment_pools.py
  synth_ai/sdk/graphs/completions.py
  synth_ai_core/Cargo.toml
  synth_ai_core/src/environment_pools.rs
  synth_ai_core/src/errors.rs
  synth_ai_core/src/http.rs
  synth_ai_core/src/lib.rs
  synth_ai_core/src/plan_gating.rs
  synth_ai_core/src/tunnels/mod.rs
  synth_ai_core/src/tunnels/synthtunnel_client.rs
  synth_ai_py/src/lib.rs
  synth_ai_rs/src/environment_pools.rs
  tests/unit/test_environment_pools.py
  tests/unit/test_graph_completions_http_fallback.py
  tests/unit/test_graph_completions_rust_only.py
  tests/unit/test_rust_extension_exports.py
  tests/unit/test_tunneled_api_synthtunnel_rust_lease.py
Due: python-import-check, python-ruff, python-ruff-format

SYN-1388: Add devcontainer.json declarative env definition to dev-sandbox
  devcontainer.json
Due: none

SYN-1388: Add devcontainer.json declarative env definition to dev-sandbox
  .devcontainer/devcontainer.json
Due: none

feat: SMR managed research SDK, MCP control plane, environment pool fixes
  contracts/smr-sdk-mcp-control-proposal-2026-02-19.md
  examples/managed_research/banking77_starting_data/README.md
  examples/managed_research/banking77_starting_data/banking77_eval_output_seed20.json
  examples/managed_research/banking77_starting_data/input_spec.json
  examples/managed_research/run_banking77_eval_with_starting_data.py
  examples/managed_research/run_sdk_lifecycle.py
  examples/research/run_http_gepa_eval_e2e.py
  pyproject.toml
  skills/synth-smr-control/SKILL.md
  skills/synth-smr-control/agents/openai.yaml
  skills/synth-smr-control/references/api-surface.md
  skills/synth-smr-control/scripts/smr_control.py
  synth_ai/cli/commands/managed_research/__init__.py
  synth_ai/cli/main.py
  synth_ai/mcp/__init__.py
  synth_ai/mcp/managed_research_server.py
  synth_ai/sdk/README.md
  synth_ai/sdk/__init__.py
  synth_ai/sdk/environment_pools.py
  synth_ai/sdk/managed_research.py
  synth_ai/sdk/optimization/internal/prompt_learning.py
  tests/unit/test_environment_pools.py
  tests/unit/test_managed_research.py
  tests/unit/test_managed_research_mcp.py
Due: python-import-check, python-ruff, python-ruff-format

SYN-1388: Add devcontainer.json declarative env definition to dev-sandbox (#188)
  .devcontainer/devcontainer.json
Due: none

SYN-1388: Add devcontainer.json declarative env definition to dev-sandbox
  .devcontainer/devcontainer.json
  .sandbox/setup.sh
  README.md
Due: none

SYN-1365: SDK: Add LeverHandle + SensorFrame client APIs
  synth_ai/sdk/optimization/internal/learning/client.py
  synth_ai/sdk/optimization/models.py
  tests/optimization/test_learning_client_levers_sensors.py
Due: python-import-check, python-ruff, python-ruff-format

SYN-1351: Test every SDK/API path for continual learning
  tests/unit/test_mipro_online_session.py
Due: python-ruff, python-ruff-format

SYN-1351: Test every SDK/API path for continual learning (#192)
  tests/unit/test_mipro_online_session.py
Due: python-ruff, python-ruff-format

SYN-1388: Add devcontainer.json declarative env definition to dev-sandbox
  .devcontainer/devcontainer.json
  devcontainer.json
Due: none

chore: bump synth-ai to 0.8.1
  pyproject.toml
Due: none

feat: SMR managed research CLI, MCP control, environment pool, SDK lifecycle
  contracts/smr-sdk-mcp-control-proposal-2026-02-19.md
  examples/managed_research/run_sdk_lifecycle.py
  skills/synth-smr-control/references/api-surface.md
  synth_ai/cli/commands/managed_research/__init__.py
  synth_ai/cli/main.py
  synth_ai/mcp/managed_research_server.py
  synth_ai/sdk/eval/job.py
  synth_ai/sdk/managed_research.py
  synth_ai/sdk/optimization/internal/prompt_learning.py
  synth_ai/sdk/optimization/internal/prompt_learning_polling.py
  synth_ai/sdk/optimization/models.py
  synth_ai/sdk/optimization/policy/job.py
  tests/optimization/test_results.py
  tests/unit/test_github_cli.py
  tests/unit/test_managed_research.py
  tests/unit/test_managed_research_mcp.py
  tests/unit/test_prompt_learning_rollout_health_check_mode.py
  tests/unit/test_run_sdk_lifecycle_preflight.py
Due: python-import-check, python-ruff, python-ruff-format

fix: pin macOS Python to 3.12 in publish workflows, skip unimplemented tests
  .github/workflows/publish-dev.yml
  .github/workflows/publish.yml
  pyproject.toml
  tests/unit/test_managed_research.py
  tests/unit/test_managed_research_mcp.py
Due: python-ruff, python-ruff-format

fix: GEPA polling URL for Railway dev - derive infra-api from api-dev/api
  synth_ai/sdk/container/auth.py
  synth_ai/sdk/managed_research.py
  synth_ai/sdk/optimization/internal/prompt_learning.py
  synth_ai_core/src/orchestration/events.rs
  synth_ai_core/src/orchestration/prompt_learning.rs
  synth_ai_core/src/orchestration/streaming.rs
  tests/unit/test_container_auth_fetch_backend_env_key.py
  tests/unit/test_managed_research.py
  uv.lock
Due: python-import-check, python-ruff, python-ruff-format

chore: checkpoint before implementation (2026-02-22)
  AGENTS.md
  synth_ai/cli/AGENTS.md
  synth_ai/core/tunnels/service_records.py
  synth_ai/core/tunnels/synth_tunnel.py
  synth_ai/core/tunnels/tunneled_api.py
  synth_ai/core/utils/urls.py
  synth_ai/sdk/container/_impl/server.py
  synth_ai/sdk/eval/job.py
  synth_ai/sdk/managed_research.py
  synth_ai/sdk/optimization/internal/container_app.py
  synth_ai/sdk/optimization/internal/prompt_learning.py
  synth_ai/sdk/optimization/models.py
  synth_ai/sdk/optimization/policy/gepa_online_session.py
  synth_ai/sdk/optimization/policy/job.py
  synth_ai/sdk/optimization/policy/mipro_online_session.py
  tests/unit/test_container_health_key_scoping.py
  tests/unit/test_container_server_logging_and_cors.py
  tests/unit/test_eval_job_config_aliases.py
  tests/unit/test_gepa_online_session.py
  tests/unit/test_managed_research.py
  tests/unit/test_managed_research_artifact_redirects.py
  tests/unit/test_mipro_online_session.py
  tests/unit/test_policy_optimization_job_container_url.py
  tests/unit/test_prompt_learning_synthtunnel_env_key.py
  tests/unit/test_service_records_cleanup.py
  tests/unit/test_synth_tunnel_deadline_timeout.py
  tests/unit/test_synth_tunnel_frame_handling.py
  tests/unit/test_synth_tunnel_header_sanitization.py
  tests/unit/test_synth_tunnel_lease_validation.py
  tests/unit/test_synth_tunnel_response_headers.py
  tests/unit/test_synth_tunnel_session_close.py
  tests/unit/test_synthtunnel_url_detection.py
  tests/unit/test_tunneled_container_close.py
  tests/unit/test_tunneled_container_create_cleanup.py
Due: python-import-check, python-ruff, python-ruff-format

feat(sdk): v1 policy optimization client, deprecate legacy session classes
  synth_ai/sdk/__init__.py
  synth_ai/sdk/container_pools.py
  synth_ai/sdk/environment_pools.py
  synth_ai/sdk/managed_pools.py
  synth_ai/sdk/optimization/__init__.py
  synth_ai/sdk/optimization/internal/learning/prompt_learning_client.py
  synth_ai/sdk/optimization/internal/prompt_learning.py
  synth_ai/sdk/optimization/internal/prompt_learning_service.py
  synth_ai/sdk/optimization/policy/__init__.py
  synth_ai/sdk/optimization/policy/gepa_online_session.py
  synth_ai/sdk/optimization/policy/job.py
  synth_ai/sdk/optimization/policy/mipro_online_session.py
  synth_ai/sdk/optimization/policy/v1.py
Due: python-import-check, python-ruff, python-ruff-format

enforce container auth contract and expand model support
  AGENTS.md
  README.md
  synth_ai/config/supported_models.json
  synth_ai/gepa/api.py
  synth_ai/sdk/README.md
  synth_ai/sdk/environment_pools.py
  synth_ai/sdk/optimization/internal/builders.py
  synth_ai/sdk/optimization/internal/configs/prompt_learning.py
  synth_ai/sdk/optimization/internal/validators.py
  synth_ai_core/README.md
  synth_ai_core/assets/supported_models.json
  synth_ai_core/src/orchestration/builders.rs
  synth_ai_core/src/orchestration/validation.rs
  tests/optimization/test_prompt_learning_builder.py
  tests/optimization/test_prompt_learning_validation.py
  tests/unit/test_environment_pools.py
Due: python-import-check, python-ruff, python-ruff-format

hard cutover: ship canonical front-door sdk surface
  synth_ai/__init__.py
  synth_ai/client.py
  synth_ai/container.py
  synth_ai/graphs.py
  synth_ai/inference.py
  synth_ai/optimization.py
  synth_ai/pools.py
  synth_ai/sdk/__init__.py
  synth_ai/verifiers.py
  tests/unit/test_canonical_frontdoor.py
Due: python-import-check, python-ruff, python-ruff-format

hard cutover: drop legacy policy-job exports from sdk optimization
  synth_ai/sdk/optimization/__init__.py
  synth_ai/sdk/optimization/policy/__init__.py
Due: python-import-check, python-ruff, python-ruff-format

hard cutover: enforce canonical sdk contracts and recipes split
  synth_ai/README.md
  synth_ai/__init__.py
  synth_ai/cli/README.md
  synth_ai/cli/commands/harbor/run.py
  synth_ai/dspy/miprov2.py
  synth_ai/gepa/api.py
  synth_ai/optimization.py
  synth_ai/recipes.py
  synth_ai/sdk/README.md
  synth_ai/sdk/container/_impl/trace_correlation_helpers.py
  synth_ai/sdk/container/harbor_adapter.py
  synth_ai/sdk/optimization/__init__.py
  synth_ai/sdk/optimization/internal/learning/client.py
  synth_ai/sdk/optimization/internal/validators.py
  synth_ai/sdk/optimization/policy/__init__.py
  synth_ai/sdk/optimization/policy/gepa_online_session.py
  synth_ai/sdk/optimization/policy/mipro_online_session.py
  tests/unit/test_canonical_frontdoor.py
  tests/unit/test_harbor_adapter_canonical_contract.py
  tests/unit/test_hard_cutover_container_aliases.py
Due: python-import-check, python-ruff, python-ruff-format

front-door: add first-class containers, pool targets, and synth tunnels
  synth_ai/__init__.py
  synth_ai/client.py
  synth_ai/container.py
  synth_ai/pools.py
  synth_ai/tunnels.py
  tests/unit/test_canonical_frontdoor.py
Due: python-import-check, python-ruff, python-ruff-format

pools: add agent rollout and task abstractions to front-door sdk
  synth_ai/client.py
  synth_ai/tunnels.py
  tests/unit/test_canonical_frontdoor.py
Due: python-import-check, python-ruff, python-ruff-format

frontdoor: hard-cut pool and container compat aliases
  synth_ai/client.py
  synth_ai/container.py
  tests/unit/test_canonical_frontdoor.py
Due: python-import-check, python-ruff, python-ruff-format

sdk: hard-cut legacy rollout and reward-source vocabulary
  synth_ai/client.py
  synth_ai/core/streaming/config.py
  synth_ai/data/objectives.py
  synth_ai/sdk/optimization/internal/configs/prompt_learning.py
Due: python-import-check, python-ruff, python-ruff-format

sdk: remove remaining task-app/localapi terminology from active docs and comments
  synth_ai/core/README.md
  synth_ai/core/auth/storage.py
  synth_ai/data/coding_agent_context.py
  synth_ai/data/rubrics.py
  synth_ai/sdk/container/_impl/apps_common.py
  synth_ai/sdk/container/_impl/container_template.py
  synth_ai/sdk/container/_impl/datasets.py
  synth_ai/sdk/container/_impl/errors.py
  synth_ai/sdk/container/_impl/rubrics/__init__.py
  synth_ai/sdk/container/_impl/rubrics/loaders.py
  synth_ai/sdk/container/_impl/trace_helpers.py
  synth_ai/sdk/optimization/graph/job.py
  synth_ai/sdk/optimization/internal/graphgen.py
Due: python-import-check, python-ruff, python-ruff-format

sdk: complete container wording hard-cut and strict rollout surface
  MANIFEST.in
  contracts/container.yaml
  examples/managed_research/banking77_starting_data/banking77_eval_output_seed20.json
  examples/managed_research/run_sdk_lifecycle.py
  examples/research/run_http_gepa_eval_e2e.py
  synth_ai/sdk/optimization/internal/graphgen_models.py
  synth_ai/sdk/optimization/internal/validators.py
  synth_ai_core/src/container/trace_helpers.rs
  synth_ai_core/src/container/types.rs
  synth_ai_core/src/data/context_override.rs
  synth_ai_core/src/data/enums.rs
  tests/unit/test_canonical_frontdoor.py
Due: python-import-check, python-ruff, python-ruff-format

sdk: remove legacy strict-error field rewrite shim
  synth_ai/sdk/optimization/internal/validators.py
Due: python-import-check, python-ruff, python-ruff-format

sdk: checkpoint remaining hard-cut workspace changes
  AGENTS.md
  README.md
  pyproject.toml
  synth_ai/core/tracing_v3/tests/__init__.py
  synth_ai/core/tracing_v3/tests/test_concurrent_operations.py
  synth_ai/core/tracing_v3/tests/test_llm_call_records.py
  synth_ai/core/tracing_v3/tests/test_replica_sync.py
  synth_ai/core/tracing_v3/tests/test_session_tracer.py
  synth_ai/core/tracing_v3/tests/test_turso_manager.py
  tests/unit/test_mipro_online_session.py
Due: python-import-check, python-ruff, python-ruff-format

release: bump synth-ai to 0.9.0
  README.md
  pyproject.toml
Due: none

release: refresh lockfile for 0.9.0
  uv.lock
Due: none

specs: add sdk logic and openapi http contract
  openapi/README.md
  openapi/synth-api-v1.yaml
  specs/README.md
Due: none

specs: add sdk logic and http-openai markdown specs
  specs/http_openai.md
  specs/sdk_logic.md
Due: none

Path conditions:
  python-import-check: any of: synth_ai/*.py, synth_ai/**/*.py
  python-ruff: any of: *.py, **/*.py
  python-ruff-format: any of: *.py, **/*.py
  notebook-strip: any of: *.ipynb, **/*.ipynb
