Repository synth-laboratories/synth-ai: changes, and which lefthook commands are due for each by the changed paths.
All: python-import-check, python-ruff, python-ruff-format, notebook-strip

python-import-check:
  tags:
  - python
  - lint
  run: uv run python .lefthook/pre-commit/import_check.py {files}

python-ruff:
  tags:
  - python
  - lint
  run: uv run ruff check --fix --force-exclude {files}
  stage_fixed: true

python-ruff-format:
  tags:
  - python
  - format
  run: uv run ruff format --force-exclude {files}
  stage_fixed: true

notebook-strip:
  tags:
  - jupyter
  - clean
  run: uv run nbstripout {files}
  stage_fixed: true

chore: release 0.9.10
  README.md
  pyproject.toml
  synth_ai/mcp/managed_research_server.py
  synth_ai/sdk/managed_research.py
  uv.lock
Due: python-import-check, python-ruff, python-ruff-format

Release synth-ai 0.9.11: SMR MCP usage and control tools
  README.md
  pyproject.toml
  synth_ai/mcp/managed_research_server.py
  synth_ai/sdk/managed_research.py
  uv.lock
Due: python-import-check, python-ruff, python-ruff-format

Expand managed research SDK and MCP support
  synth_ai/mcp/managed_research_server.py
  synth_ai/sdk/managed_research.py
  synth_ai/sdk/managed_research_events.py
  synth_ai/sdk/managed_research_git.py
  synth_ai/sdk/managed_research_projects.py
  synth_ai/sdk/managed_research_runtime.py
  synth_ai/sdk/managed_research_sublinear.py
  test_managed_research_mcp_server.py
Due: python-import-check, python-ruff, python-ruff-format

Delegate hooks to synth-dev commit hygiene
  lefthook.yml
Due: none

sdk: add sandbox_override to trigger_run for per-run image/snapshot
  synth_ai/sdk/managed_research.py
Due: python-import-check, python-ruff, python-ruff-format

Snapshot: sandbox_override SDK + CI + dependency updates
  .github/workflows/ci.yml
  .github/workflows/publish-dev.yml
  README.md
  pyproject.toml
  synth_ai/core/utils/env.py
  synth_ai/core/utils/urls.py
  synth_ai/gepa/api.py
  synth_ai/sdk/container/_impl/in_process_runner.py
  synth_ai/sdk/managed_research.py
  synth_ai/sdk/optimization/internal/prompt_learning.py
  synth_ai/sdk/optimization/policy/job.py
  uv.lock
Due: python-import-check, python-ruff, python-ruff-format

Add Smoke Test B todo-tool prompt-opt candidate for Craftax
  configs/craftax_prompt_opt_qwen35_4b_smoke_test_b.yaml
  records/prompt_opt_1usd_gpt54_family/2026-04-09_smoke_test_b/command.txt
  records/prompt_opt_1usd_gpt54_family/2026-04-09_smoke_test_b/metadata.json
  records/prompt_opt_1usd_gpt54_family/2026-04-09_smoke_test_b/metrics.json
  records/prompt_opt_1usd_gpt54_family/2026-04-09_smoke_test_b/notes.md
  records/prompt_opt_1usd_gpt54_family/2026-04-09_smoke_test_b/run_config.yaml
  records/prompt_opt_1usd_gpt54_family/2026-04-09_smoke_test_b/system_info.json
Due: none

Add Smoke Test B todo-tool prompt-opt candidate for Craftax
  configs/craftax_prompt_opt_qwen35_4b_smoke_test_b.yaml
  records/prompt_opt_1usd_gpt54_family/2026-04-09_smoke_test_b/command.txt
  records/prompt_opt_1usd_gpt54_family/2026-04-09_smoke_test_b/metrics.json
  records/prompt_opt_1usd_gpt54_family/2026-04-09_smoke_test_b/notes.md
  records/prompt_opt_1usd_gpt54_family/2026-04-09_smoke_test_b/run_config.yaml
Due: none

ci: remove notify-docs job — dispatch target no longer exists
  .github/workflows/ci.yml
Due: none

sdk: add OpenAI Agents SDK client and tool builder helpers
  synth_ai/__init__.py
  synth_ai/sdk/openai_agents_sdk.py
  synth_ai/sdk/openai_tools.py
Due: python-import-check, python-ruff, python-ruff-format

Add managed-agents-2026-04-01 beta header to ManagedAgentsAnthropicClient
  synth_ai/sdk/managed_agents_anthropic.py
Due: python-import-check, python-ruff, python-ruff-format

WIP: snapshot local changes (2026-04-20)
  .agents/plugins/managed-research/.codex-plugin/plugin.json
  .agents/plugins/managed-research/.mcp.json
  .agents/plugins/managed-research/README.md
  .agents/plugins/marketplace.json
  .agents/plugins/synth-managed-research/.codex-plugin/plugin.json
  .agents/plugins/synth-managed-research/README.md
  README.md
  benchmark/seed/README.md
  benchmark/seed/task.toml
  benchmark/seed/task_contract.json
  benchmark/seed/workspace/nanohorizon_craftax_hello_world_worker.py
  benchmark/seed/workspace/run_nanohorizon_craftax_hello_world_task.py
  managed_agents/examples/craftax_empowerment_verifier.yaml
  managed_agents/templates/README.md
  managed_agents/templates/verifier_config.template.yaml
  openapi/synth-api-v1.yaml
  pyproject.toml
  scripts/codex_mcp_stdio_wrapper.py
  synth_ai/client.py
  synth_ai/sdk/README.md
  synth_ai/sdk/__init__.py
  synth_ai/sdk/horizons_private.py
  synth_ai/sdk/pools.py
  synth_ai_core/assets/data_enum_values.json
  uv.lock
Due: python-import-check, python-ruff, python-ruff-format

chore: checkpoint current work
  README.md
  synth_ai/README.md
  synth_ai/cli/README.md
  synth_ai/client.py
  synth_ai/core/README.md
  synth_ai/sdk/README.md
  synth_ai/sdk/container/auth.py
  synth_ai/sdk/containers.py
  synth_ai/sdk/managed_agents_anthropic.py
  synth_ai/sdk/openai_agents_sdk.py
  synth_ai/sdk/pools.py
  synth_ai/sdk/tunnels.py
Due: python-import-check, python-ruff, python-ruff-format

Update synth-dev workflow references
  AGENTS.md
  lefthook.yml
Due: none

Update open research SDK contracts
  openapi/container-contract-v1.yaml
  openapi/synth-api-v1.yaml
  synth_ai/core/utils/urls.py
  synth_ai/sdk/pools.py
Due: python-import-check, python-ruff, python-ruff-format

docs: add prod logging runbook and beta plan notes
  benchmark/seed/README.md
  benchmark/seed/task.toml
  benchmark/seed/task_contract.json
  benchmark/seed/workspace/nanohorizon_craftax_hello_world_worker.py
  benchmark/seed/workspace/run_nanohorizon_craftax_hello_world_task.py
  prod_logging/README.md
  synth_ai/core/errors.py
Due: python-import-check, python-ruff, python-ruff-format

Add managed agents run helpers
  synth_ai/__init__.py
  synth_ai/sdk/__init__.py
  synth_ai/sdk/managed_agents_anthropic.py
Due: python-import-check, python-ruff, python-ruff-format

Add Anthropic managed agents SDK parity reference
  docs/references/anthropic_python_sdk/2026-05-08/LICENSE
  docs/references/anthropic_python_sdk/2026-05-08/README.md
  docs/references/anthropic_python_sdk/2026-05-08/managed_agents_anthropic_sdk_parity.md
  docs/references/anthropic_python_sdk/2026-05-08/source/resources/beta/agents/agents.py
  docs/references/anthropic_python_sdk/2026-05-08/source/resources/beta/agents/versions.py
  docs/references/anthropic_python_sdk/2026-05-08/source/resources/beta/beta.py
  docs/references/anthropic_python_sdk/2026-05-08/source/resources/beta/environments.py
  docs/references/anthropic_python_sdk/2026-05-08/source/resources/beta/files.py
  docs/references/anthropic_python_sdk/2026-05-08/source/resources/beta/memory_stores/memories.py
  docs/references/anthropic_python_sdk/2026-05-08/source/resources/beta/memory_stores/memory_stores.py
  docs/references/anthropic_python_sdk/2026-05-08/source/resources/beta/memory_stores/memory_versions.py
  docs/references/anthropic_python_sdk/2026-05-08/source/resources/beta/sessions/events.py
  docs/references/anthropic_python_sdk/2026-05-08/source/resources/beta/sessions/resources.py
  docs/references/anthropic_python_sdk/2026-05-08/source/resources/beta/sessions/sessions.py
  docs/references/anthropic_python_sdk/2026-05-08/source/resources/beta/sessions/threads/events.py
  docs/references/anthropic_python_sdk/2026-05-08/source/resources/beta/sessions/threads/threads.py
  docs/references/anthropic_python_sdk/2026-05-08/source/resources/beta/skills/skills.py
  docs/references/anthropic_python_sdk/2026-05-08/source/resources/beta/skills/versions.py
  docs/references/anthropic_python_sdk/2026-05-08/source/resources/beta/vaults/credentials.py
  docs/references/anthropic_python_sdk/2026-05-08/source/resources/beta/vaults/vaults.py
  docs/references/anthropic_python_sdk/2026-05-08/source/resources/beta/webhooks.py
Due: python-ruff, python-ruff-format

checkpoint: snapshot WIP before consolidation (2026-05-18)
  README.md
  synth_ai/__init__.py
  synth_ai/client.py
  synth_ai/core/utils/__init__.py
  synth_ai/core/utils/workspace.py
  synth_ai/sdk/README.md
  synth_ai/sdk/__init__.py
  synth_ai/sdk/managed_agents/README.md
  synth_ai/sdk/managed_agents/__init__.py
  synth_ai/sdk/managed_agents/client.py
  synth_ai/sdk/managed_agents_anthropic.py
Due: python-import-check, python-ruff, python-ruff-format

Add Research SDK bootstrap, README/Crafter run drivers, and parallel DEO lane.
  .gitignore
  benchmark/seed/README.md
  benchmark/seed/task.toml
  benchmark/seed/task_contract.json
  benchmark/seed/workspace/nanohorizon_craftax_hello_world_worker.py
  benchmark/seed/workspace/run_nanohorizon_craftax_hello_world_task.py
  crafter_runs/README.md
  crafter_runs/__init__.py
  crafter_runs/crafter_deo_run.py
  crafter_runs/lane/README.md
  crafter_runs/lane/RUBRIC.json
  crafter_runs/lane/containers/crafter/heuristic_policy.py
  crafter_runs/lane/containers/crafter/run_heuristic_sweep.py
  crafter_runs/lane/task.toml
  crafter_runs/lane/task_contract.json
  crafter_runs/lane/workspace/run_hillclimb_symbolicbench_task.py
  crafter_runs/runs/.gitkeep
  crafter_runs/runs/README.md
  pyproject.toml
  readme_runs/README.md
  readme_runs/__init__.py
  readme_runs/readme_smoke.py
  readme_runs/runs/.gitkeep
  readme_runs/runs/README.md
  readme_runs/runs/latest
  readme_smoke.py
  scripts/research_t0_api_shape.py
  scripts/run_crafter_deo_hillclimb_1cand_slot1.sh
  scripts/run_readme_smoke_slot1.sh
  synth_ai/__init__.py
  synth_ai/client.py
  synth_ai/research/__init__.py
  synth_ai/research/client.py
  synth_ai/research/control.py
  synth_ai/research/enums.py
  synth_ai/research/errors.py
  synth_ai/research/models.py
  synth_ai/research/projects.py
  synth_ai/research/runs.py
  uv.lock
Due: python-import-check, python-ruff, python-ruff-format

test(research): port managed research contract suite
  pyproject.toml
  pytest.ini
  scripts/validate_contract.py
  synth_ai/managed_research/__init__.py
  synth_ai/managed_research/sdk/__init__.py
  tests/managed_research/contract/test_public_surface.py
  tests/managed_research/contract/test_smr_reviewer_subtypes.py
  tests/managed_research/mcp/test_server_tools.py
  tests/managed_research/open_research/__init__.py
  tests/managed_research/open_research/conftest.py
  tests/managed_research/open_research/test_client.py
  tests/managed_research/open_research/test_fingerprint.py
  tests/managed_research/open_research/test_integration_local.py
  tests/managed_research/open_research/test_mcp_tools.py
  tests/managed_research/sdk/test_client_workspace_and_progress.py
  tests/managed_research/sdk/test_namespaces.py
  tests/managed_research/sdk/test_openai_bridge.py
  tests/managed_research/transport/test_helpers.py
  tests/managed_research/transport/test_limit_errors.py
Due: python-import-check, python-ruff, python-ruff-format

ci(research): validate managed research contracts
  .github/workflows/ci.yml
Due: none

fix(research): harden synth-ai managed research cutover
  .agents/plugins/managed-research/README.md
  synth_ai/managed_research/mcp/__main__.py
  synth_ai/managed_research/schema_sync.py
  synth_ai/managed_research/sdk/client.py
Due: python-import-check, python-ruff, python-ruff-format

fix(research): mirror hosted mcp compatibility aliases
  synth_ai/managed_research/mcp/server.py
  synth_ai/managed_research/sdk/client.py
Due: python-import-check, python-ruff, python-ruff-format

style(research): satisfy managed research SDK gates
  benchmark/seed/workspace/nanohorizon_craftax_hello_world_worker.py
  benchmark/seed/workspace/run_nanohorizon_craftax_hello_world_task.py
  crafter_runs/crafter_deo_run.py
  crafter_runs/lane/containers/crafter/heuristic_policy.py
  crafter_runs/lane/containers/crafter/run_heuristic_sweep.py
  crafter_runs/lane/workspace/run_hillclimb_symbolicbench_task.py
  readme_runs/readme_smoke.py
  synth_ai/core/utils/workspace.py
  synth_ai/managed_research/__init__.py
  synth_ai/managed_research/errors.py
  synth_ai/managed_research/mcp/server.py
  synth_ai/managed_research/mcp/tools/open_research.py
  synth_ai/managed_research/mcp/tools/projects.py
  synth_ai/managed_research/models/canonical_usage.py
  synth_ai/managed_research/models/checkpoints.py
  synth_ai/managed_research/models/open_research_visual.py
  synth_ai/managed_research/models/smr_roles.py
  synth_ai/managed_research/models/types.py
  synth_ai/managed_research/open_research/client.py
  synth_ai/managed_research/sdk/__init__.py
  synth_ai/managed_research/sdk/approvals.py
  synth_ai/managed_research/sdk/datasets.py
  synth_ai/managed_research/sdk/environments.py
  synth_ai/managed_research/sdk/launch.py
  synth_ai/managed_research/sdk/models.py
  synth_ai/managed_research/sdk/outputs.py
  synth_ai/managed_research/sdk/project.py
  synth_ai/managed_research/sdk/projects.py
  synth_ai/managed_research/sdk/prs.py
  synth_ai/managed_research/sdk/repos.py
  synth_ai/managed_research/sdk/runs.py
  synth_ai/managed_research/sdk/secrets.py
  synth_ai/managed_research/transport/__init__.py
  synth_ai/managed_research/transport/http.py
  synth_ai/research/models.py
  synth_ai/research/projects.py
  synth_ai/research/runs.py
  synth_ai/sdk/horizons_private.py
  synth_ai/sdk/managed_agents/client.py
  synth_ai/sdk/managed_agents_anthropic.py
Due: python-import-check, python-ruff, python-ruff-format

ci(research): unblock managed research PR gates
  .github/workflows/ci.yml
  README.md
Due: none

test(research): fix managed research package imports
  tests/managed_research/open_research/test_client.py
  tests/managed_research/open_research/test_mcp_tools.py
Due: python-ruff, python-ruff-format

feat: add managed research factory SDK
  .agents/plugins/managed-research/.mcp.json
  synth_ai/managed_research/__init__.py
  synth_ai/managed_research/mcp/request_models.py
  synth_ai/managed_research/mcp/server.py
  synth_ai/managed_research/mcp/tools/__init__.py
  synth_ai/managed_research/mcp/tools/factories.py
  synth_ai/managed_research/mcp/tools/runs.py
  synth_ai/managed_research/models/__init__.py
  synth_ai/managed_research/models/factories.py
  synth_ai/managed_research/models/run_state.py
  synth_ai/managed_research/sdk/__init__.py
  synth_ai/managed_research/sdk/client.py
  synth_ai/managed_research/sdk/factories.py
Due: python-import-check, python-ruff, python-ruff-format

chore(archive): normalize gelo-launch synth-ai dirty snapshot
  synth_ai/managed_research/__init__.py
  synth_ai/managed_research/mcp/registry.py
  synth_ai/managed_research/mcp/server.py
  synth_ai/managed_research/mcp/tools/progress.py
  synth_ai/managed_research/mcp/tools/runs.py
  synth_ai/managed_research/models/__init__.py
  synth_ai/managed_research/models/types.py
  synth_ai/managed_research/sdk/client.py
  synth_ai/managed_research/sdk/runs.py
Due: python-import-check, python-ruff, python-ruff-format

feat: add first-class factory sdk controls
  synth_ai/managed_research/__init__.py
  synth_ai/managed_research/mcp/server.py
  synth_ai/managed_research/mcp/tools/factories.py
  synth_ai/managed_research/models/__init__.py
  synth_ai/managed_research/models/factories.py
  synth_ai/managed_research/sdk/__init__.py
  synth_ai/managed_research/sdk/client.py
  synth_ai/managed_research/sdk/factories.py
Due: python-import-check, python-ruff, python-ruff-format

feat: expose factory wake lifecycle in sdk
  synth_ai/managed_research/__init__.py
  synth_ai/managed_research/mcp/server.py
  synth_ai/managed_research/mcp/tools/factories.py
  synth_ai/managed_research/models/__init__.py
  synth_ai/managed_research/models/factories.py
  synth_ai/managed_research/sdk/__init__.py
  synth_ai/managed_research/sdk/client.py
  synth_ai/managed_research/sdk/factories.py
Due: python-import-check, python-ruff, python-ruff-format

Align SMR run SDK and MCP launch payloads
  synth_ai/managed_research/__init__.py
  synth_ai/managed_research/mcp/request_models.py
  synth_ai/managed_research/mcp/server.py
  synth_ai/managed_research/mcp/tools/progress.py
  synth_ai/managed_research/mcp/tools/runs.py
  synth_ai/managed_research/sdk/__init__.py
  synth_ai/managed_research/sdk/client.py
  synth_ai/managed_research/sdk/runs.py
Due: python-import-check, python-ruff, python-ruff-format

Expose Research run launch and output readback
  synth_ai/managed_research/__init__.py
  synth_ai/managed_research/mcp/request_models.py
  synth_ai/managed_research/mcp/server.py
  synth_ai/managed_research/mcp/tools/outputs.py
  synth_ai/managed_research/mcp/tools/progress.py
  synth_ai/managed_research/mcp/tools/runs.py
  synth_ai/managed_research/models/__init__.py
  synth_ai/managed_research/models/run_state.py
  synth_ai/managed_research/sdk/__init__.py
  synth_ai/managed_research/sdk/client.py
  synth_ai/managed_research/sdk/runs.py
  synth_ai/managed_research/sdk/work_products.py
  synth_ai/managed_research/transport/http.py
  synth_ai/research/runs.py
Due: python-import-check, python-ruff, python-ruff-format

Expose Core SMR Research run surfaces
  synth_ai/managed_research/models/run_control.py
  synth_ai/managed_research/models/run_state.py
  synth_ai/managed_research/models/smr_providers.py
  synth_ai/managed_research/models/smr_runbooks.py
  synth_ai/managed_research/models/types.py
  synth_ai/managed_research/sdk/client.py
  synth_ai/research/projects.py
  synth_ai/research/runs.py
Due: python-import-check, python-ruff, python-ruff-format

wip(smr): typed Managed Research run surface (RunRef/RunLaunchRequest/EventStreamRequest + typed events)
  synth_ai/managed_research/__init__.py
  synth_ai/managed_research/mcp/request_models.py
  synth_ai/managed_research/models/__init__.py
  synth_ai/managed_research/models/run_launch.py
  synth_ai/managed_research/models/runtime_image.py
  synth_ai/managed_research/models/types.py
  synth_ai/managed_research/sdk/client.py
  synth_ai/managed_research/sdk/outputs.py
  synth_ai/managed_research/sdk/project.py
  synth_ai/managed_research/sdk/runs.py
  synth_ai/managed_research/sdk/workspace_inputs.py
Due: python-import-check, python-ruff, python-ruff-format

feat(smr-drivers): land crafter/readme run drivers from WIP onto dev
  README.md
  crafter_runs/README.md
  crafter_runs/crafter_deo_run.py
  crafter_runs/lane/task.toml
  crafter_runs/lane/task_contract.json
  crafter_runs/lane/workspace/crafter_proof_policy.py
  crafter_runs/lane/workspace/run_hillclimb_symbolicbench_task.py
  readme_runs/README.md
  readme_runs/__init__.py
  readme_runs/inspect_actor_progress.py
  readme_runs/kickoff_guidance.py
  readme_runs/orchestrator_bootstrap_diag.py
  readme_runs/readme_smoke.py
  readme_runs/runs/latest
  readme_runs/smr_slot_client.py
  scripts/run_crafter_deo_hillclimb_1cand_slot1.sh
Due: python-ruff, python-ruff-format

feat(smr): typed RunLaunchRequest carries OEQ/DEO/report obligation (SYN-2892 #1)
  synth_ai/managed_research/models/run_launch.py
  tests/managed_research/models/test_run_launch_request.py
Due: python-import-check, python-ruff, python-ruff-format

Path conditions:
  python-import-check: any of: synth_ai/*.py, synth_ai/**/*.py
  python-ruff: any of: *.py, **/*.py
  python-ruff-format: any of: *.py, **/*.py
  notebook-strip: any of: *.ipynb, **/*.ipynb
