Repository synth-laboratories/synth-ai: changes, and which lefthook commands are due for each by the changed paths.
All: python-import-check, python-ruff, python-ruff-format, notebook-strip

lefthook.yml:

# Lefthook Git hooks configuration for synth-ai
# See: https://lefthook.dev/configuration/
#
# Installation:
#   brew install lefthook  # macOS
#   # or: go install github.com/evilmartians/lefthook@latest
#   lefthook install
#
# Usage:
#   lefthook run pre-commit  # Run hooks manually
#   lefthook uninstall      # Remove hooks

pre-commit:
  parallel: true
  files: git diff --cached --name-only --diff-filter=ACMR
  commands:
    # Python: Verify imports work (catch broken imports before commit)
    python-import-check:
      tags:
        - python
        - lint
      glob:
        - "synth_ai/*.py"
        - "synth_ai/**/*.py"
      run: uv run python .lefthook/pre-commit/import_check.py {files}

    # Python: Ruff linting with auto-fix (only on staged Python files that exist)
    python-ruff:
      tags:
        - python
        - lint
      glob:
        - "*.py"
        - "**/*.py"
      run: uv run ruff check --fix --force-exclude {files}
      stage_fixed: true

    # Python: Ruff format with auto-fix (only on staged Python files that exist)
    python-ruff-format:
      tags:
        - python
        - format
      glob:
        - "*.py"
        - "**/*.py"
      run: uv run ruff format --force-exclude {files}
      stage_fixed: true

    # Jupyter: Strip notebook outputs before commit
    notebook-strip:
      tags:
        - jupyter
        - clean
      glob:
        - "*.ipynb"
        - "**/*.ipynb"
      run: uv run nbstripout {files}
      stage_fixed: true

Archive index-v02-qa-sdk-20260929/. before worktree cleanup
  synth_ai/sdk/index/__init__.py
  synth_ai/sdk/index/client.py
  synth_ai/sdk/index/qa.py
  synth_ai/sdk/index/qa_checks.py
  synth_ai/sdk/index/qa_preflight.py
  synth_ai/sdk/index/qa_reviews.py
Due: python-import-check, python-ruff, python-ruff-format

release(synth-ai): 0.22.0 stable candidate from dev 681d0ce2 (= 0.22.0.dev663 source)
  CHANGELOG.md
  README.md
Due: none

promote(synth-ai): 0.22.0 — staging tree := dev 3de6a04c
  CHANGELOG.md
  README.md
  openapi/index-v1.json
  pyproject.toml
  synth_ai/cli/index.py
  synth_ai/mcp/research/registry.py
  synth_ai/mcp/research/server.py
  synth_ai/mcp/research/tools/index.py
  synth_ai/mcp/research/tools/index_qa.py
  synth_ai/sdk/index/README.md
  synth_ai/sdk/index/__init__.py
  synth_ai/sdk/index/artifacts.py
  synth_ai/sdk/index/catalog.py
  synth_ai/sdk/index/classification.py
  synth_ai/sdk/index/client.py
  synth_ai/sdk/index/errors.py
  synth_ai/sdk/index/intake.py
  synth_ai/sdk/index/lifecycle.py
  synth_ai/sdk/index/manifest.py
  synth_ai/sdk/index/oauth.py
  synth_ai/sdk/index/qa.py
  synth_ai/sdk/index/qa_checks.py
  synth_ai/sdk/index/qa_preflight.py
  synth_ai/sdk/index/qa_reviews.py
  synth_ai/sdk/index/research/__init__.py
  synth_ai/sdk/index/research/build.py
  synth_ai/sdk/index/research/capture.py
  synth_ai/sdk/index/research/contracts.py
  synth_ai/sdk/index/research/files.py
  synth_ai/sdk/index/research/release.py
  synth_ai/sdk/index/scope_errors.py
  synth_ai/sdk/index/scopes.py
  synth_ai/sdk/index/upload_session.py
  synth_ai/sdk/index/value.py
  synth_ai/sdk/research/contracts/swarms.py
  tests/test_index_mcp_entrypoint.py
Due: python-import-check, python-ruff, python-ruff-format

promote(synth-ai): 0.22.0 — main tree := dev 3de6a04c
  CHANGELOG.md
  README.md
  openapi/index-v1.json
  pyproject.toml
  synth_ai/cli/index.py
  synth_ai/mcp/research/registry.py
  synth_ai/mcp/research/server.py
  synth_ai/mcp/research/tools/index.py
  synth_ai/mcp/research/tools/index_qa.py
  synth_ai/sdk/index/README.md
  synth_ai/sdk/index/__init__.py
  synth_ai/sdk/index/artifacts.py
  synth_ai/sdk/index/catalog.py
  synth_ai/sdk/index/classification.py
  synth_ai/sdk/index/client.py
  synth_ai/sdk/index/errors.py
  synth_ai/sdk/index/intake.py
  synth_ai/sdk/index/lifecycle.py
  synth_ai/sdk/index/manifest.py
  synth_ai/sdk/index/oauth.py
  synth_ai/sdk/index/qa.py
  synth_ai/sdk/index/qa_checks.py
  synth_ai/sdk/index/qa_preflight.py
  synth_ai/sdk/index/qa_reviews.py
  synth_ai/sdk/index/research/__init__.py
  synth_ai/sdk/index/research/build.py
  synth_ai/sdk/index/research/capture.py
  synth_ai/sdk/index/research/contracts.py
  synth_ai/sdk/index/research/files.py
  synth_ai/sdk/index/research/release.py
  synth_ai/sdk/index/scope_errors.py
  synth_ai/sdk/index/scopes.py
  synth_ai/sdk/index/upload_session.py
  synth_ai/sdk/index/value.py
  synth_ai/sdk/research/contracts/swarms.py
  tests/test_index_mcp_entrypoint.py
Due: python-import-check, python-ruff, python-ruff-format

contracts: mirror additive revision rights attestation schema
  openapi/index-v1.json
Due: none

index: expose exact revision rights attestation through typed SDK
  synth_ai/sdk/index/client.py
  synth_ai/sdk/index/rights.py
Due: python-import-check, python-ruff, python-ruff-format

index: register exact research correction through typed client
  openapi/index-v1.json
  synth_ai/sdk/index/client.py
Due: python-import-check, python-ruff, python-ruff-format

release: advance Index client repair candidate to 0.22.1
  CHANGELOG.md
  README.md
  pyproject.toml
  uv.lock
Due: none

test(index): preserve original synthetic intake acceptance source
  tests/fixtures/index_original_metric_audit/LICENSE
  tests/fixtures/index_original_metric_audit/README.md
  tests/fixtures/index_original_metric_audit/cpu-replay-receipt.json
  tests/fixtures/index_original_metric_audit/environment.json
  tests/fixtures/index_original_metric_audit/experiment.py
  tests/fixtures/index_original_metric_audit/inputs.json
  tests/fixtures/index_original_metric_audit/outputs.json
  tests/fixtures/index_original_metric_audit/reproduction.json
Due: python-ruff, python-ruff-format

Complete original metric audit public evidence fixture
  tests/fixtures/index_original_metric_audit/report.md
  tests/fixtures/index_original_metric_audit/summary.md
Due: none

Use Blume for current product documentation references
  AGENTS.md
  CHANGELOG.md
  Makefile
  README.md
Due: none

Prepare factual SDK 0.22.1 release notes and Blume references
  CHANGELOG.md
  README.md
Due: none

feat(index): expose typed rights and correction CLI/MCP intake
  synth_ai/cli/index.py
  synth_ai/mcp/research/tools/index_qa.py
  synth_ai/sdk/index/scopes.py
Due: python-import-check, python-ruff, python-ruff-format

release: prepare scoped 0.22.2 rights and correction transport repair
  CHANGELOG.md
  README.md
  pyproject.toml
  synth_ai/sdk/index/README.md
  uv.lock
Due: none

Match backend optional contribution publication mode contract
  synth_ai/sdk/index/package.py
Due: python-import-check, python-ruff, python-ruff-format

feat(index): expose registered keyword inclusion and exclusion filters (SYN-3588)
  synth_ai/cli/index.py
  synth_ai/mcp/research/tools/index.py
  synth_ai/sdk/index/README.md
  synth_ai/sdk/index/__init__.py
  synth_ai/sdk/index/public_search.py
  synth_ai/sdk/index/search.py
  tests/test_index_keyword_filters.py
  tests/test_index_public_search.py
Due: python-import-check, python-ruff, python-ruff-format

fix(index): preserve testing Search receipts across SDK CLI and MCP reads (SYN-3588)
  synth_ai/cli/index.py
  synth_ai/mcp/research/tools/index.py
  synth_ai/sdk/index/README.md
  synth_ai/sdk/index/client.py
  tests/test_index_keyword_filters.py
Due: python-import-check, python-ruff, python-ruff-format

feat(index): mirror approved typed lineage descriptor fields
  synth_ai/sdk/index/__init__.py
  synth_ai/sdk/index/package.py
Due: python-import-check, python-ruff, python-ruff-format

Expose scoped scientific records through sync async SDK and research MCP
  synth_ai/mcp/research/server.py
  synth_ai/mcp/research/tools/scientific_records.py
  synth_ai/sdk/research/client.py
  synth_ai/sdk/research/contracts/forge/__init__.py
  synth_ai/sdk/research/contracts/forge/contracts.py
  synth_ai/sdk/research/contracts/forge/evaluation.py
  synth_ai/sdk/research/contracts/forge/exports.py
  synth_ai/sdk/research/contracts/forge/operations.py
  synth_ai/sdk/research/contracts/forge/records.py
  synth_ai/sdk/research/contracts/forge/resources.py
  synth_ai/sdk/research/contracts/forge/schema.py
  synth_ai/sdk/research/scientific_records.py
Due: python-import-check, python-ruff, python-ruff-format

feat(index): accept exact Forge research source proofs
  openapi/index-v1.json
  synth_ai/sdk/index/__init__.py
  synth_ai/sdk/index/contributions.py
  synth_ai/sdk/index/errors.py
Due: python-import-check, python-ruff, python-ruff-format

Expose exact Forge source notice reads in SDK and MCP
  openapi/index-v1.json
  synth_ai/mcp/research/tools/index_qa.py
  synth_ai/sdk/index/__init__.py
  synth_ai/sdk/index/client.py
  synth_ai/sdk/index/errors.py
  synth_ai/sdk/index/forge_notices.py
  synth_ai/sdk/index/scopes.py
Due: python-import-check, python-ruff, python-ruff-format

Expose exact native dataset and pool reads through SDK and MCP
  synth_ai/mcp/research/server.py
  synth_ai/mcp/research/tools/resource_reads.py
  synth_ai/sdk/research/__init__.py
  synth_ai/sdk/research/contracts/resource_reads.py
  synth_ai/sdk/research/operations.py
  synth_ai/sdk/research/projects.py
  synth_ai/sdk/research/resource_reads.py
Due: python-import-check, python-ruff, python-ruff-format

Preserve v1 research clients and expose exact public scientific v2 consumers
  openapi/index-v1.json
  openapi/research-v1.json
  synth_ai/sdk/index/__init__.py
  synth_ai/sdk/index/catalogue.py
  synth_ai/sdk/index/client.py
  synth_ai/sdk/index/contributions.py
  synth_ai/sdk/index/forge_notices.py
  synth_ai/sdk/index/public_corpus.py
  synth_ai/sdk/index/research/__init__.py
  synth_ai/sdk/index/research/build.py
  synth_ai/sdk/index/research/contracts.py
  synth_ai/sdk/index/research/release.py
  synth_ai/sdk/index/scientific_provenance.py
Due: python-import-check, python-ruff, python-ruff-format

Expose scientific records on public Research facade
  synth_ai/sdk/research/facade.py
Due: python-import-check, python-ruff, python-ruff-format

Preserve native database collation in scientific record cursors
  synth_ai/sdk/research/scientific_records.py
Due: python-import-check, python-ruff, python-ruff-format
