Repository synth-laboratories/synth-ai: changes, and which lefthook commands are due for each by the changed paths.
All: python-typecheck, python-ruff, python-ruff-format, notebook-strip, tui-typecheck

python-typecheck:
  tags:
  - python
  - typecheck
  run: uv run python scripts/check_synth_ai_types.py {files}

python-ruff:
  tags:
  - python
  - lint
  run: uv run ruff check --fix {files}
  stage_fixed: true

python-ruff-format:
  tags:
  - python
  - format
  run: uv run ruff format {files}
  stage_fixed: true

notebook-strip:
  tags:
  - jupyter
  - clean
  run: uv run nbstripout {files}
  stage_fixed: true

tui-typecheck:
  tags:
  - typescript
  - typecheck
  run: bun run typecheck

core/env_utils.py combined to core/env.py
  synth_ai/core/scanning/scanner.py
  synth_ai/sdk/api/train/env_resolver.py
Due: python-typecheck, python-ruff, python-ruff-format

add __init__.py
  synth_ai/core/integrations/mcp/__init__.py
Due: python-typecheck, python-ruff, python-ruff-format

feed greptile
  synth_ai/core/env.py
  synth_ai/core/secure_files.py
Due: python-typecheck, python-ruff, python-ruff-format

added beck ensure env var
  synth_ai/core/env.py
Due: python-typecheck, python-ruff, python-ruff-format

gitignore tui/dist
  .gitignore
Due: none

tmp_path = None after unlink
  synth_ai/core/secure_files.py
Due: python-typecheck, python-ruff, python-ruff-format

only runs typecheck on tui
  lefthook.yml
Due: none

formatting
  synth_ai/cli/main.py
Due: python-typecheck, python-ruff, python-ruff-format

trimmed tui launching
  synth_ai/cli/tui.py
  synth_ai/tui/__init__.py
  synth_ai/tui/launcher.py
Due: python-typecheck, python-ruff, python-ruff-format

separate build binaries script
  synth_ai/tui/app/scripts/build-bins.ts
  synth_ai/tui/app/scripts/build.ts
Due: tui-typecheck

removed build as command
  synth_ai/tui/app/package.dist.json
  synth_ai/tui/app/package.json
Due: none

added safe chmod function
  synth_ai/core/secure_files.py
Due: python-typecheck, python-ruff, python-ruff-format

abort logic
  synth_ai/tui/app/src/api/client.ts
  synth_ai/tui/app/src/api/events.ts
  synth_ai/tui/app/src/api/identity.ts
  synth_ai/tui/app/src/api/jobs.ts
  synth_ai/tui/app/src/api/sessions.ts
  synth_ai/tui/app/src/api/tunnels.ts
  synth_ai/tui/app/src/solid/app.tsx
  synth_ai/tui/app/src/solid/data.ts
  synth_ai/tui/app/src/utils/abort.ts
Due: tui-typecheck

no orphans
  synth_ai/tui/app/src/api/jobs.ts
Due: tui-typecheck

chmod sequence
  synth_ai/core/secure_files.py
Due: python-typecheck, python-ruff, python-ruff-format

removed weird errors, added back toml path param
  synth_ai/sdk/api/train/env_resolver.py
Due: python-typecheck, python-ruff, python-ruff-format

abort signal to jobs
  synth_ai/tui/app/src/api/jobs.ts
Due: tui-typecheck

log shutdown errors
  synth_ai/tui/app/src/index.ts
Due: tui-typecheck

abort handling
  synth_ai/tui/app/src/api/jobs-unified.ts
  synth_ai/tui/app/src/api/traces.ts
  synth_ai/tui/app/src/modals/snapshot-modal.ts
  synth_ai/tui/app/src/modals/usage-modal.ts
Due: tui-typecheck

race condition fix
  synth_ai/tui/app/src/api/jobs.ts
Due: tui-typecheck

feat(tui): opencode streaming + eval job helpers
  .gitignore
  synth_ai/sdk/api/eval/job.py
  synth_ai/sdk/task/trace_helpers.py
  synth_ai/tui/app/src/api/jobs.ts
  synth_ai/tui/app/src/solid/app.tsx
  synth_ai/tui/app/src/solid/data.ts
  synth_ai/tui/app/src/solid/opencode/ChatPane.tsx
  synth_ai/tui/app/src/solid/opencode/ContextPanel.tsx
  synth_ai/tui/app/src/solid/opencode/JobStatusPanel.tsx
  synth_ai/tui/app/src/solid/opencode/MessageBubble.tsx
  synth_ai/tui/app/src/state/app-state.ts
  synth_ai/tui/launcher.py
  synth_ai/tui/opencode_config/AGENTS.md
Due: python-typecheck, python-ruff, python-ruff-format, tui-typecheck

fix(tui): export task app types and add installOpenCode
  synth_ai/tui/app/src/solid/data.ts
  synth_ai/tui/app/src/types.ts
Due: tui-typecheck

feat(tui): consolidate opencode integration
  synth_ai/tui/app/src/solid/app.tsx
  synth_ai/tui/app/src/solid/opencode/ChatPane.tsx
  synth_ai/tui/app/src/state/app-state.ts
  synth_ai/tui/app/src/types.ts
Due: tui-typecheck

fix(tui): keep OpenCode input visible on long sessions
  synth_ai/tui/app/src/solid/opencode/ChatPane.tsx
  synth_ai/tui/app/src/solid/opencode/MessageBubble.tsx
Due: none

tui: honor selected backend url and use unified jobs list
  synth_ai/tui/app/src/api/jobs.ts
  synth_ai/tui/app/src/solid/data.ts
Due: tui-typecheck

opencode: cosmetic + eval config updates
  banking77_eval_auth.toml
  banking77_eval_complete.toml
  banking77_eval_config.toml
  banking77_eval_current.toml
  banking77_eval_final.toml
  banking77_eval_fixed.toml
  banking77_eval_local.toml
  banking77_eval_local_fixed.toml
  banking77_eval_now.toml
  banking77_eval_proper.toml
  banking77_eval_simple.toml
  banking77_eval_simple_fixed.toml
  banking77_eval_simple_new.toml
  banking77_gepa_corrected.toml
  banking77_gepa_minimal.toml
  banking77_minimal.toml
  banking77_minimal_eval.toml
  eval_config.toml
  eval_local.toml
  eval_simple.toml
  eval_with_auth.toml
  run_banking77_localapi.sh
  synth_ai/tui/app/src/solid/app.tsx
Due: none

feat: add OpenCode skills support for Synth API
  .gitignore
  README.md
  synth_ai/tui/launcher.py
Due: python-typecheck, python-ruff, python-ruff-format

restore main demos and v4 task contracts
  demos/gepa_banking77/gepa_banking77_prompt_optimization.ipynb
  demos/gepa_crafter_vlm/demo_prod_executed.ipynb
  synth_ai/cli/lib/apps/task_app.py
  synth_ai/core/eval/runner.py
  synth_ai/sdk/task/contracts.py
  synth_ai/sdk/task/trace_helpers.py
Due: python-typecheck, python-ruff, python-ruff-format, notebook-strip

chore: update demos and sdk graphs
  demos/engine_bench/README.md
  demos/engine_bench/daytona_helper.py
  demos/engine_bench/enginebench_gepa_codex.toml
  demos/engine_bench/localapi_engine_bench.py
  demos/engine_bench/run_eval.py
  demos/engine_bench/run_gepa_unified.py
  demos/engine_bench_verifier_opt/README.md
  demos/engine_bench_verifier_opt/run_demo.py
  demos/gepa_ptcg/localapi_ptcg.py
  demos/gepa_ptcg/run_demo.py
  demos/gepa_ptcg/tcg_py_reprex.py
  demos/web-design/eval_job.py
  demos/web-design/web_design_task_app.py
  synth_ai/core/experiment_queue/__init__.py
  synth_ai/sdk/graphs/__init__.py
  synth_ai/sdk/graphs/completions.py
  synth_ai/sdk/graphs/verifier_schemas.py
Due: python-typecheck, python-ruff, python-ruff-format

ripped out mcp
  synth_ai/core/cfgs.py
  synth_ai/core/integrations/mcp/__init__.py
  synth_ai/core/integrations/mcp/__main__.py
  synth_ai/core/integrations/mcp/claude.py
  synth_ai/core/integrations/mcp/main.py
  synth_ai/core/integrations/mcp/setup.py
  synth_ai/core/integrations/modal.py
  synth_ai/core/uvicorn.py
  synth_ai/utils/__init__.py
Due: python-typecheck, python-ruff, python-ruff-format

centralized tests dir
  synth_ai/core/tracing_v3/tests/__init__.py
  synth_ai/tests/sdk/test_prompt_learning_types_objectives.py
  tests/unit/data/test_objectives.py
  tests/unit/sdk/test_progress_objectives.py
  tests/unit/sdk/test_prompt_learning_types_objectives.py
  tests/unit/sdk/test_verifier_schemas_objectives.py
  tests/unit/tracing_v3/test_concurrent_operations.py
  tests/unit/tracing_v3/test_llm_call_records.py
  tests/unit/tracing_v3/test_replica_sync.py
  tests/unit/tracing_v3/test_session_tracer.py
  tests/unit/tracing_v3/test_turso_manager.py
Due: python-typecheck, python-ruff, python-ruff-format

formatting
  synth_ai/core/tracing_v3/decorators.py
Due: python-typecheck, python-ruff, python-ruff-format

better scripts
  .lefthook/pre-commit/import_check.py
  scripts/check_api_drift.py
  scripts/check_dev_version.py
  scripts/check_readme_version.py
  scripts/check_synth_ai_types.py
  scripts/check_unused_deps.py
Due: python-typecheck, python-ruff, python-ruff-format

Remove smoke CLI and clean deprecated patterns
  lefthook.yml
  synth_ai/cli/smoke.py
  synth_ai/cli/task_app.py
  synth_ai/config_expansion.py
  synth_ai/core/config/base.py
  synth_ai/core/demo_apps/core/cli.py
  synth_ai/core/demo_apps/demo_task_apps/math/modal_task_app.py
  synth_ai/core/env.py
  synth_ai/core/paths.py
  synth_ai/core/secure_files.py
  synth_ai/core/user_config.py
  synth_ai/sdk/__init__.py
  synth_ai/sdk/learning/client.py
  synth_ai/sdk/localapi/__init__.py
  synth_ai/sdk/localapi/apps/__init__.py
  synth_ai/sdk/task/__init__.py
  synth_ai/sdk/task/apps/__init__.py
  synth_ai/sdk/task/trace_correlation_helpers.py
  synth_ai/sdk/task/trace_helpers.py
  synth_ai/testing/smoke/__init__.py
  synth_ai/testing/smoke/runner.py
Due: python-typecheck, python-ruff, python-ruff-format

Save
  README.md
  pyproject.toml
Due: none

updated ci
  .github/workflows/api-drift.yml
  .github/workflows/check-version.yml
  .github/workflows/ci.yml
  .github/workflows/integration-dev.yml
  .github/workflows/lint.yml
  .github/workflows/publish-dev-pypi.yml
  .github/workflows/publish-dev.yml
  .github/workflows/tests.yml
  .github/workflows/tui-tests.yml
  .github/workflows/type-check.yml
  .github/workflows/unused-deps.yml
  .github/workflows/url-backend-drift.yml
  .github/workflows/url-centralization.yml
  .github/workflows/validate-openapi.yml
Due: none

config updates
  lefthook.yml
  pyproject.toml
  pytest.ini
  ruff.toml
  ty.toml
  uv.lock
Due: none

feat(streaming): Add stream_until_complete() for eval and prompt learning jobs
  synth_ai/sdk/api/eval/job.py
  synth_ai/sdk/api/train/prompt_learning.py
  synth_ai/sdk/streaming/__init__.py
  synth_ai/sdk/streaming/handlers.py
  synth_ai/sdk/streaming/streamer.py
Due: python-typecheck, python-ruff, python-ruff-format

Path conditions:
  python-typecheck: any of: *.py, **/*.py
  python-ruff: any of: *.py, **/*.py
  python-ruff-format: any of: *.py, **/*.py
  notebook-strip: any of: *.ipynb, **/*.ipynb
  tui-typecheck: any of: synth_ai/tui/app/*.ts, synth_ai/tui/app/**/*.ts and ^synth_ai/tui/app/
