Repository synth-laboratories/synth-ai: changes, and which lefthook commands are due for each by the changed paths.
All: python-import-check, python-ruff, python-ruff-format, notebook-strip

lefthook.yml:

# Lefthook Git hooks configuration for synth-ai
# See: https://lefthook.dev/configuration/
#
# Installation:
#   brew install lefthook  # macOS
#   # or: go install github.com/evilmartians/lefthook@latest
#   lefthook install
#
# Usage:
#   lefthook run pre-commit  # Run hooks manually
#   lefthook uninstall      # Remove hooks

pre-commit:
  parallel: true
  files: git diff --cached --name-only --diff-filter=ACMR
  commands:
    # Python: Verify imports work (catch broken imports before commit)
    python-import-check:
      tags:
        - python
        - lint
      glob:
        - "synth_ai/*.py"
        - "synth_ai/**/*.py"
      run: uv run python .lefthook/pre-commit/import_check.py {files}

    # Python: Ruff linting with auto-fix (only on staged Python files that exist)
    python-ruff:
      tags:
        - python
        - lint
      glob:
        - "*.py"
        - "**/*.py"
      run: uv run ruff check --fix --force-exclude {files}
      stage_fixed: true

    # Python: Ruff format with auto-fix (only on staged Python files that exist)
    python-ruff-format:
      tags:
        - python
        - format
      glob:
        - "*.py"
        - "**/*.py"
      run: uv run ruff format --force-exclude {files}
      stage_fixed: true

    # Jupyter: Strip notebook outputs before commit
    notebook-strip:
      tags:
        - jupyter
        - clean
      glob:
        - "*.ipynb"
        - "**/*.ipynb"
      run: uv run nbstripout {files}
      stage_fixed: true

Milestone 2 initial accepted change
  README.md
Due: none

Milestone 2 corrective follow-up
  README.md
Due: none

CloudDeployment service lane SDK client (#229)
  scripts/prove_cloud_deployment_client.py
  scripts/prove_cloud_deployment_mcp.py
  synth_ai/managed_research/__init__.py
  synth_ai/managed_research/mcp/registry.py
  synth_ai/managed_research/mcp/server.py
  synth_ai/managed_research/mcp/tools/__init__.py
  synth_ai/managed_research/mcp/tools/cloud_deployments.py
  synth_ai/managed_research/sdk/__init__.py
  synth_ai/managed_research/sdk/client.py
  synth_ai/managed_research/sdk/cloud_deployments.py
Due: python-import-check, python-ruff, python-ruff-format

feat(sdk): bind cloud deployments to project git
  synth_ai/managed_research/__init__.py
  synth_ai/managed_research/mcp/server.py
  synth_ai/managed_research/mcp/tools/cloud_deployments.py
  synth_ai/managed_research/sdk/__init__.py
  synth_ai/managed_research/sdk/client.py
  synth_ai/managed_research/sdk/cloud_deployments.py
Due: python-import-check, python-ruff, python-ruff-format

refactor(sdk): expose Factory maintenance runs
  synth_ai/managed_research/__init__.py
  synth_ai/managed_research/models/__init__.py
  synth_ai/managed_research/models/factories.py
  synth_ai/managed_research/models/run_state.py
  synth_ai/managed_research/sdk/__init__.py
  synth_ai/managed_research/sdk/client.py
  synth_ai/managed_research/sdk/factories.py
Due: python-import-check, python-ruff, python-ruff-format

feat(release): prepare synth-ai 0.15.0
  CHANGELOG.md
  README.md
  pyproject.toml
  synth_ai/managed_research/mcp/server.py
  synth_ai/managed_research/mcp/tools/factories.py
  synth_ai/managed_research/mcp/tools/runs.py
  synth_ai/managed_research/models/__init__.py
  synth_ai/managed_research/models/factories.py
  synth_ai/managed_research/models/tag.py
  synth_ai/managed_research/sdk/client.py
  synth_ai/managed_research/sdk/factories.py
  synth_ai/research/client.py
  synth_ai/research/efforts.py
Due: python-import-check, python-ruff, python-ruff-format

fix(release): align synth-ai lock version
  uv.lock
Due: none

fix(ci): remediate dev Docs/Lint failures — ruff format 2 files + 3 Tag sessions docstrings
  synth_ai/managed_research/models/factories.py
  synth_ai/managed_research/sdk/client.py
  synth_ai/research/factories.py
Due: python-import-check, python-ruff, python-ruff-format

fix(ci): sort import blocks in managed_research modules (ruff I001, final Lint gate)
  synth_ai/managed_research/__init__.py
  synth_ai/managed_research/models/__init__.py
  synth_ai/managed_research/sdk/__init__.py
  synth_ai/managed_research/sdk/factories.py
Due: python-import-check, python-ruff, python-ruff-format

feat(factory): add typed candidate grading and champion APIs
  synth_ai/managed_research/__init__.py
  synth_ai/managed_research/models/__init__.py
  synth_ai/managed_research/models/factories.py
  synth_ai/managed_research/sdk/client.py
  synth_ai/managed_research/sdk/factories.py
  synth_ai/research/factories.py
Due: python-import-check, python-ruff, python-ruff-format

fix(factory): normalize candidate model layout
  synth_ai/managed_research/models/factories.py
Due: python-import-check, python-ruff, python-ruff-format

fix(factory): export candidate SDK models
  synth_ai/managed_research/__init__.py
Due: python-import-check, python-ruff, python-ruff-format

fix(factory): align SDK formatting contract
  synth_ai/managed_research/models/factories.py
  synth_ai/managed_research/sdk/client.py
  synth_ai/managed_research/sdk/factories.py
  synth_ai/research/factories.py
Due: python-import-check, python-ruff, python-ruff-format

fix(factory): satisfy SDK docs and format contract
  synth_ai/managed_research/models/factories.py
  synth_ai/managed_research/sdk/client.py
  synth_ai/managed_research/sdk/factories.py
  synth_ai/research/factories.py
Due: python-import-check, python-ruff, python-ruff-format

fix(release): curate Factory 0.15 OpenAPI contract
  synth_ai/managed_research/schemas/smr_openapi.yaml
Due: none

docs(release): keep Factory 0.15 notes scoped
  CHANGELOG.md
Due: none

fix(release): carry CloudDeployment MCP helpers
  synth_ai/managed_research/mcp/server.py
Due: python-import-check, python-ruff, python-ruff-format

Merge pull request #249 from synth-laboratories/release/ship1-factory-0.15-nightly-20260713
  CHANGELOG.md
  README.md
  pyproject.toml
  scripts/prove_cloud_deployment_client.py
  scripts/prove_cloud_deployment_mcp.py
  synth_ai/cli/research.py
  synth_ai/managed_research/__init__.py
  synth_ai/managed_research/factory_standup.py
  synth_ai/managed_research/mcp/registry.py
  synth_ai/managed_research/mcp/server.py
  synth_ai/managed_research/mcp/tools/__init__.py
  synth_ai/managed_research/mcp/tools/cloud_deployments.py
  synth_ai/managed_research/mcp/tools/factories.py
  synth_ai/managed_research/mcp/tools/projects.py
  synth_ai/managed_research/mcp/tools/runs.py
  synth_ai/managed_research/mcp/tools/tag.py
  synth_ai/managed_research/models/__init__.py
  synth_ai/managed_research/models/factories.py
  synth_ai/managed_research/models/factory_evidence.py
  synth_ai/managed_research/models/operator_evidence.py
  synth_ai/managed_research/models/run_authority.py
  synth_ai/managed_research/models/run_state.py
  synth_ai/managed_research/models/run_timeline.py
  synth_ai/managed_research/models/tag.py
  synth_ai/managed_research/schemas/smr_openapi.yaml
  synth_ai/managed_research/sdk/__init__.py
  synth_ai/managed_research/sdk/client.py
  synth_ai/managed_research/sdk/cloud_deployments.py
  synth_ai/managed_research/sdk/factories.py
  synth_ai/managed_research/sdk/factory_evidence.py
  synth_ai/managed_research/sdk/runs.py
  synth_ai/managed_research/sdk/tag.py
  synth_ai/managed_research/sdk/work_products.py
  synth_ai/research/client.py
  synth_ai/research/efforts.py
  synth_ai/research/factories.py
  synth_ai/research/run_readouts.py
  uv.lock
Due: python-import-check, python-ruff, python-ruff-format

Seed Effort launches from stored objective
  synth_ai/managed_research/sdk/factories.py
Due: python-import-check, python-ruff, python-ruff-format

fix(smr): regenerate vendored public-model snapshot to match SDK enum
  synth_ai/managed_research/schemas/public_models.json
Due: none

chore: re-vendor SMR OpenAPI snapshot from backend export
  synth_ai/managed_research/schemas/smr_openapi.yaml
Due: none

feat(smr): add RSI factory standup plan
  pyproject.toml
  synth_ai/managed_research/factory_plans/__init__.py
  synth_ai/managed_research/factory_plans/rsi_synth_on_synth.plan.json
  synth_ai/managed_research/factory_standup.py
Due: python-import-check, python-ruff, python-ruff-format

fix(rsi): satisfy standup CI type and format gates
  synth_ai/managed_research/factory_standup.py
Due: python-import-check, python-ruff, python-ruff-format

fix(rsi): match repository formatter width
  synth_ai/managed_research/factory_standup.py
Due: python-import-check, python-ruff, python-ruff-format

fix(rsi): normalize implicit f-strings
  synth_ai/managed_research/factory_standup.py
Due: python-import-check, python-ruff, python-ruff-format

fix(rsi): merge remaining implicit f-strings
  synth_ai/managed_research/factory_standup.py
Due: python-import-check, python-ruff, python-ruff-format

fix(rsi): simplify enum input guard
  synth_ai/managed_research/factory_standup.py
Due: python-import-check, python-ruff, python-ruff-format

fix(sdk): py.typed marker, uv-add install copy, verify vendored smr_openapi factory routes
  .agents/plugins/managed-research/README.md
  README.md
  pyproject.toml
  scripts/generate_sdk_docs.py
  synth_ai/py.typed
Due: python-ruff, python-ruff-format

fix(sdk): preserve runtime artifact selector
  CHANGELOG.md
  synth_ai/managed_research/models/types.py
  synth_ai/managed_research/schemas/smr_openapi.yaml
Due: python-import-check, python-ruff, python-ruff-format

fix(sdk): wire runtime_artifact_release_id on runnable project create
  docs/craftax-quickstart.mdx
  synth_ai/managed_research/models/types.py
Due: python-import-check, python-ruff, python-ruff-format

chore: drop accidental craftax-quickstart from runtime-artifact wire PR
  docs/craftax-quickstart.mdx
Due: none

fix(sdk): wire runtime_artifact_release_id on runnable project create
  synth_ai/managed_research/models/types.py
Due: python-import-check, python-ruff, python-ruff-format

fix(sdk): wire runtime_artifact_release_id on runnable project create (#259)
  synth_ai/managed_research/models/types.py
Due: python-import-check, python-ruff, python-ruff-format
