Repository synth-laboratories/synth-ai: changes, and which lefthook commands are due for each by the changed paths.
All: python-typecheck, python-ruff, python-ruff-format, notebook-strip, tui-typecheck, url-centralization, unused-deps, api-drift

lefthook.yml:

# Lefthook Git hooks configuration for synth-ai
# See: https://lefthook.dev/configuration/
#
# Installation:
#   brew install lefthook  # macOS
#   # or: go install github.com/evilmartians/lefthook@latest
#   lefthook install
#
# Usage:
#   lefthook run pre-commit  # Run hooks manually
#   lefthook uninstall      # Remove hooks
#
# Script execution standard:
#   - All scripts live in scripts/
#   - Python scripts: `uv run python scripts/X.py` (same as CI)
#   - TypeScript: `bun run <command>` in the relevant directory

pre-commit:
  parallel: true
  files: git diff --cached --name-only --diff-filter=ACMR
  commands:
    # Python: Type check with ty (Astral's type checker)
    # Runs in project env so it has access to all dependency type stubs
    # Excludes demos/benchmarks - they're experimental with optional deps
    python-typecheck:
      tags:
        - python
        - typecheck
      glob:
        - "*.py"
        - "**/*.py"
      run: uv run --group dev ty check {files}

    # Python: Ruff linting with auto-fix (only on staged Python files that exist)
    python-ruff:
      tags:
        - python
        - lint
      glob:
        - "*.py"
        - "**/*.py"
      run: uv run ruff check --fix --unsafe-fixes {files}
      stage_fixed: true

    # Python: Ruff format with auto-fix (only on staged Python files that exist)
    python-ruff-format:
      tags:
        - python
        - format
      glob:
        - "*.py"
        - "**/*.py"
      run: uv run ruff format {files}
      stage_fixed: true

    # Jupyter: Strip notebook outputs before commit
    notebook-strip:
      tags:
        - jupyter
        - clean
      glob:
        - "*.ipynb"
        - "**/*.ipynb"
      run: uv run nbstripout {files}
      stage_fixed: true

    # TUI: TypeScript typecheck
    tui-typecheck:
      tags:
        - typescript
        - typecheck
      glob:
        - "synth_ai/tui/app/*.ts"
        - "synth_ai/tui/app/**/*.ts"
      root: synth_ai/tui/app
      run: bun run typecheck

    # URL Centralization: Ensure URLs are only defined in authorized files
    url-centralization:
      tags:
        - lint
      glob:
        - "*.py"
        - "**/*.py"
        - "*.ts"
        - "**/*.ts"
        - "*.tsx"
        - "**/*.tsx"
      run: uv run python scripts/check_url_centralization.py {files}

    # Unused Dependencies: Ensure all deps in pyproject.toml are actually used
    unused-deps:
      tags:
        - deps
        - lint
      glob:
        - "pyproject.toml"
      run: uv run python scripts/check_unused_deps.py

    # API Drift: Ensure demos/ and benchmarks/ use valid synth_ai APIs
    api-drift:
      tags:
        - api
        - lint
      glob:
        - "synth_ai/**/*.py"
        - "demos/**/*.py"
        - "benchmarks/**/*.py"
      run: uv run python scripts/check_api_drift.py {files}

use async graphgen streaming in notebook
  demos/image_style_matching/graphgen_image_style_matching.ipynb
Due: notebook-strip

export run_server_background
  synth_ai/sdk/task/server.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

add policy_model alias to graphgen config
  synth_ai/sdk/optimization/internal/graphgen_models.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

Remove architecture diagram from README
  README.md
Due: none

Add Python package and beta Rust crate availability info
  README.md
Due: none

reorder README examples for MIPRO and RLM verifier
  README.md
Due: none

add Rust graph completion example
  README.md
Due: none

bump version to 0.7.4
  pyproject.toml
Due: unused-deps

fix: pin Python 3.12 in release workflow, bump to 0.7.5
  .github/workflows/publish-release.yml
  pyproject.toml
Due: unused-deps

fix: resolve ty type check errors
  synth_ai/sdk/harbor/build_spec.py
  synth_ai/sdk/harbor/packager.py
  synth_ai/sdk/localapi/_impl/in_process.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

fix: update README badge and install version to 0.7.5
  README.md
  demos/continual_learning_banking77/README.md
  demos/continual_learning_banking77/data_splits.py
  uv.lock
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

fix: use maturin-action for proper manylinux wheel building
  .github/workflows/publish-dev.yml
  .github/workflows/publish.yml
  demos/continual_learning_banking77/README.md
  demos/continual_learning_banking77/__init__.py
  demos/continual_learning_banking77/analyze_results.py
  demos/continual_learning_banking77/run_classic_gepa.py
  demos/continual_learning_banking77/run_comparison.py
  demos/continual_learning_banking77/run_mipro_continual.py
  demos/continual_learning_banking77/test_data_splits.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

auto generate ipynb from demos/
  lefthook.yml
  scripts/py_to_ipynb.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization

jupyter deps
  uv.lock
Due: none

eval utils and stuff
  synth_ai/sdk/eval/__init__.py
  synth_ai/sdk/eval/job.py
  synth_ai/sdk/eval/utils.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

seed and stat utils
  synth_ai/sdk/utils/__init__.py
  synth_ai/sdk/utils/seeds.py
  synth_ai/sdk/utils/stats.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

added wantes_event_backfill
  synth_ai/core/streaming/handlers.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

dedupe switch
  synth_ai/core/streaming/config.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

terminal status handling
  synth_ai/core/streaming/streamer.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

added tunnel_close pyfunction
  synth_ai_py/src/lib.rs
Due: none

fix regex bug
  synth_ai_core/src/tunnels/cloudflared.rs
Due: none

Refactors stop() and idle timer logic to avoid holding mutex across await points
  synth_ai_core/src/tunnels/connector.rs
Due: none

sanitize for rust
  synth_ai/sdk/optimization/internal/validators.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

utils exports
  synth_ai/__init__.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization

centralized progress handlers
  synth_ai/sdk/optimization/progress/handlers.py
  synth_ai/sdk/optimization/progress/time.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

export new progress handlers
  synth_ai/sdk/optimization/progress/__init__.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

debug modes
  synth_ai/sdk/optimization/internal/prompt_learning.py
  synth_ai/sdk/optimization/internal/prompt_learning_streaming.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

progress
  synth_ai/sdk/eval/job.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

wait_for_health_check uses async httpx instead of blocking Rust in a thread
  synth_ai/core/tunnels/rust.py
  synth_ai/core/tunnels/tunneled_api.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

remove auth requirement from /health
  synth_ai/sdk/localapi/_impl/server.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

better debug print handling
  synth_ai/sdk/eval/job.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

disable dns verification for quick tunnels
  synth_ai/core/tunnels/tunneled_api.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

fix: Harbor routes use deployment name not ID, make cargo fetch non-fatal
  demos/harbor/Dockerfile
  demos/harbor/create_deployment.py
  demos/harbor/run_gepa_harbor.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

fix: add inference_url to GEPA Harbor policy config
  demos/harbor/run_gepa_harbor.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

refactor: BYOK is now a feature on all plans, not a separate plan
  tui/app/src/modals/usage-modal.ts
  tui/app/src/solid/app.tsx
Due: url-centralization

fix: mtg demo uses best_reward
  demos/mtg_artist_style/run_gepa_mtg_image.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

feat: rewrite SynthTunnel WS agent in Rust (tokio)
  synth_ai/core/tunnels/tunneled_api.py
  synth_ai_core/Cargo.toml
  synth_ai_core/src/tunnels/errors.rs
  synth_ai_core/src/tunnels/mod.rs
  synth_ai_core/src/tunnels/synth_tunnel.rs
  synth_ai_core/src/tunnels/types.rs
  synth_ai_py/src/lib.rs
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift
