Repository synth-laboratories/synth-ai: changes, and which lefthook commands are due for each by the changed paths.
All: python-import-check, python-ruff, python-ruff-format, notebook-strip

lefthook.yml:

# Lefthook Git hooks configuration for synth-ai
# See: https://lefthook.dev/configuration/
#
# Installation:
#   brew install lefthook  # macOS
#   # or: go install github.com/evilmartians/lefthook@latest
#   lefthook install
#
# Usage:
#   lefthook run pre-commit  # Run hooks manually
#   lefthook uninstall      # Remove hooks

pre-commit:
  parallel: true
  files: git diff --cached --name-only --diff-filter=ACMR
  commands:
    # Python: Verify imports work (catch broken imports before commit)
    python-import-check:
      tags:
        - python
        - lint
      glob:
        - "synth_ai/*.py"
        - "synth_ai/**/*.py"
      run: uv run python .lefthook/pre-commit/import_check.py {files}

    # Python: Ruff linting with auto-fix (only on staged Python files that exist)
    python-ruff:
      tags:
        - python
        - lint
      glob:
        - "*.py"
        - "**/*.py"
      run: uv run ruff check --fix --force-exclude {files}
      stage_fixed: true

    # Python: Ruff format with auto-fix (only on staged Python files that exist)
    python-ruff-format:
      tags:
        - python
        - format
      glob:
        - "*.py"
        - "**/*.py"
      run: uv run ruff format --force-exclude {files}
      stage_fixed: true

    # Jupyter: Strip notebook outputs before commit
    notebook-strip:
      tags:
        - jupyter
        - clean
      glob:
        - "*.ipynb"
        - "**/*.ipynb"
      run: uv run nbstripout {files}
      stage_fixed: true

feat(smr): add GLM 5.2 (Baseten) to SmrAgentModel + actor allowlist
  synth_ai/managed_research/models/smr_actor_models.py
  synth_ai/managed_research/models/smr_agent_models.py
Due: python-import-check, python-ruff, python-ruff-format

chore(release): synth-ai 0.11.4 (GLM enum, catalog sunset, economics errata)
  CHANGELOG.md
  pyproject.toml
Due: none

fix(mcp): remove dead smr_get_project_economics tool
  synth_ai/managed_research/mcp/server.py
  synth_ai/managed_research/mcp/tools/projects.py
  tests/managed_research/mcp/test_server_tools.py
Due: python-import-check, python-ruff, python-ruff-format

fix: accept groq run policy credentials
  synth_ai/managed_research/models/smr_credential_providers.py
  synth_ai/managed_research/schema_sync.py
Due: python-import-check, python-ruff, python-ruff-format

chore(release): synth-ai 0.11.5 (SMR billing SDK)
  CHANGELOG.md
  pyproject.toml
Due: none

Add promotions SDK namespace for SMR registry (0.11.6).
  CHANGELOG.md
  pyproject.toml
  synth_ai/managed_research/models/__init__.py
  synth_ai/managed_research/models/promotions.py
  synth_ai/managed_research/schemas/smr_openapi.yaml
  synth_ai/managed_research/sdk/__init__.py
  synth_ai/managed_research/sdk/client.py
  synth_ai/managed_research/sdk/promotions.py
Due: python-import-check, python-ruff, python-ruff-format

Bump uv.lock for synth-ai 0.11.6.
  uv.lock
Due: none

Fix CI: README version, PromotionsAPI export, sync public model catalog.
  README.md
  synth_ai/managed_research/models/smr_agent_models.py
  synth_ai/managed_research/schemas/public_models.json
  synth_ai/managed_research/sdk/__init__.py
Due: python-import-check, python-ruff, python-ruff-format

Drop GPT-OSS-120B from shared actor model allowlist after catalog sync.
  synth_ai/managed_research/models/smr_actor_models.py
Due: python-import-check, python-ruff, python-ruff-format

sdk: Grok 4.3 enum parity (drop grok 4.1-fast / 4.20-beta); resync vendored openapi
  CHANGELOG.md
  pyproject.toml
  synth_ai/managed_research/models/smr_actor_models.py
  synth_ai/managed_research/models/smr_agent_models.py
  synth_ai/managed_research/schemas/smr_openapi.yaml
Due: python-import-check, python-ruff, python-ruff-format

Codegen SMR actor model policy from backend manifest.
  synth_ai/managed_research/models/smr_actor_models.py
  synth_ai/managed_research/models/smr_actor_policy_data.py
  synth_ai/managed_research/schema_sync.py
Due: python-import-check, python-ruff, python-ruff-format

feat(managed_research): hosted launch surface guard, ResourceProvider rename, resolved actor profiles
  synth_ai/managed_research/__init__.py
  synth_ai/managed_research/errors.py
  synth_ai/managed_research/mcp/tools/runs.py
  synth_ai/managed_research/models/__init__.py
  synth_ai/managed_research/models/smr_providers.py
  synth_ai/managed_research/models/smr_resource_providers.py
  synth_ai/managed_research/models/types.py
  synth_ai/managed_research/schema_sync.py
  synth_ai/managed_research/sdk/client.py
Due: python-import-check, python-ruff, python-ruff-format

feat(managed_research): complete SDK namespace + github/economics surface; reconcile hosted guard
  synth_ai/managed_research/mcp/registry.py
  synth_ai/managed_research/mcp/request_models.py
  synth_ai/managed_research/mcp/server.py
  synth_ai/managed_research/mcp/tools/projects.py
  synth_ai/managed_research/mcp/tools/usage.py
  synth_ai/managed_research/models/canonical_usage.py
  synth_ai/managed_research/models/factories.py
  synth_ai/managed_research/models/run_diagnostics.py
  synth_ai/managed_research/models/run_launch.py
  synth_ai/managed_research/models/run_observability.py
  synth_ai/managed_research/models/run_state.py
  synth_ai/managed_research/models/smr_actor_models.py
  synth_ai/managed_research/models/smr_roles.py
  synth_ai/managed_research/sdk/README.md
  synth_ai/managed_research/sdk/__init__.py
  synth_ai/managed_research/sdk/client.py
  synth_ai/managed_research/sdk/integrations.py
  synth_ai/managed_research/sdk/projects.py
  synth_ai/managed_research/sdk/runs.py
  synth_ai/managed_research/sdk/usage.py
  tests/managed_research/sdk/test_client_workspace_and_progress.py
  tests/managed_research/sdk/test_namespaces.py
Due: python-import-check, python-ruff, python-ruff-format

fix: resolve cherry-pick syntax in factories and mcp server
  synth_ai/managed_research/mcp/server.py
  synth_ai/managed_research/models/factories.py
Due: python-import-check, python-ruff, python-ruff-format

fix(managed_research): drop Groq from SDK provider enums and OpenAPI
  pyproject.toml
  synth_ai/managed_research/mcp/tools/runs.py
  synth_ai/managed_research/models/smr_credential_providers.py
  synth_ai/managed_research/models/smr_inference_providers.py
  synth_ai/managed_research/models/smr_providers.py
  synth_ai/managed_research/schema_sync.py
  synth_ai/managed_research/schemas/public_models.json
  synth_ai/managed_research/schemas/smr_openapi.yaml
Due: python-import-check, python-ruff, python-ruff-format

fix(managed-research): expose grok build model
  synth_ai/managed_research/mcp/tools/runs.py
  synth_ai/managed_research/models/smr_actor_policy_data.py
  synth_ai/managed_research/models/smr_agent_models.py
  synth_ai/managed_research/models/smr_providers.py
  synth_ai/managed_research/schemas/public_models.json
  synth_ai/managed_research/schemas/smr_openapi.yaml
  uv.lock
Due: python-import-check, python-ruff, python-ruff-format

docs(synth-ai): prepare 0.11.7 release notes for Grok Build launch
  CHANGELOG.md
  README.md
Due: none

ci: fix PyPI publish workflows (drop unregistered trusted publishers)
  .github/workflows/publish.yml
Due: none

style: apply ruff format (fixes CI ruff format check)
  .github/workflows/publish-release.yml
  synth_ai/managed_research/mcp/server.py
  synth_ai/managed_research/models/canonical_usage.py
  synth_ai/managed_research/models/run_diagnostics.py
  synth_ai/managed_research/models/run_observability.py
  synth_ai/managed_research/models/smr_actor_models.py
  synth_ai/managed_research/models/smr_providers.py
  synth_ai/managed_research/models/types.py
  synth_ai/managed_research/schema_sync.py
  synth_ai/managed_research/sdk/client.py
Due: python-import-check, python-ruff, python-ruff-format

feat(research): add synth tag sdk
  CHANGELOG.md
  examples/tag_delegate_smoke.py
  synth_ai/managed_research/mcp/server.py
  synth_ai/managed_research/mcp/tools/tag.py
  synth_ai/managed_research/models/__init__.py
  synth_ai/managed_research/models/tag.py
  synth_ai/managed_research/sdk/client.py
  synth_ai/managed_research/sdk/tag.py
  synth_ai/research/client.py
Due: python-import-check, python-ruff, python-ruff-format

chore(release): synth-ai 0.12.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(release): clear synth-ai 0.12 gates
  README.md
  synth_ai/managed_research/__init__.py
  synth_ai/managed_research/mcp/request_models.py
  synth_ai/managed_research/sdk/__init__.py
  synth_ai/research/runs.py
Due: python-import-check, python-ruff, python-ruff-format

chore: vendor backend SMR HTTP contract
  synth_ai/managed_research/models/smr_agent_models.py
  synth_ai/managed_research/schema_sync.py
  synth_ai/managed_research/schemas/public_models.json
  synth_ai/managed_research/schemas/smr_openapi.yaml
Due: python-import-check, python-ruff, python-ruff-format

chore: vendor backend SMR HTTP contract (#225)
  synth_ai/managed_research/models/smr_agent_models.py
  synth_ai/managed_research/schema_sync.py
  synth_ai/managed_research/schemas/public_models.json
  synth_ai/managed_research/schemas/smr_openapi.yaml
Due: python-import-check, python-ruff, python-ruff-format

chore(repo): remove examples/
  examples/tag_delegate_smoke.py
Due: python-ruff, python-ruff-format

chore(ci): run SDK tests and contract check from ../testing
  .github/workflows/ci.yml
  Makefile
Due: none

chore(repo): drop in-repo tests; delegate to ../testing
  .github/workflows/ci.yml
  .gitignore
  AGENTS.md
  Makefile
  pyproject.toml
  scripts/validate_contract.py
  tests/managed_research/contract/test_public_surface.py
  tests/managed_research/contract/test_smr_reviewer_subtypes.py
  tests/managed_research/mcp/test_server_tools.py
  tests/managed_research/models/test_run_launch_request.py
  tests/managed_research/open_research/__init__.py
  tests/managed_research/open_research/conftest.py
  tests/managed_research/open_research/test_client.py
  tests/managed_research/open_research/test_fingerprint.py
  tests/managed_research/open_research/test_integration_local.py
  tests/managed_research/open_research/test_mcp_tools.py
  tests/managed_research/sdk/test_client_workspace_and_progress.py
  tests/managed_research/sdk/test_namespaces.py
  tests/managed_research/sdk/test_openai_bridge.py
  tests/managed_research/sdk/test_research_run_handle.py
  tests/managed_research/transport/test_helpers.py
  tests/managed_research/transport/test_limit_errors.py
  tests/sdk/conftest.py
  tests/sdk/fake_backend.py
  tests/sdk/test_sdk_containers.py
  tests/sdk/test_sdk_pools.py
  tests/sdk/test_sdk_tunnels.py
  uv.lock
Due: python-ruff, python-ruff-format

Chunk large workspace file uploads for eval harness reliability.
  synth_ai/managed_research/sdk/client.py
Due: python-import-check, python-ruff, python-ruff-format

feat(research): hero SDK under SynthClient().research
  Makefile
  README.md
  pyproject.toml
  reference/sdk/README.md
  scripts/check_sdk_architecture.py
  synth_ai/__init__.py
  synth_ai/cli/main.py
  synth_ai/cli/research.py
  synth_ai/client.py
  synth_ai/managed_research/mcp/registry.py
  synth_ai/managed_research/sdk/client.py
  synth_ai/research/__init__.py
  synth_ai/research/async_client.py
  synth_ai/research/client.py
  synth_ai/research/factories.py
  synth_ai/research/limits.py
  synth_ai/research/project_namespaces.py
  synth_ai/research/projects.py
  synth_ai/research/run_readouts.py
  synth_ai/research/runs.py
  synth_ai/research/secrets.py
  synth_ai/sdk/__init__.py
  synth_ai/sdk/base.py
  synth_ai/sdk/containers.py
  synth_ai/sdk/pagination.py
  synth_ai/sdk/pools.py
  synth_ai/sdk/tunnels.py
  uv.lock
Due: python-import-check, python-ruff, python-ruff-format

feat(research): close hero parity gaps for eval handoff
  scripts/check_sdk_architecture.py
  synth_ai/managed_research/mcp/server.py
  synth_ai/managed_research/sdk/client.py
  synth_ai/research/async_client.py
  synth_ai/research/project_namespaces.py
  synth_ai/research/run_readouts.py
  synth_ai/research/runs.py
Due: python-import-check, python-ruff, python-ruff-format

fix(research): preserve run log records pages
  synth_ai/research/runs.py
Due: python-import-check, python-ruff, python-ruff-format

fix(research): clear release gate regressions
  README.md
  synth_ai/cli/research.py
  synth_ai/managed_research/mcp/server.py
  synth_ai/managed_research/sdk/client.py
  synth_ai/research/__init__.py
  synth_ai/research/project_namespaces.py
  synth_ai/research/run_readouts.py
  synth_ai/research/runs.py
  synth_ai/research/secrets.py
  synth_ai/sdk/__init__.py
  synth_ai/sdk/pagination.py
Due: python-import-check, python-ruff, python-ruff-format

ci(synth-ai): run full SDK guard suite
  .github/workflows/ci.yml
  Makefile
Due: none

feat(docs): add SDK docstring gate and mdxify autogen pipeline
  .github/workflows/ci.yml
  .gitignore
  Makefile
  README.md
  docs/README.md
  pyproject.toml
  scripts/check_sdk_docstrings.py
  scripts/generate_sdk_docs.py
  scripts/sdk_docs_postprocess.py
  specifications/sdk/docstrings.md
  specifications/sdk/public_api_manifest.json
  synth_ai/client.py
  synth_ai/research/async_client.py
  synth_ai/research/client.py
  synth_ai/research/enums.py
  synth_ai/research/errors.py
  synth_ai/research/factories.py
  synth_ai/research/limits.py
  synth_ai/research/models.py
  synth_ai/research/project_namespaces.py
  synth_ai/research/projects.py
  synth_ai/research/run_readouts.py
  synth_ai/research/runs.py
  synth_ai/sdk/containers.py
  synth_ai/sdk/pools.py
  synth_ai/sdk/tunnels.py
  uv.lock
Due: python-import-check, python-ruff, python-ruff-format

fix(managed-research): map launch-promo concurrent limit to typed error
  synth_ai/managed_research/transport/http.py
Due: python-import-check, python-ruff, python-ruff-format

feat(smr): artifact_builder and artifact_reviewer actor subtypes
  synth_ai/managed_research/models/smr_actor_models.py
  synth_ai/managed_research/models/smr_actor_policy_data.py
Due: python-import-check, python-ruff, python-ruff-format

docs(smr): hosted artifacts SDK reference via docs-gen
  scripts/generate_sdk_docs.py
  specifications/sdk/public_api_manifest.json
  synth_ai/managed_research/models/smr_actor_models.py
  synth_ai/managed_research/models/smr_actor_policy_data.py
Due: python-import-check, python-ruff, python-ruff-format

feat(sdk): hosted artifacts CRUD operator API
  scripts/generate_sdk_docs.py
  specifications/sdk/public_api_manifest.json
  synth_ai/managed_research/sdk/client.py
  synth_ai/research/client.py
  synth_ai/research/hosted_artifacts.py
  synth_ai/research/run_readouts.py
Due: python-import-check, python-ruff, python-ruff-format

feat(sdk): hosted artifacts list get update delete
  scripts/generate_sdk_docs.py
  synth_ai/managed_research/sdk/client.py
  synth_ai/research/hosted_artifacts.py
Due: python-import-check, python-ruff, python-ruff-format
