Repository synth-laboratories/synth-ai: changes, and which lefthook commands are due for each by the changed paths.
All: python-typecheck, python-ruff, python-ruff-format, notebook-strip, tui-typecheck, url-centralization, unused-deps, api-drift

lefthook.yml:

# Lefthook Git hooks configuration for synth-ai
# See: https://lefthook.dev/configuration/
#
# Installation:
#   brew install lefthook  # macOS
#   # or: go install github.com/evilmartians/lefthook@latest
#   lefthook install
#
# Usage:
#   lefthook run pre-commit  # Run hooks manually
#   lefthook uninstall      # Remove hooks
#
# Script execution standard:
#   - All scripts live in scripts/
#   - Python scripts: `uv run python scripts/X.py` (same as CI)
#   - TypeScript: `bun run <command>` in the relevant directory

pre-commit:
  parallel: true
  files: git diff --cached --name-only --diff-filter=ACMR
  commands:
    # Python: Type check with ty (Astral's type checker)
    # Runs in project env so it has access to all dependency type stubs
    # Excludes demos/benchmarks - they're experimental with optional deps
    python-typecheck:
      tags:
        - python
        - typecheck
      glob:
        - "*.py"
        - "**/*.py"
      run: uv run --group dev ty check {files}

    # Python: Ruff linting with auto-fix (only on staged Python files that exist)
    python-ruff:
      tags:
        - python
        - lint
      glob:
        - "*.py"
        - "**/*.py"
      run: uv run ruff check --fix --unsafe-fixes {files}
      stage_fixed: true

    # Python: Ruff format with auto-fix (only on staged Python files that exist)
    python-ruff-format:
      tags:
        - python
        - format
      glob:
        - "*.py"
        - "**/*.py"
      run: uv run ruff format {files}
      stage_fixed: true

    # Jupyter: Strip notebook outputs before commit
    notebook-strip:
      tags:
        - jupyter
        - clean
      glob:
        - "*.ipynb"
        - "**/*.ipynb"
      run: uv run nbstripout {files}
      stage_fixed: true

    # TUI: TypeScript typecheck
    tui-typecheck:
      tags:
        - typescript
        - typecheck
      glob:
        - "synth_ai/tui/app/*.ts"
        - "synth_ai/tui/app/**/*.ts"
      root: synth_ai/tui/app
      run: bun run typecheck

    # URL Centralization: Ensure URLs are only defined in authorized files
    url-centralization:
      tags:
        - lint
      glob:
        - "*.py"
        - "**/*.py"
        - "*.ts"
        - "**/*.ts"
        - "*.tsx"
        - "**/*.tsx"
      run: uv run python scripts/check_url_centralization.py {files}

    # Unused Dependencies: Ensure all deps in pyproject.toml are actually used
    unused-deps:
      tags:
        - deps
        - lint
      glob:
        - "pyproject.toml"
      run: uv run python scripts/check_unused_deps.py

    # API Drift: Ensure demos/ and benchmarks/ use valid synth_ai APIs
    api-drift:
      tags:
        - api
        - lint
      glob:
        - "synth_ai/**/*.py"
        - "demos/**/*.py"
        - "benchmarks/**/*.py"
      run: uv run python scripts/check_api_drift.py {files}

fix pyo3 depythonize borrowing
  synth_ai_py/src/lib.rs
Due: none

add task override_helpers shim
  synth_ai/sdk/task/override_helpers.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

add PROD_BASE_URL env alias
  synth_ai/core/utils/env.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

add graphgen train api shim
  synth_ai/sdk/api/train/graphgen.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

add graphgen models train api shim
  synth_ai/sdk/api/train/graphgen_models.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

export GraphGenTaskSetMetadata
  synth_ai/sdk/api/train/graphgen_models.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

add task validators shim
  synth_ai/sdk/task/validators.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

add eval api shim
  synth_ai/sdk/api/eval/__init__.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

add trace correlation helpers shim
  synth_ai/sdk/task/trace_correlation_helpers.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

export graphgen taskset loaders
  synth_ai/sdk/api/train/graphgen.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

add sdk learning shims
  synth_ai/sdk/learning/__init__.py
  synth_ai/sdk/learning/prompt_learning_client.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

add learning rl shim
  synth_ai/sdk/learning/rl.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

export tunnel backend helpers
  synth_ai/sdk/tunnels.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

export tunnel cleanup helpers
  synth_ai/sdk/tunnels.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

export tunnel port helpers
  synth_ai/sdk/tunnels.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

add graph optimization api shims
  synth_ai/sdk/api/train/graph_optimization.py
  synth_ai/sdk/api/train/graph_optimization_config.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

accept reason in tunnel create
  synth_ai/core/tunnels/tunneled_api.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

infer provider for eval policy
  synth_ai/sdk/eval/job.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

default graphgen output_config
  synth_ai/sdk/optimization/internal/graphgen_models.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

default graph evolve initial_graph_id
  synth_ai/sdk/optimization/internal/graphgen.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

default graph optimization initial_graph_id
  synth_ai/sdk/optimization/internal/graph_optimization_config.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

include policy_models in graph optimization requests
  synth_ai/sdk/optimization/internal/graph_optimization_config.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

add tunnel submodule aliases
  synth_ai/sdk/tunnels.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

export PromptLearningResult
  synth_ai/sdk/api/train/prompt_learning.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

export RubricBundle in localapi
  synth_ai/sdk/localapi/__init__.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

export quick tunnel helper
  synth_ai/sdk/tunnels.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

make rust_mipro demo standalone
  demos/rust_mipro/Cargo.toml
Due: none

fix image style notebook backend url
  demos/image_style_matching/run_notebook.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

add rust_mipro demo binary
  demos/rust_mipro/src/main.rs
Due: none

drop synth-ai dependency from rust_mipro demo
  demos/rust_mipro/Cargo.toml
Due: none

fix image style notebook backend base
  demos/image_style_matching/graphgen_image_style_matching.ipynb
Due: notebook-strip

set select_output in image style notebook
  demos/image_style_matching/graphgen_image_style_matching.ipynb
Due: notebook-strip

accept policy_model alias in graphgen
  synth_ai/sdk/optimization/internal/graphgen.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

fix image style notebook policy_model print
  demos/image_style_matching/graphgen_image_style_matching.ipynb
Due: notebook-strip

fix graphgen job id print in notebook
  demos/image_style_matching/graphgen_image_style_matching.ipynb
Due: notebook-strip

fix image style notebook job id output
  demos/image_style_matching/graphgen_image_style_matching.ipynb
Due: notebook-strip

use graph_evolve_job_id in image style notebook
  demos/image_style_matching/graphgen_image_style_matching.ipynb
Due: notebook-strip

use graphgen stream_until_complete in notebook
  demos/image_style_matching/graphgen_image_style_matching.ipynb
Due: notebook-strip

drop progress arg from graphgen stream
  demos/image_style_matching/graphgen_image_style_matching.ipynb
Due: notebook-strip
