Repository synth-laboratories/synth-ai: changes, and which lefthook commands are due for each by the changed paths.
All: python-import-check, python-ruff, python-ruff-format, notebook-strip

lefthook.yml:

# Lefthook Git hooks configuration for synth-ai
# See: https://lefthook.dev/configuration/
#
# Installation:
#   brew install lefthook  # macOS
#   # or: go install github.com/evilmartians/lefthook@latest
#   lefthook install
#
# Usage:
#   lefthook run pre-commit  # Run hooks manually
#   lefthook uninstall      # Remove hooks

pre-commit:
  parallel: true
  files: git diff --cached --name-only --diff-filter=ACMR
  commands:
    # Python: Verify imports work (catch broken imports before commit)
    python-import-check:
      tags:
        - python
        - lint
      glob:
        - "synth_ai/*.py"
        - "synth_ai/**/*.py"
      run: uv run python .lefthook/pre-commit/import_check.py {files}

    # Python: Ruff linting with auto-fix (only on staged Python files that exist)
    python-ruff:
      tags:
        - python
        - lint
      glob:
        - "*.py"
        - "**/*.py"
      run: uv run ruff check --fix --force-exclude {files}
      stage_fixed: true

    # Python: Ruff format with auto-fix (only on staged Python files that exist)
    python-ruff-format:
      tags:
        - python
        - format
      glob:
        - "*.py"
        - "**/*.py"
      run: uv run ruff format --force-exclude {files}
      stage_fixed: true

    # Jupyter: Strip notebook outputs before commit
    notebook-strip:
      tags:
        - jupyter
        - clean
      glob:
        - "*.ipynb"
        - "**/*.ipynb"
      run: uv run nbstripout {files}
      stage_fixed: true

preserve: working code from index-delivery-sdk-release-20260916
  synth_ai/cli/index.py
  synth_ai/mcp/research/tools/index.py
  synth_ai/sdk/index/__init__.py
  synth_ai/sdk/index/catalog.py
  synth_ai/sdk/index/client.py
  synth_ai/sdk/index/errors.py
  synth_ai/sdk/index/search.py
Due: python-import-check, python-ruff, python-ruff-format

preserve: working code from swarm-images-placement-sdk-20260918
  openapi/research-v1.json
  synth_ai/sdk/research/contracts/__init__.py
  synth_ai/sdk/research/contracts/image_releases.py
  synth_ai/sdk/research/contracts/placement.py
  synth_ai/sdk/research/contracts/swarms.py
  synth_ai/sdk/research/image_releases.py
  synth_ai/sdk/research/operations.py
  synth_ai/sdk/research/public.py
  synth_ai/sdk/research/session/client.py
  tests/test_swarm_environment_placement_contracts.py
Due: python-import-check, python-ruff, python-ruff-format

preserve: staged code from combined-sdk
  synth_ai/__init__.py
  synth_ai/client.py
  synth_ai/mcp/research/server.py
  synth_ai/mcp/research/tools/research_intern.py
  synth_ai/sdk/research/client.py
  synth_ai/sdk/research/contracts/__init__.py
  synth_ai/sdk/research/contracts/intern_program.py
  synth_ai/sdk/research/contracts/types.py
  synth_ai/sdk/research/facade.py
  synth_ai/sdk/research/operations.py
  synth_ai/sdk/research/public.py
  synth_ai/sdk/research/research_intern.py
  tests/test_intern_sync_presence_approvals.py
  tests/test_kickoff_contract_trace_capture.py
  tests/test_legacy_intern_sessions_gate.py
Due: python-import-check, python-ruff, python-ruff-format

feat(sdk): add OpenAI resource provider
  synth_ai/sdk/research/contracts/smr_providers.py
  synth_ai/sdk/research/contracts/swarms.py
Due: python-import-check, python-ruff, python-ruff-format

feat(sdk): expose direct OpenAI Luna model
  synth_ai/sdk/research/contracts/smr_agent_models.py
  synth_ai/sdk/research/contracts/swarms.py
Due: python-import-check, python-ruff, python-ruff-format

Prepare typed Index 0.20.0 lifecycle and contract release
  CHANGELOG.md
  openapi/index-v1.json
  synth_ai/cli/index.py
  synth_ai/mcp/research/server.py
  synth_ai/mcp/research/tools/index.py
  synth_ai/sdk/index/README.md
  synth_ai/sdk/index/errors.py
Due: python-import-check, python-ruff, python-ruff-format

Preserve HTTP failure causes with bounded redacted display
  synth_ai/core/errors.py
  synth_ai/core/http/transport.py
Due: python-import-check, python-ruff, python-ruff-format

Align typed Index SDK with integrated search contract
  openapi/index-v1.json
  synth_ai/sdk/index/search.py
Due: python-import-check, python-ruff, python-ruff-format

Restore workspace file mode contract required by SDK import
  synth_ai/sdk/research/contracts/workspaces.py
Due: python-import-check, python-ruff, python-ruff-format

Stop crashing on a refused run lifecycle control
  synth_ai/sdk/research/contracts/run_control.py
  tests/test_run_control_error_properties.py
Due: python-import-check, python-ruff, python-ruff-format

Propose unified Swarm spend limits with per-resource caps
  SPEND_LIMITS_DESIGN.md
Due: none

Spend limits: fit OpenRouter, Modal and Tinker (TRAINING, sku, cost sources)
  SPEND_LIMITS_DESIGN.md
Due: none

Spend limits: add MISC catch-all resource
  SPEND_LIMITS_DESIGN.md
Due: none

Spend limits: ALL aggregate cap, selectable like any resource
  SPEND_LIMITS_DESIGN.md
Due: none

Spend limits: phase 1 wire contract
  SPEND_LIMITS_DESIGN.md
Due: none

Spend limits: SDK SpendLimit/ResourceCap, phase 1 wire contract
  CHANGELOG.md
  synth_ai/sdk/research/contracts/__init__.py
  synth_ai/sdk/research/contracts/canonical_usage.py
  synth_ai/sdk/research/contracts/spend_limits.py
  synth_ai/sdk/research/contracts/swarms.py
  synth_ai/sdk/research/public.py
  tests/test_spend_limits.py
Due: python-import-check, python-ruff, python-ruff-format

Pin the spend wire to a golden file shared with the backend; record phase 1 status
  SPEND_LIMITS_DESIGN.md
  tests/fixtures/spend_limits_wire_v1.json
  tests/test_spend_limits_wire_golden.py
Due: python-ruff, python-ruff-format

Golden wire: GPU/sandbox/VM hours accepted; browser hours not metered
  tests/fixtures/spend_limits_wire_v1.json
  tests/test_spend_limits_wire_golden.py
Due: python-ruff, python-ruff-format

SDK: address selected caps in extensions; accept_unpriced_usage
  synth_ai/sdk/research/session/client.py
  synth_ai/sdk/research/session/runs.py
  synth_ai/sdk/research/session/usage.py
  tests/test_spend_limits.py
Due: python-import-check, python-ruff, python-ruff-format

SDK: client for per-scope limit CRUD (runs and objectives)
  synth_ai/sdk/research/contracts/__init__.py
  synth_ai/sdk/research/contracts/scope_limits.py
  synth_ai/sdk/research/public.py
  synth_ai/sdk/research/session/client.py
  synth_ai/sdk/research/session/scope_limits.py
  tests/test_scope_limits.py
  tests/test_spend_limits_wire_golden.py
Due: python-import-check, python-ruff, python-ruff-format

Spend limits: record phase 2 progress, deferred items and reasons
  SPEND_LIMITS_DESIGN.md
Due: none

Spend limits: D1 resolved, Modal rates configured
  SPEND_LIMITS_DESIGN.md
Due: none

Spend limits: point Modal GPU/hard-limit work at the resources-project plan
  SPEND_LIMITS_DESIGN.md
Due: none

Remove unsent limit quantity from SDK read models
  synth_ai/sdk/research/contracts/canonical_usage.py
Due: python-import-check, python-ruff, python-ruff-format

CHANGELOG: record limit_quantity removal, hour metering, CRUD client, accept_unpriced_usage
  CHANGELOG.md
Due: none

Add openai-api/gpt-6-luna to the SMR actor model enums
  synth_ai/sdk/research/contracts/smr_agent_models.py
  synth_ai/sdk/research/contracts/swarms.py
Due: python-import-check, python-ruff, python-ruff-format

Index SDK docs: show cited-only Search and parity caveat
  synth_ai/sdk/index/README.md
Due: none

Index SDK: mirror cited-only backend contract and Deep bounds
  openapi/index-v1.json
  synth_ai/sdk/index/client.py
  synth_ai/sdk/index/search.py
  synth_ai/sdk/index/usage_accounting.py
Due: python-import-check, python-ruff, python-ruff-format

Test Index provider error cause and safe SDK display
  tests/test_http_error_detail.py
Due: python-ruff, python-ruff-format

backup: uncommitted state of /Users/joshuapurtell/GitHub/synth-ai (6 paths, 0 skipped)
  openapi/research-v1.json
  synth_ai/sdk/research/contracts/intern_grants.py
  synth_ai/sdk/research/contracts/research_intern.py
  synth_ai/sdk/research/contracts/workspaces.py
  synth_ai/sdk/research/operations.py
  synth_ai/sdk/research/project_workspaces.py
Due: python-import-check, python-ruff, python-ruff-format

backup: uncommitted state of /Users/joshuapurtell/GitHub/worktrees/codex-async247-synth-ai (1 paths, 0 skipped)
  uv.lock
Due: none

backup: uncommitted state of /Users/joshuapurtell/GitHub/worktrees/index-delivery-sdk-release-20260916 (7 paths, 0 skipped)
  synth_ai/cli/index.py
  synth_ai/mcp/research/tools/index.py
  synth_ai/sdk/index/__init__.py
  synth_ai/sdk/index/catalog.py
  synth_ai/sdk/index/client.py
  synth_ai/sdk/index/errors.py
  synth_ai/sdk/index/search.py
Due: python-import-check, python-ruff, python-ruff-format

backup: uncommitted state of /Users/joshuapurtell/GitHub/worktrees/workshop-completion/combined-sdk (16 paths, 0 skipped)
  synth_ai/__init__.py
  synth_ai/client.py
  synth_ai/mcp/research/server.py
  synth_ai/mcp/research/tools/research_intern.py
  synth_ai/sdk/research/client.py
  synth_ai/sdk/research/contracts/__init__.py
  synth_ai/sdk/research/contracts/intern_program.py
  synth_ai/sdk/research/contracts/research_intern.py
  synth_ai/sdk/research/contracts/types.py
  synth_ai/sdk/research/facade.py
  synth_ai/sdk/research/operations.py
  synth_ai/sdk/research/public.py
  synth_ai/sdk/research/research_intern.py
  tests/test_intern_sync_presence_approvals.py
  tests/test_kickoff_contract_trace_capture.py
  tests/test_legacy_intern_sessions_gate.py
Due: python-import-check, python-ruff, python-ruff-format

backup: uncommitted state of /Users/joshuapurtell/GitHub/worktrees/swarm-images-placement-sdk-20260918 (10 paths, 0 skipped)
  openapi/research-v1.json
  synth_ai/sdk/research/contracts/__init__.py
  synth_ai/sdk/research/contracts/image_releases.py
  synth_ai/sdk/research/contracts/placement.py
  synth_ai/sdk/research/contracts/swarms.py
  synth_ai/sdk/research/image_releases.py
  synth_ai/sdk/research/operations.py
  synth_ai/sdk/research/public.py
  synth_ai/sdk/research/session/client.py
  tests/test_swarm_environment_placement_contracts.py
Due: python-import-check, python-ruff, python-ruff-format
