Repository synth-laboratories/synth-ai: changes, and which lefthook commands are due for each by the changed paths.
All: python-import-check, python-ruff, python-ruff-format, notebook-strip

python-import-check:
  tags:
  - python
  - lint
  run: uv run python .lefthook/pre-commit/import_check.py {files}

python-ruff:
  tags:
  - python
  - lint
  run: uv run ruff check --fix --force-exclude {files}
  stage_fixed: true

python-ruff-format:
  tags:
  - python
  - format
  run: uv run ruff format --force-exclude {files}
  stage_fixed: true

notebook-strip:
  tags:
  - jupyter
  - clean
  run: uv run nbstripout {files}
  stage_fixed: true

fix(sdk): treat partial SMR runs as terminal
  synth_ai/sdk/research/contracts/run_state.py
Due: python-import-check, python-ruff, python-ruff-format

Restore workspace file mode contract required by SDK import
  synth_ai/sdk/research/contracts/workspaces.py
Due: python-import-check, python-ruff, python-ruff-format

fix(sdk): expose GPT-6 Luna in actor model enums
  synth_ai/sdk/research/contracts/smr_agent_models.py
  synth_ai/sdk/research/contracts/swarms.py
Due: python-import-check, python-ruff, python-ruff-format

index: typed public search (v0.2) client, capabilities block, error codes
  synth_ai/sdk/index/__init__.py
  synth_ai/sdk/index/catalog.py
  synth_ai/sdk/index/client.py
  synth_ai/sdk/index/errors.py
  synth_ai/sdk/index/public_search.py
Due: python-import-check, python-ruff, python-ruff-format

mcp: index_search is the free public v0.2 route; terms come from capabilities
  synth_ai/mcp/research/server.py
  synth_ai/mcp/research/tools/index.py
  tests/test_index_mcp_entrypoint.py
  tests/test_index_public_search.py
Due: python-import-check, python-ruff, python-ruff-format

docs: public search v0.2 auth and pricing come from capabilities
  synth_ai/mcp/research/README.md
  synth_ai/sdk/index/AGENT_SETUP_PROMPT.md
  synth_ai/sdk/index/README.md
Due: none

index: read the Monitor release id from the X-Index-Monitor-Release header
  synth_ai/sdk/index/README.md
  synth_ai/sdk/index/public_search.py
  tests/test_index_public_search.py
Due: python-import-check, python-ruff, python-ruff-format

index: parse the real v0.2 public Search contract
  synth_ai/mcp/research/tools/index.py
  synth_ai/sdk/index/README.md
  synth_ai/sdk/index/__init__.py
  synth_ai/sdk/index/catalog.py
  synth_ai/sdk/index/public_search.py
  tests/test_index_public_search.py
Due: python-import-check, python-ruff, python-ruff-format

docs: Synth Index alpha v0.1 notes (CHANGELOG + README Index section)
  CHANGELOG.md
  README.md
Due: none

Index alpha v0.1 notes: plain wording, Contributions deferred to v0.2
  CHANGELOG.md
  README.md
Due: none

fix(index): read public Search id, token and charge from headers (backend #1660)
  synth_ai/sdk/index/README.md
  synth_ai/sdk/index/public_search.py
  tests/test_index_public_search.py
Due: python-import-check, python-ruff, python-ruff-format

Index alpha v0.1 notes: drop collection-size wording
  CHANGELOG.md
  README.md
Due: none

README: CI release pins 0.20.0 -> 0.20.2 to match pyproject
  README.md
Due: none

index: satisfy CI ty/ruff on the public Search client
  synth_ai/sdk/index/public_search.py
  tests/test_index_public_search.py
Due: python-import-check, python-ruff, python-ruff-format

test(index): internal-test signer for public Search (test tooling only)
  tests/support/__init__.py
  tests/support/index_internal_test_signer.py
  tests/test_index_internal_test_signer.py
Due: python-ruff, python-ruff-format

style: ruff
  tests/test_index_internal_test_signer.py
Due: python-ruff, python-ruff-format

index: typed budget scope on public 503; Fast results have no handle
  synth_ai/sdk/index/__init__.py
  synth_ai/sdk/index/public_search.py
  tests/test_index_public_search.py
Due: python-import-check, python-ruff, python-ruff-format

index: public search is anonymous-only; typed 409 for keyed callers
  synth_ai/mcp/research/tools/index.py
  synth_ai/sdk/index/README.md
  synth_ai/sdk/index/__init__.py
  synth_ai/sdk/index/client.py
  synth_ai/sdk/index/errors.py
  synth_ai/sdk/index/public_search.py
  tests/test_index_public_search.py
Due: python-import-check, python-ruff, python-ruff-format

index: keyed MCP index_search runs the paid search only with wallet consent; 0.21.0
  CHANGELOG.md
  README.md
  pyproject.toml
  synth_ai/mcp/research/tools/index.py
  synth_ai/sdk/index/README.md
  synth_ai/sdk/index/__init__.py
  synth_ai/sdk/index/public_search.py
  synth_ai/sdk/index/wallet_search.py
  tests/test_index_public_search.py
  uv.lock
Due: python-import-check, python-ruff, python-ruff-format

Remove automation except synth-ai PyPI publishing
  .github/workflows/ci.yml
Due: none

Remove automation except synth-ai PyPI publishing
  .github/workflows/release-drafter.yml
Due: none

Remove automation except synth-ai PyPI publishing
  .github/workflows/publish-release.yml
Due: none

Remove all GitHub Actions workflows except synth-ai PyPI publishing
  .github/workflows/ci.yml
  .github/workflows/publish-release.yml
  .github/workflows/release-drafter.yml
Due: none

fix(index): clarify zero-day retention in SDK and MCP copy
  pyproject.toml
  synth_ai/sdk/index/public_search.py
  tests/test_index_public_search.py
  uv.lock
Due: python-import-check, python-ruff, python-ruff-format

Expose public budget retry metadata and document SDK candidate
  CHANGELOG.md
  synth_ai/sdk/index/public_search.py
  tests/test_index_public_search.py
Due: python-import-check, python-ruff, python-ruff-format

Test budget Retry-After metadata through the MCP error payload
  tests/test_index_public_search.py
Due: python-ruff, python-ruff-format

Remove Index answer from the SDK, CLI and MCP
  CHANGELOG.md
  README.md
  openapi/index-v1.json
  synth_ai/cli/index.py
  synth_ai/mcp/research/server.py
  synth_ai/mcp/research/tools/index.py
  synth_ai/sdk/index/README.md
  synth_ai/sdk/index/__init__.py
  synth_ai/sdk/index/answer.py
  synth_ai/sdk/index/client.py
  tests/test_index_mcp_entrypoint.py
Due: python-import-check, python-ruff, python-ruff-format

Index CLI public route, MCP terms contract and Index/Swarms docs (0.21.1)
  CHANGELOG.md
  README.md
  pyproject.toml
  synth_ai/README.md
  synth_ai/cli/README.md
  synth_ai/cli/index.py
  synth_ai/cli/main.py
  synth_ai/cli/research.py
  synth_ai/mcp/research/README.md
  synth_ai/mcp/research/tools/index.py
  synth_ai/sdk/README.md
  synth_ai/sdk/index/AGENT_SETUP_PROMPT.md
  synth_ai/sdk/index/README.md
  synth_ai/sdk/index/__init__.py
  synth_ai/sdk/index/public.py
  synth_ai/sdk/index/public_search.py
  tests/test_index_cli_search_route.py
  tests/test_index_public_search.py
Due: python-import-check, python-ruff, python-ruff-format

Index: WALLET_TERMS_VERSION = synth-index-wallet-terms-2026-09-28
  CHANGELOG.md
  synth_ai/sdk/index/wallet_search.py
  tests/test_index_public_search.py
Due: python-import-check, python-ruff, python-ruff-format

promote(synth-ai): curated snapshot of dev c3624bf0 (0.21.1) onto staging
  CHANGELOG.md
  README.md
  openapi/index-v1.json
  pyproject.toml
  synth_ai/README.md
  synth_ai/cli/README.md
  synth_ai/cli/index.py
  synth_ai/cli/main.py
  synth_ai/cli/research.py
  synth_ai/mcp/research/README.md
  synth_ai/mcp/research/server.py
  synth_ai/mcp/research/tools/index.py
  synth_ai/sdk/README.md
  synth_ai/sdk/index/AGENT_SETUP_PROMPT.md
  synth_ai/sdk/index/README.md
  synth_ai/sdk/index/__init__.py
  synth_ai/sdk/index/answer.py
  synth_ai/sdk/index/client.py
  synth_ai/sdk/index/public.py
  synth_ai/sdk/index/public_search.py
  synth_ai/sdk/index/wallet_search.py
  synth_ai/sdk/research/contracts/run_state.py
  tests/test_index_cli_search_route.py
  tests/test_index_mcp_entrypoint.py
  tests/test_index_public_search.py
  uv.lock
Due: python-import-check, python-ruff, python-ruff-format

CHANGELOG: date 0.21.1 (2026-09-29)
  CHANGELOG.md
Due: none

promote(synth-ai): 0.21.1 — staging tree := dev c8c9171f
  CHANGELOG.md
Due: none

promote(synth-ai): 0.21.1 — main tree := dev c8c9171f
  CHANGELOG.md
  README.md
  openapi/index-v1.json
  pyproject.toml
  synth_ai/README.md
  synth_ai/cli/README.md
  synth_ai/cli/index.py
  synth_ai/cli/main.py
  synth_ai/cli/research.py
  synth_ai/mcp/research/README.md
  synth_ai/mcp/research/server.py
  synth_ai/mcp/research/tools/index.py
  synth_ai/sdk/README.md
  synth_ai/sdk/index/AGENT_SETUP_PROMPT.md
  synth_ai/sdk/index/README.md
  synth_ai/sdk/index/__init__.py
  synth_ai/sdk/index/answer.py
  synth_ai/sdk/index/client.py
  synth_ai/sdk/index/public.py
  synth_ai/sdk/index/public_search.py
  synth_ai/sdk/index/wallet_search.py
  synth_ai/sdk/research/contracts/run_state.py
  tests/test_index_cli_search_route.py
  tests/test_index_mcp_entrypoint.py
  tests/test_index_public_search.py
  uv.lock
Due: python-import-check, python-ruff, python-ruff-format

Fix public Search contract and service-funded receipt parity for 0.21.2
  openapi/README.md
  openapi/index-v1.json
  pyproject.toml
  synth_ai/sdk/index/README.md
  synth_ai/sdk/index/client.py
  synth_ai/sdk/index/search.py
  synth_ai/sdk/index/usage_accounting.py
Due: python-import-check, python-ruff, python-ruff-format

CHANGELOG: 0.21.2 (2026-09-29)
  CHANGELOG.md
Due: none

promote(synth-ai): 0.21.2 — staging tree := dev 04aa2e83
  CHANGELOG.md
  openapi/README.md
  openapi/index-v1.json
  pyproject.toml
  synth_ai/sdk/index/README.md
  synth_ai/sdk/index/client.py
  synth_ai/sdk/index/search.py
  synth_ai/sdk/index/usage_accounting.py
Due: python-import-check, python-ruff, python-ruff-format

promote(synth-ai): 0.21.2 — main tree := dev 04aa2e83
  CHANGELOG.md
  openapi/README.md
  openapi/index-v1.json
  pyproject.toml
  synth_ai/sdk/index/README.md
  synth_ai/sdk/index/client.py
  synth_ai/sdk/index/search.py
  synth_ai/sdk/index/usage_accounting.py
Due: python-import-check, python-ruff, python-ruff-format

Path conditions:
  python-import-check: any of: synth_ai/*.py, synth_ai/**/*.py
  python-ruff: any of: *.py, **/*.py
  python-ruff-format: any of: *.py, **/*.py
  notebook-strip: any of: *.ipynb, **/*.ipynb
