Repository synth-laboratories/synth-ai: changes, and which lefthook commands are due for each by the changed paths.
All: python-import-check, python-ruff, python-ruff-format, notebook-strip

python-import-check:
  tags:
  - python
  - lint
  run: uv run python .lefthook/pre-commit/import_check.py {files}

python-ruff:
  tags:
  - python
  - lint
  run: uv run ruff check --fix --force-exclude {files}
  stage_fixed: true

python-ruff-format:
  tags:
  - python
  - format
  run: uv run ruff format --force-exclude {files}
  stage_fixed: true

notebook-strip:
  tags:
  - jupyter
  - clean
  run: uv run nbstripout {files}
  stage_fixed: true

docs: changelog entry for hosted artifacts SDK
  CHANGELOG.md
Due: none

fix(sdk): use OpenAPI-stable hosted artifact route templates
  synth_ai/managed_research/sdk/client.py
Due: python-import-check, python-ruff, python-ruff-format

fix(sdk): accept baseten SMR inference provider
  synth_ai/managed_research/models/smr_inference_providers.py
Due: python-import-check, python-ruff, python-ruff-format

feat(dev-envs): typed DevEnvironment SDK/MCP/CLI surface + Cloud S0 evidence verifier (.5 prep slice)
  synth_ai/cli/dev_envs.py
  synth_ai/cli/main.py
  synth_ai/managed_research/__init__.py
  synth_ai/managed_research/mcp/registry.py
  synth_ai/managed_research/mcp/request_models.py
  synth_ai/managed_research/mcp/server.py
  synth_ai/managed_research/mcp/tools/__init__.py
  synth_ai/managed_research/mcp/tools/dev_environments.py
  synth_ai/managed_research/mcp/tools/progress.py
  synth_ai/managed_research/mcp/tools/runs.py
  synth_ai/managed_research/models/__init__.py
  synth_ai/managed_research/models/billing.py
  synth_ai/managed_research/models/dev_environment_evidence.py
  synth_ai/managed_research/models/run_launch.py
  synth_ai/managed_research/models/types.py
  synth_ai/managed_research/sdk/__init__.py
  synth_ai/managed_research/sdk/billing.py
  synth_ai/managed_research/sdk/client.py
  synth_ai/managed_research/sdk/dev_environments.py
  synth_ai/managed_research/sdk/environments.py
  synth_ai/managed_research/sdk/runs.py
Due: python-import-check, python-ruff, python-ruff-format

wip(sdk): StackAux inference client on Synth client + run_readouts ticking fix (rescued lane 2026-07-02)
  synth_ai/client.py
  synth_ai/research/run_readouts.py
  synth_ai/sdk/__init__.py
  synth_ai/sdk/stack_aux.py
Due: python-import-check, python-ruff, python-ruff-format

style(dev-envs): format managed research SDK surface
  synth_ai/managed_research/mcp/server.py
  synth_ai/managed_research/models/types.py
  synth_ai/managed_research/sdk/client.py
  synth_ai/managed_research/sdk/dev_environments.py
Due: python-import-check, python-ruff, python-ruff-format

fix(dev-envs): hydrate Cloud S0 evidence from run routes
  synth_ai/managed_research/models/dev_environment_evidence.py
  synth_ai/managed_research/sdk/dev_environments.py
Due: python-import-check, python-ruff, python-ruff-format

fix(smr): align dev environment sdk routes
  synth_ai/managed_research/sdk/client.py
Due: python-import-check, python-ruff, python-ruff-format

chore(smr): refresh managed research contract schemas
  synth_ai/managed_research/schemas/public_models.json
  synth_ai/managed_research/schemas/smr_openapi.yaml
Due: none

fix(smr): keep contract refresh CI green
  synth_ai/cli/dev_envs.py
  synth_ai/managed_research/sdk/dev_environments.py
  synth_ai/research/hosted_artifacts.py
  synth_ai/sdk/pools.py
Due: python-import-check, python-ruff, python-ruff-format

fix(smr): require explicit control client backend
  synth_ai/managed_research/sdk/client.py
Due: python-import-check, python-ruff, python-ruff-format

style: format container pools client
  synth_ai/sdk/pools.py
Due: python-import-check, python-ruff, python-ruff-format

feat(smr): cloud deployments client — service lane SDK surface
  synth_ai/managed_research/sdk/__init__.py
  synth_ai/managed_research/sdk/client.py
  synth_ai/managed_research/sdk/cloud_deployments.py
Due: python-import-check, python-ruff, python-ruff-format

style(smr): format cloud deployments client
  synth_ai/managed_research/sdk/client.py
Due: python-import-check, python-ruff, python-ruff-format

fix(sdk): export cloud deployments namespace
  synth_ai/managed_research/__init__.py
Due: python-import-check, python-ruff, python-ruff-format

feat(smr): expose cloud deployments through MCP
  synth_ai/managed_research/mcp/registry.py
  synth_ai/managed_research/mcp/server.py
  synth_ai/managed_research/mcp/tools/__init__.py
  synth_ai/managed_research/mcp/tools/cloud_deployments.py
Due: python-import-check, python-ruff, python-ruff-format

fix(smr): describe cloud deployment retry state
  synth_ai/managed_research/mcp/tools/cloud_deployments.py
  synth_ai/managed_research/sdk/cloud_deployments.py
Due: python-import-check, python-ruff, python-ruff-format

fix(smr): vendor cloud deployment openapi snapshot
  synth_ai/managed_research/schemas/smr_openapi.yaml
Due: none

chore(smr): add cloud deployment SDK proof runner
  scripts/prove_cloud_deployment_client.py
Due: python-ruff, python-ruff-format

chore(smr): add cloud deployment MCP proof runner
  scripts/prove_cloud_deployment_mcp.py
Due: python-ruff, python-ruff-format

fix(smr): honor backend url in cloud proofs
  scripts/prove_cloud_deployment_client.py
  scripts/prove_cloud_deployment_mcp.py
Due: python-ruff, python-ruff-format

chore(research): align cloud deployment proof health
  scripts/prove_cloud_deployment_client.py
  scripts/prove_cloud_deployment_mcp.py
Due: python-ruff, python-ruff-format

CloudDeployment service lane SDK client (#229)
  scripts/prove_cloud_deployment_client.py
  scripts/prove_cloud_deployment_mcp.py
  synth_ai/managed_research/__init__.py
  synth_ai/managed_research/mcp/registry.py
  synth_ai/managed_research/mcp/server.py
  synth_ai/managed_research/mcp/tools/__init__.py
  synth_ai/managed_research/mcp/tools/cloud_deployments.py
  synth_ai/managed_research/schemas/smr_openapi.yaml
  synth_ai/managed_research/sdk/__init__.py
  synth_ai/managed_research/sdk/client.py
  synth_ai/managed_research/sdk/cloud_deployments.py
Due: python-import-check, python-ruff, python-ruff-format

Document cloud-deployments SDK surface in CHANGELOG
  CHANGELOG.md
Due: none

Document cloud-deployments SDK surface in CHANGELOG (#230)
  CHANGELOG.md
Due: none

Add typed economics snapshot SDK
  synth_ai/managed_research/__init__.py
  synth_ai/managed_research/models/__init__.py
  synth_ai/managed_research/models/billing.py
  synth_ai/managed_research/schemas/smr_openapi.yaml
  synth_ai/managed_research/sdk/billing.py
Due: python-import-check, python-ruff, python-ruff-format

Fix economics SDK CI
  synth_ai/managed_research/__init__.py
  synth_ai/managed_research/models/__init__.py
  synth_ai/managed_research/models/billing.py
  synth_ai/managed_research/sdk/billing.py
Due: python-import-check, python-ruff, python-ruff-format

fix(smr): validate factory standup project dry runs
  synth_ai/managed_research/factory_standup.py
Due: python-import-check, python-ruff, python-ruff-format

Release synth-ai 0.13.1 economics API
  CHANGELOG.md
  README.md
  pyproject.toml
  synth_ai/managed_research/sdk/client.py
  uv.lock
Due: python-import-check, python-ruff, python-ruff-format

Format pools SDK source
  synth_ai/sdk/pools.py
Due: python-import-check, python-ruff, python-ruff-format

Release economics SDK as 0.14.1
  README.md
  pyproject.toml
  uv.lock
Due: none

feat(smr): add typed factory evidence sdk
  synth_ai/managed_research/__init__.py
  synth_ai/managed_research/mcp/server.py
  synth_ai/managed_research/models/__init__.py
  synth_ai/managed_research/models/factories.py
  synth_ai/managed_research/models/factory_evidence.py
  synth_ai/managed_research/models/operator_evidence.py
  synth_ai/managed_research/models/run_authority.py
  synth_ai/managed_research/models/run_timeline.py
  synth_ai/managed_research/sdk/__init__.py
  synth_ai/managed_research/sdk/client.py
  synth_ai/managed_research/sdk/factory_evidence.py
  synth_ai/managed_research/sdk/runs.py
  synth_ai/managed_research/sdk/work_products.py
  synth_ai/research/run_readouts.py
Due: python-import-check, python-ruff, python-ruff-format

fix(smr): bind Factory evidence to actor container
  synth_ai/managed_research/__init__.py
  synth_ai/managed_research/models/__init__.py
  synth_ai/managed_research/models/factory_evidence.py
  synth_ai/managed_research/sdk/__init__.py
  synth_ai/managed_research/sdk/factory_evidence.py
Due: python-import-check, python-ruff, python-ruff-format

feat(smr): typed ExperimentBundle DTO + factory status observability join
  synth_ai/managed_research/models/factories.py
Due: python-import-check, python-ruff, python-ruff-format

feat(smr): expose experiment bundle through SDK client and FactoriesAPI
  synth_ai/managed_research/__init__.py
  synth_ai/managed_research/models/__init__.py
  synth_ai/managed_research/sdk/client.py
  synth_ai/managed_research/sdk/factories.py
Due: python-import-check, python-ruff, python-ruff-format

refactor(smr): hoist experiment bundle parse in FactoryStatus.from_wire + MCP doc
  synth_ai/managed_research/mcp/tools/projects.py
  synth_ai/managed_research/models/factories.py
Due: python-import-check, python-ruff, python-ruff-format

Path conditions:
  python-import-check: any of: synth_ai/*.py, synth_ai/**/*.py
  python-ruff: any of: *.py, **/*.py
  python-ruff-format: any of: *.py, **/*.py
  notebook-strip: any of: *.ipynb, **/*.ipynb
