Repository synth-laboratories/synth-ai: changes, and which lefthook commands are due for each by the changed paths.
All: python-import-check, python-ruff, python-ruff-format, notebook-strip

lefthook.yml:

# Lefthook Git hooks configuration for synth-ai
# See: https://lefthook.dev/configuration/
#
# Installation:
#   brew install lefthook  # macOS
#   # or: go install github.com/evilmartians/lefthook@latest
#   lefthook install
#
# Usage:
#   lefthook run pre-commit  # Run hooks manually
#   lefthook uninstall      # Remove hooks

pre-commit:
  parallel: true
  files: git diff --cached --name-only --diff-filter=ACMR
  commands:
    # Python: Verify imports work (catch broken imports before commit)
    python-import-check:
      tags:
        - python
        - lint
      glob:
        - "synth_ai/*.py"
        - "synth_ai/**/*.py"
      run: uv run python .lefthook/pre-commit/import_check.py {files}

    # Python: Ruff linting with auto-fix (only on staged Python files that exist)
    python-ruff:
      tags:
        - python
        - lint
      glob:
        - "*.py"
        - "**/*.py"
      run: uv run ruff check --fix --force-exclude {files}
      stage_fixed: true

    # Python: Ruff format with auto-fix (only on staged Python files that exist)
    python-ruff-format:
      tags:
        - python
        - format
      glob:
        - "*.py"
        - "**/*.py"
      run: uv run ruff format --force-exclude {files}
      stage_fixed: true

    # Jupyter: Strip notebook outputs before commit
    notebook-strip:
      tags:
        - jupyter
        - clean
      glob:
        - "*.ipynb"
        - "**/*.ipynb"
      run: uv run nbstripout {files}
      stage_fixed: true

feat(sdk): add environment_pools module with pool CRUD + rollout APIs
  synth_ai/sdk/environment_pools.py
Due: python-import-check, python-ruff, python-ruff-format

chore: bump version to 0.7.15
  README.md
  pyproject.toml
Due: none

feat(rust-sdk): add EnvironmentPoolsClient and make libsql optional
  synth_ai_core/Cargo.toml
  synth_ai_core/assets/data_enum_values.json
  synth_ai_core/assets/event_enum_values.json
  synth_ai_core/src/api/jobs.rs
  synth_ai_core/src/api/types.rs
  synth_ai_core/src/data/enums.rs
  synth_ai_core/src/jobs.rs
  synth_ai_core/src/lib.rs
  synth_ai_core/src/orchestration/events.rs
  synth_ai_core/src/orchestration/job_events.rs
  synth_ai_core/src/orchestration/prompt_learning.rs
  synth_ai_core/src/streaming/streamer.rs
  synth_ai_core/src/tracing/error.rs
  synth_ai_core/src/tracing/mod.rs
  synth_ai_core/src/tracing/tracer.rs
  synth_ai_rs/Cargo.toml
  synth_ai_rs/src/environment_pools.rs
  synth_ai_rs/src/lib.rs
Due: none

feat: add hosted task apps SDK client and task_app_id support
  synth_ai/sdk/__init__.py
  synth_ai/sdk/environment_pools.py
  synth_ai/sdk/optimization/internal/configs/prompt_learning.py
  synth_ai/sdk/task_apps.py
Due: python-import-check, python-ruff, python-ruff-format

feat: add task_app_id to EvalJobConfig and internal_url to TaskAppSpec
  synth_ai/sdk/eval/job.py
  synth_ai/sdk/task_apps.py
Due: python-import-check, python-ruff, python-ruff-format

feat(sdk): add PoolResponse dataclass and PoolTemplate enum
  synth_ai/sdk/__init__.py
  synth_ai/sdk/environment_pools.py
Due: python-import-check, python-ruff, python-ruff-format

fix: resolve tunnel double /api URL, RLM v2 output, timeout, and DNS IPv4 preference
  synth_ai/core/tunnels/synth_tunnel.py
  synth_ai/sdk/graphs/completions.py
  synth_ai_core/src/tunnels/cloudflared.rs
  synth_ai_core/src/tunnels/lease_client.rs
  synth_ai_py/src/lib.rs
Due: python-import-check, python-ruff, python-ruff-format

feat: add GEPA compatibility layer
  AGENTS.md
  MANIFEST.in
  README.md
  demos/mtg_artist_style_in_process/run_in_process_gepa.py
  gepa/__init__.py
  gepa/adapters/__init__.py
  gepa/adapters/default_adapter/__init__.py
  gepa/adapters/default_adapter/default_adapter.py
  gepa/api.py
  gepa/core/__init__.py
  gepa/core/adapter.py
  gepa/core/data_loader.py
  gepa/core/result.py
  gepa/core/state.py
  gepa/examples/__init__.py
  gepa/examples/aime.py
  gepa/utils/__init__.py
  gepa/utils/stop_condition.py
  pyproject.toml
  synth_ai/core/config/expansion.py
  synth_ai_core/src/config.rs
  synth_ai_py/src/lib.rs
  synth_ai_rs/src/lib.rs
  tests/unit/test_environment_pools.py
Due: python-import-check, python-ruff, python-ruff-format

feat: add banking77 gepa runthrough
  README.md
  demos/gepa_banking77_compat.py
  gepa/__init__.py
  gepa/examples/__init__.py
  gepa/examples/banking77.py
Due: python-ruff, python-ruff-format

fix: stabilize gepa compat env keys
  gepa/api.py
  synth_ai/core/config/expansion.py
Due: python-import-check, python-ruff, python-ruff-format

feat: export gepa via synth_ai
  README.md
  demos/gepa_banking77_compat.py
  synth_ai/__init__.py
Due: python-import-check, python-ruff, python-ruff-format

fix: stabilize gepa compat job config
  gepa/api.py
  synth_ai/core/tunnels/synth_tunnel.py
Due: python-import-check, python-ruff, python-ruff-format

gepa: add synth_ai.gepa drop-in + banking77 demo
  demos/gepa_banking77_compat.py
  synth_ai/__init__.py
  synth_ai/core/tunnels/tunneled_api.py
  synth_ai/gepa/__init__.py
  synth_ai/gepa/adapters/__init__.py
  synth_ai/gepa/adapters/default_adapter/__init__.py
  synth_ai/gepa/adapters/default_adapter/default_adapter.py
  synth_ai/gepa/api.py
  synth_ai/gepa/core/__init__.py
  synth_ai/gepa/core/adapter.py
  synth_ai/gepa/core/data_loader.py
  synth_ai/gepa/core/result.py
  synth_ai/gepa/core/state.py
  synth_ai/gepa/examples/__init__.py
  synth_ai/gepa/examples/aime.py
  synth_ai/gepa/examples/banking77.py
  synth_ai/gepa/utils/__init__.py
  synth_ai/gepa/utils/stop_condition.py
  synth_ai/sdk/localapi/_impl/in_process.py
  synth_ai/sdk/localapi/_impl/rollout_helpers.py
  synth_ai/sdk/optimization/internal/prompt_learning.py
Due: python-import-check, python-ruff, python-ruff-format

Add Infisical secrets wrapper
  AGENTS.md
  scripts/with_secrets.sh
Due: none

fix: replace bare `import toml` with tomllib/tomli fallback
  synth_ai/core/tracing_v3/session_tracer.py
  synth_ai/sdk/optimization/internal/validators.py
Due: python-import-check, python-ruff, python-ruff-format

fix: parse 429 response body in graph completions SDK instead of hardcoding unknowns
  synth_ai_core/src/api/graphs.rs
Due: none

feat: surface x402 payment-required errors in sdk wrappers
  synth_ai/core/__init__.py
  synth_ai/core/errors.py
  synth_ai/sdk/__init__.py
  synth_ai/sdk/graphs/completions.py
  synth_ai_py/src/lib.rs
  tests/unit/test_graph_completions_http_fallback.py
  tests/unit/test_payment_required_error.py
Due: python-import-check, python-ruff, python-ruff-format

chore: checkpoint before x402 stripe integration
  benchmark_result.json
  synth_ai/sdk/optimization/internal/progress/events.py
  synth_ai_core/src/orchestration/events.rs
Due: python-import-check, python-ruff, python-ruff-format

feat: improve PaymentRequiredError for x402 v2
  synth_ai/core/errors.py
Due: python-import-check, python-ruff, python-ruff-format

feat(x402): auto-pay + retry 402s in rust-core http client
  synth_ai_core/Cargo.toml
  synth_ai_core/src/config.rs
  synth_ai_core/src/http.rs
  synth_ai_core/src/lib.rs
  synth_ai_core/src/x402.rs
Due: none

feat(levers/sensors): add typed models + mipro summaries
  synth_ai/core/levers.py
  synth_ai/core/sensors.py
  synth_ai/sdk/optimization/models.py
  synth_ai_core/src/api/types.rs
  synth_ai_core/src/data/levers.rs
  synth_ai_core/src/data/mod.rs
  synth_ai_core/src/data/sensors.rs
  synth_ai_core/src/lib.rs
  tests/unit/test_levers_sensors_types.py
Due: python-import-check, python-ruff, python-ruff-format

fix(localapi): preserve reward_info details in python fallback
  synth_ai/sdk/localapi/_impl/rollout_helpers.py
  tests/unit/test_rollout_helpers_details.py
Due: python-import-check, python-ruff, python-ruff-format

feat(rust-sdk): re-export lever/sensor types
  synth_ai_rs/src/lib.rs
Due: none

feat(localapi): add crafter deps and tunnel online-timeout override
  pyproject.toml
  synth_ai/core/tunnels/tunneled_api.py
  uv.lock
Due: python-import-check, python-ruff, python-ruff-format

fix: preserve optional reward metrics in localapi rollout helper
  synth_ai/sdk/localapi/_impl/rollout_helpers.py
Due: python-import-check, python-ruff, python-ruff-format

feat: add lever/sensor v1 contract and runtime support
  synth_ai/sdk/optimization/internal/builders.py
  synth_ai_core/assets/lever_sensor_v1_schema.json
  synth_ai_core/src/api/jobs.rs
  synth_ai_core/src/api/types.rs
  synth_ai_core/src/config.rs
  synth_ai_core/src/data/contracts.rs
  synth_ai_core/src/data/mod.rs
  synth_ai_core/src/data/sensors.rs
  synth_ai_core/src/http.rs
  synth_ai_core/src/lib.rs
  synth_ai_core/src/orchestration/validation.rs
  synth_ai_core/src/x402.rs
  tests/unit/test_lever_sensor_contract_schema.py
Due: python-import-check, python-ruff, python-ruff-format

centralize backend URL helpers for prod/dev/local
  synth_ai/cli/commands/harbor/build.py
  synth_ai/cli/commands/harbor/instances.py
  synth_ai/cli/commands/harbor/list.py
  synth_ai/cli/commands/harbor/run.py
  synth_ai/cli/commands/harbor/status.py
  synth_ai/cli/commands/harbor/upload.py
  synth_ai/cli/commands/localapi/deploy.py
  synth_ai/cli/commands/localapi/serve.py
  synth_ai/core/tunnels/backend_client.py
  synth_ai/core/tunnels/synth_tunnel.py
  synth_ai/core/utils/urls.py
  synth_ai/dspy/miprov2.py
  synth_ai/gepa/api.py
  synth_ai/sdk/clients/anthropic.py
  synth_ai/sdk/clients/openai.py
  synth_ai/sdk/harbor/build_spec.py
  synth_ai/sdk/harbor/uploader.py
  synth_ai/sdk/localapi/_impl/auth.py
  synth_ai/sdk/localapi/deploy.py
  synth_ai_core/src/api/client.rs
  synth_ai_core/src/api/jobs.rs
  synth_ai_core/src/auth.rs
  synth_ai_core/src/config.rs
  synth_ai_core/src/tunnels/cloudflared.rs
  synth_ai_core/src/tunnels/manager.rs
  synth_ai_core/src/urls.rs
  synth_ai_py/src/lib.rs
  synth_ai_rs/src/client.rs
  synth_ai_rs/src/core/mod.rs
  synth_ai_rs/src/lib.rs
Due: python-import-check, python-ruff, python-ruff-format

docs: add runtime enforcement section to API stability lifecycle spec
  specifications/api-stability-lifecycle.md
Due: none

fix: resolve lint and type check CI failures
  synth_ai/core/tunnels/tunneled_api.py
  synth_ai/core/utils/env.py
  synth_ai/sdk/artifacts/client.py
  synth_ai/sdk/artifacts/config.py
  synth_ai/sdk/artifacts/parsing.py
  synth_ai/sdk/clients/__init__.py
  synth_ai/sdk/environment_pools.py
  synth_ai/sdk/graphs/completions.py
  synth_ai/sdk/graphs/trace_upload.py
  synth_ai/sdk/graphs/verifier_schemas.py
  synth_ai/sdk/harbor/build_spec.py
  synth_ai/sdk/harbor/packager.py
  synth_ai/sdk/harbor/uploader.py
  synth_ai/sdk/inference/jobs.py
  synth_ai/sdk/localapi/_impl/in_process.py
  synth_ai/sdk/localapi/_impl/in_process_runner.py
  synth_ai/sdk/localapi/_impl/server.py
  synth_ai/sdk/managed_pools.py
  synth_ai/sdk/optimization/graph/job.py
  synth_ai/sdk/optimization/internal/prompt_learning.py
  synth_ai/sdk/optimization/internal/prompt_learning_service.py
  synth_ai/sdk/optimization/policy/gepa_online_session.py
  synth_ai/sdk/optimization/policy/mipro_online_session.py
  tests/unit/test_env_ensure_synth_api_key.py
  tests/unit/test_in_process_env_key_sync.py
  tests/unit/test_in_process_env_override.py
  tests/unit/test_prompt_learning_backend_url_resolution.py
  tests/unit/test_prompt_learning_synthtunnel_env_key.py
Due: python-import-check, python-ruff, python-ruff-format

fix: default GEPA local tunnel mode on localhost backend
  synth_ai/gepa/api.py
Due: python-import-check, python-ruff, python-ruff-format

fix: resolve lint and type check CI failures
  synth_ai/sdk/clients/__init__.py
  synth_ai/sdk/localapi/_impl/server.py
Due: python-import-check, python-ruff, python-ruff-format

chore: bump version to 0.7.16 for nightly
  pyproject.toml
Due: none

chore: update README version to 0.7.16
  README.md
Due: none

Fix RolloutSafetyConfig max_time_s type
  synth_ai/sdk/localapi/_impl/contracts.py
Due: python-import-check, python-ruff, python-ruff-format

Default verifier backend_base to job backend
  synth_ai/sdk/optimization/internal/builders.py
  tests/optimization/test_prompt_learning_builder.py
Due: python-import-check, python-ruff, python-ruff-format

Update synth-api skill to v0.7.15 SDK surface
  skills/synth-api/SKILL.md
Due: none

Update skill terminology: localapi -> container
  skills/synth-api/SKILL.md
Due: none
