Repository synth-laboratories/synth-ai: changes, and which lefthook commands are due for each by the changed paths.
All: python-import-check, python-ruff, python-ruff-format, notebook-strip

lefthook.yml:

# Lefthook Git hooks configuration for synth-ai
# See: https://lefthook.dev/configuration/
#
# Installation:
#   brew install lefthook  # macOS
#   # or: go install github.com/evilmartians/lefthook@latest
#   lefthook install
#
# Usage:
#   lefthook run pre-commit  # Run hooks manually
#   lefthook uninstall      # Remove hooks

pre-commit:
  parallel: true
  files: git diff --cached --name-only --diff-filter=ACMR
  commands:
    # Python: Verify imports work (catch broken imports before commit)
    python-import-check:
      tags:
        - python
        - lint
      glob:
        - "synth_ai/*.py"
        - "synth_ai/**/*.py"
      run: uv run python .lefthook/pre-commit/import_check.py {files}

    # Python: Ruff linting with auto-fix (only on staged Python files that exist)
    python-ruff:
      tags:
        - python
        - lint
      glob:
        - "*.py"
        - "**/*.py"
      run: uv run ruff check --fix --force-exclude {files}
      stage_fixed: true

    # Python: Ruff format with auto-fix (only on staged Python files that exist)
    python-ruff-format:
      tags:
        - python
        - format
      glob:
        - "*.py"
        - "**/*.py"
      run: uv run ruff format --force-exclude {files}
      stage_fixed: true

    # Jupyter: Strip notebook outputs before commit
    notebook-strip:
      tags:
        - jupyter
        - clean
      glob:
        - "*.ipynb"
        - "**/*.ipynb"
      run: uv run nbstripout {files}
      stage_fixed: true

feat(research): graduate factory candidate APIs
  openapi/research-v1.json
  synth_ai/core/research/contracts/__init__.py
  synth_ai/core/research/contracts/common.py
  synth_ai/core/research/contracts/factories.py
  synth_ai/core/research/factories.py
  synth_ai/core/research/operations.py
Due: python-import-check, python-ruff, python-ruff-format

fix(factory): refuse client maintenance launches
  synth_ai/core/research/_legacy/sdk/client.py
  synth_ai/core/research/_legacy/sdk/factories.py
Due: python-import-check, python-ruff, python-ruff-format

chore(schemas): revendor SMR OpenAPI from backend origin/dev
  synth_ai/core/research/_legacy/schemas/public_models.json
  synth_ai/core/research/_legacy/schemas/smr_openapi.yaml
Due: none

style: ruff-format factory contracts so CI lint passes
  synth_ai/core/research/_legacy/models/factories.py
  synth_ai/core/research/contracts/factories.py
Due: python-import-check, python-ruff, python-ruff-format

style: ruff --fix import order on factory contract modules
  synth_ai/core/research/_legacy/__init__.py
  synth_ai/core/research/_legacy/models/__init__.py
  synth_ai/core/research/_legacy/models/factories.py
  uv.lock
Due: python-import-check, python-ruff, python-ruff-format

chore(schemas): revendor SMR OpenAPI from backend origin/dev (#331)
  synth_ai/core/research/_legacy/__init__.py
  synth_ai/core/research/_legacy/models/__init__.py
  synth_ai/core/research/_legacy/models/factories.py
  synth_ai/core/research/_legacy/schemas/public_models.json
  synth_ai/core/research/_legacy/schemas/smr_openapi.yaml
  synth_ai/core/research/contracts/factories.py
  uv.lock
Due: python-import-check, python-ruff, python-ruff-format

refactor(research): collapse synth_ai.research into core and start _legacy drain
  README.md
  docs/recipes/async-handoff.md
  docs/recipes/first-bounded-research-run.md
  pyproject.toml
  scripts/sdk_docs_postprocess.py
  synth_ai/__init__.py
  synth_ai/cli/research.py
  synth_ai/cli/research_environments.py
  synth_ai/cli/research_image_releases.py
  synth_ai/cli/research_projects.py
  synth_ai/client.py
  synth_ai/core/research/__init__.py
  synth_ai/core/research/_legacy/models/smr_providers.py
  synth_ai/core/research/client.py
  synth_ai/core/research/compat_advanced.py
  synth_ai/core/research/contracts/smr_providers.py
  synth_ai/core/research/facade.py
  synth_ai/core/research/public.py
  synth_ai/mcp/research/server.py
  synth_ai/mcp/research/tools/environments.py
  synth_ai/mcp/research/tools/image_releases.py
  synth_ai/mcp/research/tools/project_data.py
  synth_ai/mcp/research/tools/workspace_inputs.py
  synth_ai/research/async_client.py
  synth_ai/research/control.py
  synth_ai/research/economics.py
  synth_ai/research/efforts.py
  synth_ai/research/enums.py
  synth_ai/research/errors.py
  synth_ai/research/factories.py
  synth_ai/research/hosted_artifacts.py
  synth_ai/research/limits.py
  synth_ai/research/models.py
  synth_ai/research/project_namespaces.py
  synth_ai/research/projects.py
  synth_ai/research/run_readouts.py
  synth_ai/research/runs.py
  synth_ai/research/secrets.py
  synth_ai/research/swarms.py
  synth_ai/research/visuals.py
Due: python-import-check, python-ruff, python-ruff-format

refactor(mcp): point remaining policy schema tools at contracts
  synth_ai/mcp/research/tools/progress.py
  synth_ai/mcp/research/tools/projects.py
  synth_ai/mcp/research/tools/smr_policy_schemas.py
Due: python-import-check, python-ruff, python-ruff-format

refactor(research): point schema_sync and public models at contracts
  synth_ai/core/research/_legacy/models/smr_work_modes.py
  synth_ai/core/research/_legacy/schema_sync.py
  synth_ai/core/research/models.py
Due: python-import-check, python-ruff, python-ruff-format

feat(research): preserve bound runtime targets
  synth_ai/core/research/contracts/__init__.py
  synth_ai/core/research/contracts/swarms.py
  synth_ai/core/research/public.py
Due: python-import-check, python-ruff, python-ruff-format

refactor(research): decouple advanced swarms from legacy handle
  synth_ai/core/research/advanced_swarms.py
Due: python-import-check, python-ruff, python-ruff-format

refactor(research): decouple readout annotations from legacy models
  synth_ai/core/research/readouts.py
Due: python-import-check, python-ruff, python-ruff-format

refactor(research): decouple advanced namespaces from legacy session type
  synth_ai/core/research/artifacts.py
  synth_ai/core/research/project_namespaces.py
  synth_ai/core/research/secrets.py
  synth_ai/core/research/visuals.py
Due: python-import-check, python-ruff, python-ruff-format

chore(sdk): repoint the architecture, compatibility, and docstring gates
  Makefile
  docs/README.md
  scripts/check_sdk_architecture.py
  scripts/generate_managed_research_compatibility.py
  specifications/sdk/public_api_manifest.json
Due: python-ruff, python-ruff-format

chore(sdk): finish the script sweep and make the ratchet an absence assertion
  scripts/check_research_migration_boundaries.py
  scripts/generate_research_capability_ledger.py
  scripts/generate_sdk_docs.py
  scripts/prove_cloud_deployment_client.py
  scripts/prove_cloud_deployment_mcp.py
  scripts/sdk_docs_postprocess.py
Due: python-ruff, python-ruff-format

docs(sdk): document the public Client and Projects surfaces
  specifications/sdk/docstrings.md
  synth_ai/core/research/client.py
  synth_ai/core/research/projects.py
Due: python-import-check, python-ruff, python-ruff-format

fix(research): accept completed activity state
  synth_ai/core/research/contracts/swarms.py
Due: python-import-check, python-ruff, python-ruff-format

docs(sdk): document the public Swarms surface
  synth_ai/core/research/swarms.py
Due: python-import-check, python-ruff, python-ruff-format

docs(sdk): document the public Factories surface
  synth_ai/core/research/factories.py
Due: python-import-check, python-ruff, python-ruff-format

style: sort imports and format the relocated Research modules
  synth_ai/core/research/advanced.py
  synth_ai/core/research/artifacts.py
  synth_ai/core/research/contracts/__init__.py
  synth_ai/core/research/contracts/run_control.py
  synth_ai/core/research/contracts/swarms.py
  synth_ai/core/research/contracts/types.py
  synth_ai/core/research/contracts/wire_models.py
  synth_ai/core/research/errors.py
  synth_ai/core/research/facade.py
  synth_ai/core/research/models.py
  synth_ai/core/research/project_namespaces.py
  synth_ai/core/research/public.py
  synth_ai/core/research/secrets.py
  synth_ai/core/research/session/__init__.py
  synth_ai/core/research/session/_client_helpers.py
  synth_ai/core/research/session/_run_authority_mixin.py
  synth_ai/core/research/session/client.py
  synth_ai/core/research/session/repos.py
  synth_ai/core/research/session/runs.py
  synth_ai/core/research/session/usage.py
  synth_ai/core/research/visuals.py
  synth_ai/mcp/research/server.py
Due: python-import-check, python-ruff, python-ruff-format

fix(transport): match the base stream_sse signature
  synth_ai/core/research/session/client.py
  synth_ai/core/research/transport/http.py
Due: python-import-check, python-ruff, python-ruff-format

release: synth-ai 0.16.2
  CHANGELOG.md
  README.md
  pyproject.toml
Due: none

feat(research): add inference provider selection
  CHANGELOG.md
  openapi/research-v1.json
  pyproject.toml
  synth_ai/core/research/_legacy/models/run_launch.py
  synth_ai/core/research/_legacy/models/smr_inference_providers.py
  synth_ai/core/research/_legacy/models/smr_providers.py
  synth_ai/core/research/_legacy/schema_sync.py
  synth_ai/core/research/_legacy/schemas/public_models.json
  synth_ai/core/research/_legacy/schemas/smr_openapi.yaml
  synth_ai/core/research/_legacy/sdk/_client_helpers.py
  synth_ai/core/research/_legacy/sdk/client.py
  synth_ai/core/research/contracts/swarms.py
  synth_ai/mcp/research/request_models.py
  synth_ai/mcp/research/tools/progress.py
  synth_ai/mcp/research/tools/runs.py
  tests/unit/test_provider_selection.py
  uv.lock
Due: python-import-check, python-ruff, python-ruff-format

feat(research): add Laguna actor model
  synth_ai/core/research/contracts/swarms.py
Due: python-import-check, python-ruff, python-ruff-format

fix(ci): sync README release pins to 0.17.0 and format two MCP modules
  README.md
  synth_ai/mcp/research/tools/progress.py
  synth_ai/mcp/research/tools/runs.py
Due: python-import-check, python-ruff, python-ruff-format

style: sort imports in run_launch.py to clear the Lint gate
  synth_ai/core/research/contracts/run_launch.py
Due: python-import-check, python-ruff, python-ruff-format

fix(ci): restore the fail-closed PyPI publish guard
  .github/workflows/publish-dev.yml
Due: none

fix(research): a poll loop is its own retry in swarms.wait
  synth_ai/core/research/swarms.py
  tests/core_research/test_swarms_wait_transients.py
Due: python-import-check, python-ruff, python-ruff-format

feat(research): SDK + MCP surface for champion-free evaluation lenses
  synth_ai/core/research/advanced_factories.py
  synth_ai/core/research/contracts/__init__.py
  synth_ai/core/research/contracts/factory_lenses.py
  synth_ai/core/research/factories.py
  synth_ai/core/research/operations.py
  synth_ai/core/research/session/client.py
  synth_ai/core/research/session/factories.py
  synth_ai/mcp/research/tools/factory_results.py
  tests/unit/test_factory_lens_contracts.py
Due: python-import-check, python-ruff, python-ruff-format

fix(research): a poll loop is its own retry in swarms.wait (#336)
  synth_ai/core/research/swarms.py
  tests/core_research/test_swarms_wait_transients.py
Due: python-import-check, python-ruff, python-ruff-format

chore(research): run ruff format on the factory-lens surfaces
  synth_ai/core/research/advanced_factories.py
  synth_ai/core/research/contracts/factory_lenses.py
  synth_ai/core/research/factories.py
  synth_ai/core/research/session/factories.py
  synth_ai/mcp/research/tools/factory_results.py
Due: python-import-check, python-ruff, python-ruff-format

chore(research): run ruff format on the factory-lens surfaces (#338)
  synth_ai/core/research/advanced_factories.py
  synth_ai/core/research/contracts/factory_lenses.py
  synth_ai/core/research/factories.py
  synth_ai/core/research/session/factories.py
  synth_ai/mcp/research/tools/factory_results.py
Due: python-import-check, python-ruff, python-ruff-format

test(research): pin the run-state vocabulary the backend actually sends
  tests/core_research/test_swarm_state_vocabulary.py
Due: python-ruff, python-ruff-format

fix(research): accept the completed run state the backend sends (#337)
  synth_ai/core/research/contracts/swarms.py
  tests/core_research/test_swarm_state_vocabulary.py
Due: python-import-check, python-ruff, python-ruff-format

release: synth-ai 0.17.1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none
