Repository synth-laboratories/synth-ai: changes, and which lefthook commands are due for each by the changed paths.
All: python-import-check, python-ruff, python-ruff-format, notebook-strip

lefthook.yml:

# Lefthook Git hooks configuration for synth-ai
# See: https://lefthook.dev/configuration/
#
# Installation:
#   brew install lefthook  # macOS
#   # or: go install github.com/evilmartians/lefthook@latest
#   lefthook install
#
# Usage:
#   lefthook run pre-commit  # Run hooks manually
#   lefthook uninstall      # Remove hooks

pre-commit:
  parallel: true
  files: git diff --cached --name-only --diff-filter=ACMR
  commands:
    # Python: Verify imports work (catch broken imports before commit)
    python-import-check:
      tags:
        - python
        - lint
      glob:
        - "synth_ai/*.py"
        - "synth_ai/**/*.py"
      run: uv run python .lefthook/pre-commit/import_check.py {files}

    # Python: Ruff linting with auto-fix (only on staged Python files that exist)
    python-ruff:
      tags:
        - python
        - lint
      glob:
        - "*.py"
        - "**/*.py"
      run: uv run ruff check --fix --force-exclude {files}
      stage_fixed: true

    # Python: Ruff format with auto-fix (only on staged Python files that exist)
    python-ruff-format:
      tags:
        - python
        - format
      glob:
        - "*.py"
        - "**/*.py"
      run: uv run ruff format --force-exclude {files}
      stage_fixed: true

    # Jupyter: Strip notebook outputs before commit
    notebook-strip:
      tags:
        - jupyter
        - clean
      glob:
        - "*.ipynb"
        - "**/*.ipynb"
      run: uv run nbstripout {files}
      stage_fixed: true

feat(sdk): expose project metered infrastructure
  pyproject.toml
  synth_ai/sdk/research/contracts/projects.py
  tests/test_project_spec_metered_infra.py
  uv.lock
Due: python-import-check, python-ruff, python-ruff-format

feat(sdk): expose project metered infrastructure (#358)
  pyproject.toml
  synth_ai/sdk/research/contracts/projects.py
  tests/test_project_spec_metered_infra.py
  uv.lock
Due: python-import-check, python-ruff, python-ruff-format

feat(factory): expose runtime policy and atomic standup
  synth_ai/mcp/research/server.py
  synth_ai/mcp/research/tools/factories.py
  synth_ai/sdk/research/contracts/__init__.py
  synth_ai/sdk/research/contracts/factory_operations.py
  synth_ai/sdk/research/contracts/factory_runtime_policy.py
  synth_ai/sdk/research/facade.py
  synth_ai/sdk/research/operations.py
  synth_ai/sdk/research/public.py
  synth_ai/sdk/research/schemas/public_models.json
  synth_ai/sdk/research/schemas/smr_openapi.yaml
  synth_ai/sdk/research/session/client.py
  synth_ai/sdk/research/session/factories.py
Due: python-import-check, python-ruff, python-ruff-format

fix(sdk): preserve run trace capture contracts
  synth_ai/sdk/research/contracts/types.py
  tests/test_kickoff_contract_trace_capture.py
Due: python-import-check, python-ruff, python-ruff-format

fix(factory): preserve standup lifecycle policies
  synth_ai/sdk/research/session/factories.py
  tests/test_factory_standup_payload.py
Due: python-import-check, python-ruff, python-ruff-format

fix(factory): canonicalize recurrence delay aliases
  synth_ai/sdk/research/session/factories.py
  tests/test_factory_standup_payload.py
Due: python-import-check, python-ruff, python-ruff-format

feat(intern): add durable async runtime SDK
  synth_ai/sdk/research/contracts/__init__.py
  synth_ai/sdk/research/contracts/research_intern.py
  synth_ai/sdk/research/research_intern.py
Due: python-import-check, python-ruff, python-ruff-format

feat(research): land Sync/Async Intern SDK and MCP surface
  synth_ai/mcp/research/README.md
  synth_ai/mcp/research/request_models.py
  synth_ai/mcp/research/server.py
  synth_ai/mcp/research/tools/research_intern.py
  synth_ai/sdk/research/contracts/__init__.py
  synth_ai/sdk/research/contracts/research_intern.py
  synth_ai/sdk/research/operations.py
  synth_ai/sdk/research/public.py
  synth_ai/sdk/research/research_intern.py
  synth_ai/sdk/research/schemas/public_models.json
  synth_ai/sdk/research/schemas/smr_openapi.yaml
Due: python-import-check, python-ruff, python-ruff-format

Harden SynthTunnel contracts for long RL runs
  openapi/synth-api-v1.yaml
  schemas/smr_openapi.yaml
Due: none

Harden SynthTunnel contracts for long RL runs (#361)
  openapi/synth-api-v1.yaml
  schemas/smr_openapi.yaml
Due: none

Support exact typed Swarm kickoff contracts
  synth_ai/sdk/research/contracts/swarms.py
Due: python-import-check, python-ruff, python-ruff-format

Format Swarm kickoff contracts per repo ruff config
  synth_ai/sdk/research/contracts/swarms.py
Due: python-import-check, python-ruff, python-ruff-format

untracked files on dev: 4ce8b3f3 Merge origin/dev into the SYN-3120 campaign pin (0.18.2 consolidation)
  tests/test_factory_wake_effort_scope.py
Due: python-ruff, python-ruff-format

Gate legacy Research Intern /sessions plane behind explicit opt-in
  .github/workflows/ci.yml
  README.md
  synth_ai/client.py
  synth_ai/mcp/research/tools/research_intern.py
  synth_ai/sdk/research/client.py
  synth_ai/sdk/research/facade.py
  synth_ai/sdk/research/public.py
  synth_ai/sdk/research/research_intern.py
  tests/test_legacy_intern_sessions_gate.py
Due: python-import-check, python-ruff, python-ruff-format

Tolerate new sync-session projection fields (trace publication, provisioning, kit)
  synth_ai/sdk/research/contracts/__init__.py
  synth_ai/sdk/research/contracts/research_intern.py
  synth_ai/sdk/research/public.py
Due: python-import-check, python-ruff, python-ruff-format

Add MCP visual MUTATE parity: create/update/promote/unpublish (B7 / F3.1)
  synth_ai/mcp/research/registry.py
  synth_ai/mcp/research/server.py
  synth_ai/mcp/research/tools/visuals.py
  tests/test_mcp_visual_mutation_tools.py
Due: python-import-check, python-ruff, python-ruff-format

Add research_confirm_workspace_push MCP tool (F1.2 remainder)
  synth_ai/mcp/research/registry.py
  synth_ai/mcp/research/server.py
  synth_ai/mcp/research/tools/workspace_inputs.py
  tests/test_mcp_confirm_workspace_push_tool.py
Due: python-import-check, python-ruff, python-ruff-format

Tolerate new sync-session projection fields (trace publication, provisioning, kit) (#364)
  synth_ai/sdk/research/contracts/__init__.py
  synth_ai/sdk/research/contracts/research_intern.py
  synth_ai/sdk/research/public.py
Due: python-import-check, python-ruff, python-ruff-format

MCP visual MUTATE parity + research_confirm_workspace_push (#365)
  synth_ai/mcp/research/registry.py
  synth_ai/mcp/research/server.py
  synth_ai/mcp/research/tools/visuals.py
  synth_ai/mcp/research/tools/workspace_inputs.py
  tests/test_mcp_confirm_workspace_push_tool.py
  tests/test_mcp_visual_mutation_tools.py
Due: python-import-check, python-ruff, python-ruff-format

feat(intern): port async lane and remaining sync contracts
  synth_ai/mcp/research/tools/factories.py
  synth_ai/sdk/research/advanced_factories.py
  synth_ai/sdk/research/contracts/__init__.py
  synth_ai/sdk/research/contracts/factory_operations.py
  synth_ai/sdk/research/contracts/research_intern.py
  synth_ai/sdk/research/public.py
  synth_ai/sdk/research/research_intern.py
  synth_ai/sdk/research/session/factories.py
  tests/test_intern_remaining_contracts.py
Due: python-import-check, python-ruff, python-ruff-format

feat(intern): port async lane and remaining sync contracts (#366)
  synth_ai/mcp/research/tools/factories.py
  synth_ai/sdk/research/advanced_factories.py
  synth_ai/sdk/research/contracts/__init__.py
  synth_ai/sdk/research/contracts/factory_operations.py
  synth_ai/sdk/research/contracts/research_intern.py
  synth_ai/sdk/research/public.py
  synth_ai/sdk/research/research_intern.py
  synth_ai/sdk/research/session/factories.py
  tests/test_intern_remaining_contracts.py
Due: python-import-check, python-ruff, python-ruff-format

feat(models): publish Codex Fast tier catalog
  schemas/public_models.json
Due: none

feat(models): publish Codex Fast tier catalog (#367)
  schemas/public_models.json
Due: none

fix(sdk): accept async checkpoint research records
  synth_ai/sdk/research/contracts/research_intern.py
Due: python-import-check, python-ruff, python-ruff-format

Re-vendor smr_openapi.yaml from backend Gate-2 pin 61bf2a8e9
  schemas/smr_openapi.yaml
Due: none

Add typed not-found errors and canonical surface-parity evidence helpers
  synth_ai/sdk/research/errors.py
  synth_ai/sdk/research/public.py
  synth_ai/sdk/research/surface_parity.py
  synth_ai/sdk/research/transport/http.py
Due: python-import-check, python-ruff, python-ruff-format

Mirror backend WS4/WS5 response surfaces in the strict typed contracts
  synth_ai/mcp/research/tools/research_intern.py
  synth_ai/sdk/research/contracts/__init__.py
  synth_ai/sdk/research/contracts/research_intern.py
  synth_ai/sdk/research/contracts/run_launch.py
  synth_ai/sdk/research/contracts/traces.py
  synth_ai/sdk/research/errors.py
  synth_ai/sdk/research/operations.py
  synth_ai/sdk/research/public.py
  synth_ai/sdk/research/research_intern.py
  synth_ai/sdk/research/session/client.py
  synth_ai/sdk/research/traces.py
  synth_ai/sdk/research/transport/http.py
Due: python-import-check, python-ruff, python-ruff-format

Re-vendor smr_openapi.yaml from backend WS4/WS5 export 4f649e7bf
  schemas/smr_openapi.yaml
Due: none

feat(sdk): restore typed container pools as research.container_pools
  synth_ai/sdk/research/client.py
  synth_ai/sdk/research/container_pools/__init__.py
  synth_ai/sdk/research/container_pools/api.py
  synth_ai/sdk/research/container_pools/contracts.py
  synth_ai/sdk/research/container_pools/operations.py
  synth_ai/sdk/research/container_pools/packaging.py
  synth_ai/sdk/research/facade.py
Due: python-import-check, python-ruff, python-ruff-format

feat(sdk): expand ARG defaults, honor .dockerignore, package arbitrary contexts
  synth_ai/sdk/research/container_pools/packaging.py
Due: python-import-check, python-ruff, python-ruff-format

Re-pin the Sync session surface to backend 069a119ed's reduced projection
  schemas/smr_openapi.yaml
  synth_ai/sdk/research/contracts/__init__.py
  synth_ai/sdk/research/contracts/research_intern.py
  synth_ai/sdk/research/public.py
  tests/test_intern_remaining_contracts.py
Due: python-import-check, python-ruff, python-ruff-format

feat(research): add project file SDK surface
  synth_ai/mcp/research/registry.py
  synth_ai/mcp/research/tools/resources.py
  synth_ai/mcp/research/tools/workspace_inputs.py
  synth_ai/sdk/research/contracts/research_intern.py
  synth_ai/sdk/research/operations.py
  synth_ai/sdk/research/project_files.py
  synth_ai/sdk/research/projects.py
  synth_ai/sdk/research/public.py
Due: python-import-check, python-ruff, python-ruff-format

fix(sdk): preserve typed container pool API follow-up
  synth_ai/sdk/research/container_pools/api.py
Due: python-import-check, python-ruff, python-ruff-format
