Repository synth-laboratories/synth-ai: changes, and which lefthook commands are due for each by the changed paths.
All: python-typecheck, python-ruff, python-ruff-format, notebook-strip, tui-typecheck, url-centralization, unused-deps, api-drift

lefthook.yml:

# Lefthook Git hooks configuration for synth-ai
# See: https://lefthook.dev/configuration/
#
# Installation:
#   brew install lefthook  # macOS
#   # or: go install github.com/evilmartians/lefthook@latest
#   lefthook install
#
# Usage:
#   lefthook run pre-commit  # Run hooks manually
#   lefthook uninstall      # Remove hooks
#
# Script execution standard:
#   - All scripts live in scripts/
#   - Python scripts: `uv run python scripts/X.py` (same as CI)
#   - TypeScript: `bun run <command>` in the relevant directory

pre-commit:
  parallel: true
  files: git diff --cached --name-only --diff-filter=ACMR
  commands:
    # Python: Type check with ty (Astral's type checker)
    # Runs in project env so it has access to all dependency type stubs
    # Excludes demos/benchmarks - they're experimental with optional deps
    python-typecheck:
      tags:
        - python
        - typecheck
      glob:
        - "*.py"
        - "**/*.py"
      run: uv run --group dev ty check {files}

    # Python: Ruff linting with auto-fix (only on staged Python files that exist)
    python-ruff:
      tags:
        - python
        - lint
      glob:
        - "*.py"
        - "**/*.py"
      run: uv run ruff check --fix --unsafe-fixes {files}
      stage_fixed: true

    # Python: Ruff format with auto-fix (only on staged Python files that exist)
    python-ruff-format:
      tags:
        - python
        - format
      glob:
        - "*.py"
        - "**/*.py"
      run: uv run ruff format {files}
      stage_fixed: true

    # Jupyter: Strip notebook outputs before commit
    notebook-strip:
      tags:
        - jupyter
        - clean
      glob:
        - "*.ipynb"
        - "**/*.ipynb"
      run: uv run nbstripout {files}
      stage_fixed: true

    # TUI: TypeScript typecheck
    tui-typecheck:
      tags:
        - typescript
        - typecheck
      glob:
        - "synth_ai/tui/app/*.ts"
        - "synth_ai/tui/app/**/*.ts"
      root: synth_ai/tui/app
      run: bun run typecheck

    # URL Centralization: Ensure URLs are only defined in authorized files
    url-centralization:
      tags:
        - lint
      glob:
        - "*.py"
        - "**/*.py"
        - "*.ts"
        - "**/*.ts"
        - "*.tsx"
        - "**/*.tsx"
      run: uv run python scripts/check_url_centralization.py {files}

    # Unused Dependencies: Ensure all deps in pyproject.toml are actually used
    unused-deps:
      tags:
        - deps
        - lint
      glob:
        - "pyproject.toml"
      run: uv run python scripts/check_unused_deps.py

    # API Drift: Ensure demos/ and benchmarks/ use valid synth_ai APIs
    api-drift:
      tags:
        - api
        - lint
      glob:
        - "synth_ai/**/*.py"
        - "demos/**/*.py"
        - "benchmarks/**/*.py"
      run: uv run python scripts/check_api_drift.py {files}

docs: move synth-api skill to skills/ root
  skills/synth-api/SKILL.md
Due: none

chore: trim deps and expand synth-api auth docs
  pyproject.toml
  skills/synth-api/SKILL.md
  uv.lock
Due: unused-deps

docs: update GEPA banking77 demo and MTG GEPA runner
  demos/gepa_banking77/gepa_banking77_prompt_optimization.ipynb
  demos/mtg_artist_style/gepa_mtg_image_config.toml
  demos/mtg_artist_style/mtg_image_task_app.py
  demos/mtg_artist_style/run_gepa_mtg_image.py
  demos/mtg_artist_style/run_prompt_opt.py
Due: python-typecheck, python-ruff, python-ruff-format, notebook-strip, url-centralization, api-drift

fix(tunnels): improve DNS verification and managed tunnel support
  demos/mtg_artist_style/run_prompt_opt.py
  synth_ai/core/tunnels/cloudflare.py
  synth_ai/core/tunnels/tunneled_api.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

fix(demo): Banking77 GEPA notebook interceptor and prompt extraction
  demos/gepa_banking77/gepa_banking77_prompt_optimization.ipynb
Due: notebook-strip

fix(demo): Remove numpy<2 constraint causing Colab binary incompatibility
  demos/gepa_banking77/gepa_banking77_prompt_optimization.ipynb
Due: notebook-strip

fix(demo): Fix Colab numpy incompatibility with proper reinstall
  demos/gepa_banking77/gepa_banking77_prompt_optimization.ipynb
Due: notebook-strip

fix(demo): Pin synth-ai>=0.6.0 in Colab install
  demos/gepa_banking77/gepa_banking77_prompt_optimization.ipynb
Due: notebook-strip

fix(demo): Force reinstall and verify synth-ai in Colab
  demos/gepa_banking77/gepa_banking77_prompt_optimization.ipynb
Due: notebook-strip

fix(demo): Always reinstall in Colab (remove flag file check)
  demos/gepa_banking77/gepa_banking77_prompt_optimization.ipynb
Due: notebook-strip

ci: Add notebook validation for GEPA Banking77 demo
  .github/workflows/ci.yml
  tests/notebooks/__init__.py
  tests/notebooks/test_gepa_banking77_notebook.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization

ci: Expand notebook validation to all 5 demo notebooks
  .github/workflows/ci.yml
  tests/notebooks/test_demo_notebooks.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization

Revert "ci: Expand notebook validation to all 5 demo notebooks"
  .github/workflows/ci.yml
  tests/notebooks/test_demo_notebooks.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization

Remove numpy version restriction from GEPA Banking77 notebook
  demos/gepa_banking77/gepa_banking77_prompt_optimization.ipynb
Due: notebook-strip

Release 0.6.1 with internal module structure for Colab compatibility
  demos/gepa_banking77/gepa_banking77_prompt_optimization.ipynb
  pyproject.toml
Due: notebook-strip, unused-deps

Fix Colab numpy dependency conflict in GEPA Banking77 notebook
  demos/gepa_banking77/gepa_banking77_prompt_optimization.ipynb
Due: notebook-strip

Release 0.6.2: Include supported_models.json in package
  MANIFEST.in
  demos/gepa_banking77/gepa_banking77_prompt_optimization.ipynb
  pyproject.toml
Due: notebook-strip, unused-deps

Release 0.6.3: Move LLM providers to optional [providers] extra
  demos/gepa_banking77/gepa_banking77_prompt_optimization.ipynb
  pyproject.toml
Due: notebook-strip, unused-deps

Switch GEPA demo from polling to streaming for real-time progress
  demos/gepa_banking77/gepa_banking77_prompt_optimization.ipynb
Due: notebook-strip

Use async streaming for GEPA optimization in demo
  demos/gepa_banking77/gepa_banking77_prompt_optimization.ipynb
Due: notebook-strip

feat(graphs): Add TraceUploader for presigned URL trace uploads
  synth_ai/sdk/graphs/__init__.py
  synth_ai/sdk/graphs/completions.py
  synth_ai/sdk/graphs/trace_upload.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

Add get_system_prompt() to PromptLearningResult, simplify notebook
  demos/gepa_banking77/gepa_banking77_prompt_optimization.ipynb
  synth_ai/sdk/optimization/internal/prompt_learning.py
  synth_ai/sdk/optimization/models.py
Due: python-typecheck, python-ruff, python-ruff-format, notebook-strip, url-centralization, api-drift

Fix Colab restart warning dialog in demo notebooks
  demos/gepa_banking77/gepa_banking77_prompt_optimization.ipynb
  demos/rlm-mit/gepa_oolong_rlm_prompt_optimization.ipynb
  demos/style_matching/style_matching_prompt_optimization.ipynb
Due: notebook-strip

Fix Colab restart warning dialog in banking77 demo notebook
  demos/gepa_banking77/gepa_banking77_prompt_optimization.ipynb
Due: notebook-strip

Speed up Colab install - remove force-reinstall
  demos/gepa_banking77/gepa_banking77_prompt_optimization.ipynb
  demos/rlm-mit/gepa_oolong_rlm_prompt_optimization.ipynb
  demos/style_matching/style_matching_prompt_optimization.ipynb
Due: notebook-strip

Speed up Colab install - remove force-reinstall
  demos/gepa_banking77/gepa_banking77_prompt_optimization.ipynb
Due: notebook-strip

Increase GEPA seeds to prevent overfitting
  demos/gepa_banking77/gepa_banking77_prompt_optimization.ipynb
Due: notebook-strip

refactor: rename score to reward in verifier schemas and demo
  demos/mtg_artist_style/run_verifier_opt_from_dataset.py
  synth_ai/sdk/graphs/verifier_schemas.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

fix: use standardized job_id field in verifier demo
  demos/mtg_artist_style/run_verifier_opt_from_dataset.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

feat: Add rlm_impl parameter to rlm_inference method
  synth_ai/sdk/graphs/completions.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

Add lease-based tunnel system for faster, reusable tunnels
  synth_ai/core/tunnels/__init__.py
  synth_ai/core/tunnels/backend_client.py
  synth_ai/core/tunnels/connector.py
  synth_ai/core/tunnels/errors.py
  synth_ai/core/tunnels/gateway.py
  synth_ai/core/tunnels/manager.py
  synth_ai/core/tunnels/tunneled_api.py
  synth_ai/core/tunnels/types.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

Add seed_scores to Candidate, total_rollouts/total_proposal_calls to PromptResults
  synth_ai/sdk/optimization/internal/learning/prompt_learning_client.py
  synth_ai/sdk/optimization/internal/learning/prompt_learning_types.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

Fix verify_tunnel_dns_resolution call and revert demo to legacy tunnels
  demos/gepa_banking77/run_demo.py
  synth_ai/core/tunnels/manager.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

Fix SDK to preserve rollout/proposal metrics from earlier events
  synth_ai/sdk/optimization/internal/learning/prompt_learning_client.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

Bump version to 0.6.5
  pyproject.toml
Due: unused-deps

Bump version to 0.6.6
  pyproject.toml
Due: unused-deps

Improve tunnel system robustness and UX (v0.7.0)
  pyproject.toml
  scripts/tunnels/repro_gateway_deadlock.py
  scripts/tunnels/repro_manager_debug.py
  scripts/tunnels/repro_manager_open.py
  scripts/tunnels/repro_public_url.py
  scripts/tunnels/repro_step_by_step.py
  synth_ai/core/tunnels/backend_client.py
  synth_ai/core/tunnels/connector.py
  synth_ai/core/tunnels/gateway.py
  synth_ai/core/tunnels/manager.py
  synth_ai/core/tunnels/tunneled_api.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, unused-deps, api-drift

Make CloudflareManagedLease the default tunnel backend (v0.7.1)
  pyproject.toml
  synth_ai/core/tunnels/tunneled_api.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, unused-deps, api-drift

Add OntologyClient to SDK
  synth_ai/__init__.py
  synth_ai/sdk/__init__.py
  synth_ai/sdk/ontology/__init__.py
  synth_ai/sdk/ontology/client.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift
