Repository synth-laboratories/synth-ai: changes, and which lefthook commands are due for each by the changed paths.
All: python-import-check, python-ruff, python-ruff-format, notebook-strip

python-import-check:
  tags:
  - python
  - lint
  run: uv run python .lefthook/pre-commit/import_check.py {files}

python-ruff:
  tags:
  - python
  - lint
  run: uv run ruff check --fix --force-exclude {files}
  stage_fixed: true

python-ruff-format:
  tags:
  - python
  - format
  run: uv run ruff format --force-exclude {files}
  stage_fixed: true

notebook-strip:
  tags:
  - jupyter
  - clean
  run: uv run nbstripout {files}
  stage_fixed: true

Sort contract imports and format the inference cache policy
  synth_ai/sdk/research/contracts/__init__.py
  synth_ai/sdk/research/contracts/swarms.py
  synth_ai/sdk/research/public.py
Due: python-import-check, python-ruff, python-ruff-format

Add project creation idempotency key contract
  synth_ai/sdk/research/contracts/projects.py
  tests/test_project_spec_metered_infra.py
Due: python-import-check, python-ruff, python-ruff-format

Add openai-api/gpt-6-luna to the SMR actor model enums
  synth_ai/sdk/research/contracts/smr_agent_models.py
  synth_ai/sdk/research/contracts/swarms.py
Due: python-import-check, python-ruff, python-ruff-format

feat(sdk): expose direct OpenAI Luna model
  synth_ai/sdk/research/contracts/smr_agent_models.py
  synth_ai/sdk/research/contracts/swarms.py
Due: python-import-check, python-ruff, python-ruff-format

Add typed SMR inference cache policy
  synth_ai/sdk/research/contracts/__init__.py
  synth_ai/sdk/research/contracts/swarms.py
  synth_ai/sdk/research/public.py
Due: python-import-check, python-ruff, python-ruff-format

Sync vendored Research contract with backend dev
  schemas/smr_openapi.yaml
Due: none

Expose dedicated read-only Index MCP entrypoint
  pyproject.toml
  synth_ai/mcp/research/README.md
  synth_ai/mcp/research/server.py
  synth_ai/sdk/index/AGENT_SETUP_PROMPT.md
  synth_ai/sdk/index/README.md
Due: python-import-check, python-ruff, python-ruff-format

Expose funded Index search options in CLI
  synth_ai/cli/index.py
  synth_ai/sdk/index/README.md
Due: python-import-check, python-ruff, python-ruff-format

Align Index SDK and MCP with funded search launch contract
  openapi/README.md
  openapi/index-v1.json
  synth_ai/mcp/research/server.py
  synth_ai/mcp/research/tools/index.py
  synth_ai/sdk/index/README.md
  synth_ai/sdk/index/__init__.py
  synth_ai/sdk/index/catalog.py
  synth_ai/sdk/index/client.py
  synth_ai/sdk/index/public.py
  synth_ai/sdk/index/search.py
Due: python-import-check, python-ruff, python-ruff-format

Document funded Index MCP setup for coding agents
  synth_ai/mcp/research/tools/index.py
  synth_ai/sdk/index/AGENT_SETUP_PROMPT.md
  synth_ai/sdk/index/README.md
Due: python-import-check, python-ruff, python-ruff-format

Extract workspace upload normalization from Research monolith
  synth_ai/sdk/research/session/_client_helpers.py
  synth_ai/sdk/research/session/client.py
Due: python-import-check, python-ruff, python-ruff-format

Preserve legacy Intern Sync projection digest
  synth_ai/sdk/research/contracts/research_intern.py
Due: python-import-check, python-ruff, python-ruff-format

test(index): include installed-client gate in SDK test command
  Makefile
Due: none

docs(index): explain durable Search lifecycle in SDK
  synth_ai/sdk/index/client.py
Due: python-import-check, python-ruff, python-ruff-format

docs(index): make generated client introduction public-facing
  synth_ai/sdk/index/client.py
Due: python-import-check, python-ruff, python-ruff-format

fix(index): align SDK contract with current dev execution versions
  openapi/index-v1.json
  synth_ai/sdk/index/search.py
Due: python-import-check, python-ruff, python-ruff-format

test(index): gate public MCP entrypoint discovery
  tests/test_index_mcp_entrypoint.py
Due: python-ruff, python-ruff-format

docs(index): pin current backend OpenAPI authority
  openapi/README.md
Due: none

fix(index): pass public SDK lint and type gates
  setup.py
  synth_ai/cli/index.py
  synth_ai/mcp/research/server.py
  synth_ai/sdk/index/README.md
  synth_ai/sdk/index/public.py
  synth_ai/sdk/index/research_intake.py
  synth_ai/sdk/index/search.py
  synth_ai/sdk/index/transfer.py
  synth_ai/sdk/index/usage_accounting.py
Due: python-import-check, python-ruff, python-ruff-format

docs(index): clarify anonymous known-ID reads
  synth_ai/sdk/index/README.md
Due: none

Show recoverable idempotency keys in Index examples
  synth_ai/sdk/index/README.md
Due: none

Index SDK: correct public Search and award reference copy
  synth_ai/sdk/index/catalog.py
Due: python-import-check, python-ruff, python-ruff-format

Index SDK: recognize public asset license denial
  synth_ai/sdk/index/errors.py
Due: python-import-check, python-ruff, python-ruff-format

Bound Index MCP transport for monitored delivery
  synth_ai/mcp/research/server.py
  tests/test_index_mcp_entrypoint.py
Due: python-import-check, python-ruff, python-ruff-format

Default direct Index clients to monitored transport bound
  synth_ai/client.py
  synth_ai/mcp/research/server.py
  synth_ai/sdk/index/public.py
  synth_ai/sdk/index/timeouts.py
  tests/test_index_transport_timeout.py
Due: python-import-check, python-ruff, python-ruff-format

SDK: restore public Async Intern API docstrings
  synth_ai/sdk/research/research_intern.py
Due: python-import-check, python-ruff, python-ruff-format

SDK: present Index API and MCP in package landing copy
  README.md
  pyproject.toml
Due: none

SDK: link Index guide from package metadata to public source
  README.md
Due: none

Prepare synth-ai 0.20.0 changelog for Index cut 1
  CHANGELOG.md
Due: none

MCP entry points: --help/--version and one-line config errors
  CHANGELOG.md
  synth_ai/mcp/research/server.py
  tests/test_mcp_entrypoint_cli.py
Due: python-import-check, python-ruff, python-ruff-format

CHANGELOG 0.20.0: no pricing claims in cut 1
  CHANGELOG.md
Due: none

synth-ai 0.20.1: DEEP create/wait never lose an admitted Search
  CHANGELOG.md
  pyproject.toml
  synth_ai/core/errors.py
  synth_ai/core/http/transport.py
  synth_ai/mcp/research/server.py
  synth_ai/mcp/research/tools/index.py
  synth_ai/sdk/index/__init__.py
  synth_ai/sdk/index/client.py
  synth_ai/sdk/index/errors.py
  synth_ai/sdk/index/retry.py
  tests/test_index_deep_create_retry.py
  uv.lock
Due: python-import-check, python-ruff, python-ruff-format

mcp: hide index_answer from tool discovery and dispatch (not in public launch)
  CHANGELOG.md
  synth_ai/mcp/research/server.py
  synth_ai/mcp/research/tools/index.py
  tests/test_index_mcp_entrypoint.py
Due: python-import-check, python-ruff, python-ruff-format

sdk(index): name index_asset_download_unavailable; document asset downloads off at launch
  CHANGELOG.md
  synth_ai/sdk/index/client.py
  synth_ai/sdk/index/errors.py
  tests/test_index_deep_create_retry.py
Due: python-import-check, python-ruff, python-ruff-format

sdk(index): name contribution_withdrawn (404, backend 0.22.0)
  CHANGELOG.md
  synth_ai/sdk/index/errors.py
  tests/test_index_deep_create_retry.py
Due: python-import-check, python-ruff, python-ruff-format

Declare executable workspace uploads from the CLI and MCP tool
  synth_ai/cli/research_projects.py
  synth_ai/mcp/research/tools/workspace_inputs.py
  synth_ai/sdk/research/contracts/workspaces.py
  tests/test_workspace_file_mode.py
Due: python-import-check, python-ruff, python-ruff-format

sdk(index): bound each DEEP status poll to 20 s; 0.20.2
  CHANGELOG.md
  pyproject.toml
  synth_ai/mcp/research/tools/index.py
  synth_ai/sdk/index/client.py
  tests/test_index_deep_create_retry.py
  uv.lock
Due: python-import-check, python-ruff, python-ruff-format

fix(sdk): treat partial SMR runs as terminal
  synth_ai/sdk/research/contracts/run_state.py
Due: python-import-check, python-ruff, python-ruff-format

Path conditions:
  python-import-check: any of: synth_ai/*.py, synth_ai/**/*.py
  python-ruff: any of: *.py, **/*.py
  python-ruff-format: any of: *.py, **/*.py
  notebook-strip: any of: *.ipynb, **/*.ipynb
