Repository synth-laboratories/synth-ai: changes, and which lefthook commands are due for each by the changed paths.
All: python-typecheck, python-ruff, python-ruff-format, notebook-strip, tui-typecheck, url-centralization, unused-deps, api-drift

python-typecheck:
  tags:
  - python
  - typecheck
  run: uv run --group dev ty check {files}

python-ruff:
  tags:
  - python
  - lint
  run: uv run ruff check --fix --unsafe-fixes {files}
  stage_fixed: true

python-ruff-format:
  tags:
  - python
  - format
  run: uv run ruff format {files}
  stage_fixed: true

notebook-strip:
  tags:
  - jupyter
  - clean
  run: uv run nbstripout {files}
  stage_fixed: true

tui-typecheck:
  tags:
  - typescript
  - typecheck
  run: bun run typecheck

url-centralization:
  tags:
  - lint
  run: uv run python scripts/check_url_centralization.py {files}

unused-deps:
  tags:
  - deps
  - lint
  run: uv run python scripts/check_unused_deps.py

api-drift:
  tags:
  - api
  - lint
  run: uv run python scripts/check_api_drift.py {files}

fix: overwrite relay auth headers with local API keys in Rust agent
  synth_ai_core/src/tunnels/synth_tunnel.rs
Due: none

fix: reduce GEPA max_concurrent to 10 to fit SynthTunnel inflight limit
  demos/gepa_banking77/run_demo.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

fix: request max_inflight=64 in SynthTunnel lease capabilities
  demos/gepa_banking77/run_demo.py
  synth_ai/core/tunnels/tunneled_api.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

fix: cap GEPA concurrency to fit relay max_inflight=16
  demos/gepa_banking77/run_demo.py
  synth_ai/core/tunnels/tunneled_api.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

fix: reduce pareto_set_size to match reduced eval seeds
  demos/gepa_banking77/run_demo.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

feat: SynthTunnel relay, dynamic max_inflight, tunnel docs
  Makefile
  README.md
  demos/gepa_banking77/Dockerfile.banking77-localapi
  demos/gepa_banking77/harbor_localapi_runner.py
  demos/gepa_banking77/localapi_banking77.py
  demos/gepa_banking77/run_demo.py
  synth_ai/core/tunnels/__init__.py
  synth_ai/core/tunnels/synth_tunnel.py
  synth_ai/core/tunnels/tunneled_api.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

fix: reward_info serialized as "metrics" causing backend to read 0.0
  demos/gepa_banking77/localapi_banking77.py
  demos/gepa_banking77/run_demo.py
  synth_ai/sdk/localapi/_impl/contracts.py
  synth_ai_core/src/localapi/types.rs
  synth_ai_rs/src/localapi.rs
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

chore: bump version to 0.7.6
  pyproject.toml
Due: unused-deps

chore: bump version to 0.7.7
  pyproject.toml
Due: unused-deps

docs: add Deploy & Harbor guide alongside tunnel docs
  docs/deploy_and_harbor.md
Due: none

feat: add managed LocalAPI deploy to Rust SDK
  synth_ai/sdk/localapi/deploy.py
  synth_ai_core/src/api/client.rs
  synth_ai_core/src/api/localapi.rs
  synth_ai_core/src/api/mod.rs
  synth_ai_core/src/api/types.rs
  synth_ai_core/src/lib.rs
  synth_ai_py/src/lib.rs
  synth_ai_rs/examples/localapi_list.rs
  synth_ai_rs/src/lib.rs
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

refactor: replace libsql with stdlib sqlite3, remove sqld
  pyproject.toml
  synth_ai/core/tracing_v3/__init__.py
  synth_ai/core/tracing_v3/config.py
  synth_ai/core/tracing_v3/rust_tracer.py
  synth_ai/core/tracing_v3/storage/config.py
  synth_ai/core/tracing_v3/storage/factory.py
  synth_ai/core/tracing_v3/tests/test_concurrent_operations.py
  synth_ai/core/tracing_v3/tests/test_replica_sync.py
  synth_ai/core/tracing_v3/tests/test_turso_manager.py
  synth_ai/core/tracing_v3/turso/__init__.py
  synth_ai/core/tracing_v3/turso/daemon.py
  synth_ai/core/tracing_v3/turso/native_manager.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, unused-deps, api-drift

Add Bazel CI workflow (Blacksmith)
  .bazelrc
  .bazelversion
  .github/workflows/ci-bazel.yml
  BUILD.bazel
  MODULE.bazel
  bazel/pytest_fast.sh
Due: none

Fix Bazel CI tool paths and cache config
  .bazelrc
  .github/workflows/ci-bazel.yml
  bazel/pytest_fast.sh
Due: none

Use latest Bazelisk in CI
  .github/workflows/ci-bazel.yml
Due: none

Pin Bazelisk v1.27.0 in CI
  .github/workflows/ci-bazel.yml
Due: none

Set Bazel output_user_root for CI
  .bazelrc
Due: none

Force Bazel output_user_root in CI
  .github/workflows/ci-bazel.yml
Due: none

Use repo-scoped Bazel output_user_root
  .github/workflows/ci-bazel.yml
Due: none

Align Bazel caches with Blacksmith paths
  .bazelrc
Due: none

Expose Bazel test output in CI
  .github/workflows/ci-bazel.yml
Due: none

fix(ci): exclude demos/ from pytest_fast to fix bazel CI
  bazel/pytest_fast.sh
Due: none

fix: remove tui-typecheck hook since TUI moved to separate repo
  lefthook.yml
Due: none

fix: remove unfinished test_prompt_learning_policy_config from CI
  tests/optimization/test_prompt_learning_policy_config.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization

Document branching model and CI ops in README
  README.md
Due: none

fix(demo): add --quick mode and infinite timeout to MTG in-process demo
  demos/mtg_artist_style_in_process/README.md
  demos/mtg_artist_style_in_process/gepa_mtg_in_process.toml
  demos/mtg_artist_style_in_process/mtg_in_process_task_app.py
  demos/mtg_artist_style_in_process/run_in_process_gepa.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

feat(sdk): add pause/resume support to policy optimization jobs
  synth_ai/sdk/optimization/internal/prompt_learning.py
  synth_ai/sdk/optimization/internal/prompt_learning_service.py
  synth_ai/sdk/optimization/policy/job.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

Path conditions:
  python-typecheck: any of: *.py, **/*.py
  python-ruff: any of: *.py, **/*.py
  python-ruff-format: any of: *.py, **/*.py
  notebook-strip: any of: *.ipynb, **/*.ipynb
  tui-typecheck: any of: synth_ai/tui/app/*.ts, synth_ai/tui/app/**/*.ts and ^synth_ai/tui/app/
  url-centralization: any of: *.py, **/*.py, *.ts, **/*.ts, *.tsx, **/*.tsx
  unused-deps: any of: pyproject.toml
  api-drift: any of: synth_ai/**/*.py, demos/**/*.py, benchmarks/**/*.py
