Repository synth-laboratories/synth-ai: changes, and which lefthook commands are due for each by the changed paths.
All: python-import-check, python-ruff, python-ruff-format, notebook-strip

python-import-check:
  tags:
  - python
  - lint
  run: uv run python .lefthook/pre-commit/import_check.py {files}

python-ruff:
  tags:
  - python
  - lint
  run: uv run ruff check --fix --force-exclude {files}
  stage_fixed: true

python-ruff-format:
  tags:
  - python
  - format
  run: uv run ruff format --force-exclude {files}
  stage_fixed: true

notebook-strip:
  tags:
  - jupyter
  - clean
  run: uv run nbstripout {files}
  stage_fixed: true

fix(sdk): classify archived launches as non-retryable conflicts
  synth_ai/sdk/research/errors.py
  tests/contract/test_archived_launch_refusal_contracts.py
Due: python-import-check, python-ruff, python-ruff-format

fix(sdk): carry resource_bindings and launch provenance on SwarmSpec
  synth_ai/sdk/research/contracts/__init__.py
  synth_ai/sdk/research/contracts/swarms.py
  synth_ai/sdk/research/public.py
  tests/contract/test_swarm_spec_launch_contracts.py
Due: python-import-check, python-ruff, python-ruff-format

fix(sdk): retain uncertain write intent and typed MCP argument refusals
  synth_ai/mcp/research/registry.py
  synth_ai/mcp/research/server.py
  synth_ai/sdk/research/errors.py
  synth_ai/sdk/research/scientific_records.py
  tests/contract/test_scientific_receipt_uncertainty_contracts.py
  tests/mcp/test_installed_stdio_scientific_contracts.py
Due: python-import-check, python-ruff, python-ruff-format

api: export typed MCP argument refusal
  synth_ai/mcp/research/registry.py
Due: python-import-check, python-ruff, python-ruff-format

feat(research): expose typed native evidence and attachment receipts through SDK and MCP
  synth_ai/mcp/research/server.py
  synth_ai/mcp/research/tools/scientific_records.py
  synth_ai/sdk/research/contracts/native_attachment.py
  synth_ai/sdk/research/contracts/native_result_outcome.py
  synth_ai/sdk/research/scientific_records.py
  tests/contract/fixtures/native_attachment_page.json
  tests/contract/test_native_attachment_read_contracts.py
Due: python-import-check, python-ruff, python-ruff-format

style(sdk): type native evidence page returns and organize contract tests
  synth_ai/sdk/research/scientific_records.py
  tests/contract/test_native_attachment_read_contracts.py
Due: python-import-check, python-ruff, python-ruff-format

contracts: pin joined producer routes and native evidence snapshots
  openapi/research-v1.json
  tests/contract/TESTS_INDEX.md
  tests/contract/fixtures/backend_all_routes.json
  tests/contract/fixtures/backend_full_openapi.generated.json
  tests/contract/fixtures/provenance.json
  tests/contract/fixtures/research_openapi.generated.json
Due: none

SYN-3491/SYN-3582: runtime-route and Task-authority view SDK methods
  synth_ai/sdk/research/contracts/intern_authority.py
  synth_ai/sdk/research/intern_authority.py
  synth_ai/sdk/research/operations.py
  synth_ai/sdk/research/research_intern.py
  tests/test_intern_runtime_route_task_view.py
Due: python-import-check, python-ruff, python-ruff-format

SYN-3491/SYN-3582: Intern identity, Task grant and project Task SDK methods
  synth_ai/sdk/research/contracts/intern_authority.py
  synth_ai/sdk/research/intern_authority.py
  synth_ai/sdk/research/operations.py
  synth_ai/sdk/research/research_intern.py
  tests/fixtures/intern_authority/slot2_recorded_grants.json
  tests/test_intern_authority_contracts.py
Due: python-import-check, python-ruff, python-ruff-format

contracts: retain current-dev source refresh after migration revision join
  openapi/research-v1.json
  tests/contract/fixtures/backend_full_openapi.generated.json
  tests/contract/fixtures/provenance.json
  tests/contract/fixtures/research_openapi.generated.json
Due: none

fix(intern-sdk): validate owning contracts and retain typed refusal context
  pyproject.toml
  scripts/export_intern_authority_contracts.py
  synth_ai/sdk/research/contracts/intern_authority.py
  synth_ai/sdk/research/contracts/intern_authority_producer.json
  synth_ai/sdk/research/intern_authority.py
  tests/contract/test_intern_authority_producer_parity.py
  tests/test_intern_authority_contracts.py
  tests/test_intern_runtime_route_task_view.py
Due: python-import-check, python-ruff, python-ruff-format

docs: map joined discrepancy fixes and remaining live acceptance
  tests/contract/TESTS_INDEX.md
Due: none

contracts(sdk): consume registered public Intern and Task authority routes
  openapi/research-v1.json
  tests/contract/fixtures/backend_all_routes.json
  tests/contract/fixtures/backend_full_openapi.generated.json
  tests/contract/fixtures/provenance.json
  tests/contract/fixtures/research_openapi.generated.json
Due: none

contracts(sdk): consume registered public Intern and Task authority routes
  openapi/research-v1.json
  tests/contract/fixtures/backend_full_openapi.generated.json
  tests/contract/fixtures/provenance.json
  tests/contract/fixtures/research_openapi.generated.json
Due: none

docs: record completed public Intern registry parity
  tests/contract/TESTS_INDEX.md
Due: none

fix(cli): require typed launch receipts resource selection and finite budget
  README.md
  synth_ai/cli/research.py
  synth_ai/cli/utils/__init__.py
  synth_ai/cli/utils/research_launch.py
Due: python-import-check, python-ruff, python-ruff-format

test(SYN-4041): reproduce typed scoped 404 exception construction failure
  tests/contract/test_syn4041_not_found_law.py
Due: python-ruff, python-ruff-format

fix(SYN-4041): preserve typed scoped misses in the standard failure envelope
  synth_ai/sdk/research/errors.py
  synth_ai/sdk/research/transport/http.py
  tests/contract/test_syn4041_not_found_contracts.py
Due: python-import-check, python-ruff, python-ruff-format

style: keep scoped refusal contracts consistent with SDK lint
  synth_ai/sdk/research/errors.py
  tests/contract/test_syn4041_not_found_contracts.py
Due: python-import-check, python-ruff, python-ruff-format

Add typed truthful Forge projection release contracts
  openapi/index-v1.json
  synth_ai/sdk/index/research/__init__.py
  synth_ai/sdk/index/research/build.py
  synth_ai/sdk/index/research/contracts.py
  tests/contract/test_forge_projection_release_contract.py
  tests/fixtures/forge_public_projection/binding.json
Due: python-import-check, python-ruff, python-ruff-format

Reject unsupported structured scientific parser before transport
  synth_ai/sdk/index/research/contracts.py
Due: python-import-check, python-ruff, python-ruff-format

test(SYN-4039): reproduce missing admission settlement usage authorities
  tests/contract/test_syn4039_usage_authority_law.py
Due: python-ruff, python-ruff-format

fix(SYN-4039): preserve admission settlement and mixed usage authorities
  synth_ai/sdk/research/contracts/usage.py
  tests/contract/test_syn4039_usage_authority_contracts.py
Due: python-import-check, python-ruff, python-ruff-format

test(SYN-4047): retain actual settled usage response through public wrapper
  tests/contract/test_syn4039_usage_authority_contracts.py
  tests/contract/test_syn4047_usage_authority_contracts.py
  tests/fixtures/native_usage/settled_usage_summary.json
Due: python-ruff, python-ruff-format

Expose exact Async assignment custody and supported bootstrap modes
  synth_ai/sdk/research/contracts/research_intern.py
  synth_ai/sdk/research/research_intern.py
Due: python-import-check, python-ruff, python-ruff-format

Expose deferred Async admission without existing-run custody
  synth_ai/sdk/research/contracts/research_intern.py
Due: python-import-check, python-ruff, python-ruff-format

fix: preserve scientific outcomes through SDK and MCP
  synth_ai/sdk/research/contracts/forge/records.py
  tests/contract/TESTS_INDEX.md
  tests/contract/test_result_outcome_law.py
Due: python-import-check, python-ruff, python-ruff-format

Confine selected directory uploads to captured local files
  synth_ai/sdk/research/session/client.py
  synth_ai/sdk/research/session/directory_inputs.py
Due: python-import-check, python-ruff, python-ruff-format

research: typed bounded private Forge artifact upload wrappers
  synth_ai/sdk/research/contracts/forge_uploads.py
  synth_ai/sdk/research/scientific_records.py
Due: python-import-check, python-ruff, python-ruff-format

Refuse metadata and credential directories as selected roots
  synth_ai/sdk/research/session/directory_inputs.py
Due: python-import-check, python-ruff, python-ruff-format

Decode producer scientific record references and tool write intents
  synth_ai/sdk/research/contracts/runtime_intent.py
Due: python-import-check, python-ruff, python-ruff-format

research: decode paginated project-file list wire (SYN-3549)
  synth_ai/sdk/research/session/_client_helpers.py
  synth_ai/sdk/research/session/client.py
Due: python-import-check, python-ruff, python-ruff-format

Format scientific reference decoder
  synth_ai/sdk/research/contracts/runtime_intent.py
Due: python-import-check, python-ruff, python-ruff-format

R06: research.records.verify_citations and research_verify_citations MCP tool
  synth_ai/mcp/research/server.py
  synth_ai/mcp/research/tools/scientific_records.py
  synth_ai/sdk/research/contracts/forge_citations.py
  synth_ai/sdk/research/scientific_records.py
  tests/test_scientific_record_citations.py
Due: python-import-check, python-ruff, python-ruff-format

SYN-3850: decode optional pending_questions on SwarmStatus
  synth_ai/sdk/research/contracts/status.py
  tests/test_swarm_status_pending_questions.py
Due: python-import-check, python-ruff, python-ruff-format

Share confined local upload reads without SDK to MCP imports
  synth_ai/cli/index.py
  synth_ai/core/local_files.py
  synth_ai/mcp/research/tools/index.py
  synth_ai/mcp/research/tools/local_files.py
  synth_ai/sdk/index/local_files.py
  synth_ai/sdk/index/upload_session.py
Due: python-import-check, python-ruff, python-ruff-format

Path conditions:
  python-import-check: any of: synth_ai/*.py, synth_ai/**/*.py
  python-ruff: any of: *.py, **/*.py
  python-ruff-format: any of: *.py, **/*.py
  notebook-strip: any of: *.ipynb, **/*.ipynb
