Repository synth-laboratories/synth-ai: changes, and which lefthook commands are due for each by the changed paths.
All: python-typecheck, python-ruff, python-ruff-format, notebook-strip, tui-typecheck, url-centralization, unused-deps, api-drift

lefthook.yml:

# Lefthook Git hooks configuration for synth-ai
# See: https://lefthook.dev/configuration/
#
# Installation:
#   brew install lefthook  # macOS
#   # or: go install github.com/evilmartians/lefthook@latest
#   lefthook install
#
# Usage:
#   lefthook run pre-commit  # Run hooks manually
#   lefthook uninstall      # Remove hooks
#
# Script execution standard:
#   - All scripts live in scripts/
#   - Python scripts: `uv run python scripts/X.py` (same as CI)
#   - TypeScript: `bun run <command>` in the relevant directory

pre-commit:
  parallel: true
  files: git diff --cached --name-only --diff-filter=ACMR
  commands:
    # Python: Type check with ty (Astral's type checker)
    # Runs in project env so it has access to all dependency type stubs
    # Excludes demos/benchmarks - they're experimental with optional deps
    python-typecheck:
      tags:
        - python
        - typecheck
      glob:
        - "*.py"
        - "**/*.py"
      run: uv run --group dev ty check {files}

    # Python: Ruff linting with auto-fix (only on staged Python files that exist)
    python-ruff:
      tags:
        - python
        - lint
      glob:
        - "*.py"
        - "**/*.py"
      run: uv run ruff check --fix --unsafe-fixes {files}
      stage_fixed: true

    # Python: Ruff format with auto-fix (only on staged Python files that exist)
    python-ruff-format:
      tags:
        - python
        - format
      glob:
        - "*.py"
        - "**/*.py"
      run: uv run ruff format {files}
      stage_fixed: true

    # Jupyter: Strip notebook outputs before commit
    notebook-strip:
      tags:
        - jupyter
        - clean
      glob:
        - "*.ipynb"
        - "**/*.ipynb"
      run: uv run nbstripout {files}
      stage_fixed: true

    # TUI: TypeScript typecheck
    tui-typecheck:
      tags:
        - typescript
        - typecheck
      glob:
        - "synth_ai/tui/app/*.ts"
        - "synth_ai/tui/app/**/*.ts"
      root: synth_ai/tui/app
      run: bun run typecheck

    # URL Centralization: Ensure URLs are only defined in authorized files
    url-centralization:
      tags:
        - lint
      glob:
        - "*.py"
        - "**/*.py"
        - "*.ts"
        - "**/*.ts"
        - "*.tsx"
        - "**/*.tsx"
      run: uv run python scripts/check_url_centralization.py {files}

    # Unused Dependencies: Ensure all deps in pyproject.toml are actually used
    unused-deps:
      tags:
        - deps
        - lint
      glob:
        - "pyproject.toml"
      run: uv run python scripts/check_unused_deps.py

    # API Drift: Ensure demos/ and benchmarks/ use valid synth_ai APIs
    api-drift:
      tags:
        - api
        - lint
      glob:
        - "synth_ai/**/*.py"
        - "demos/**/*.py"
        - "benchmarks/**/*.py"
      run: uv run python scripts/check_api_drift.py {files}

chore: Bump version to 0.5.4.dev20260117
  pyproject.toml
Due: unused-deps

updated ci for auto docs update
  .github/workflows/ci.yml
Due: none

Add Homebrew install docs and release workflow
  .github/workflows/release-tui-homebrew.yml
  README.md
  tui/README.md
Due: none

refactor: Consolidate data types into synth_ai/data/
  synth_ai/README.md
  synth_ai/cli/README.md
  synth_ai/core/README.md
  synth_ai/core/config/expansion.py
  synth_ai/core/tracing_v3/abstractions.py
  synth_ai/core/tracing_v3/lm_call_record_abstractions.py
  synth_ai/data/README.md
  synth_ai/data/__init__.py
  synth_ai/data/artifacts.py
  synth_ai/data/coding_agent_context.py
  synth_ai/data/enums.py
  synth_ai/data/llm_calls.py
  synth_ai/data/objectives_compat.py
  synth_ai/data/rubrics.py
  synth_ai/data/traces.py
  synth_ai/sdk/localapi/_impl/contracts.py
  synth_ai/sdk/localapi/_impl/rubrics/README.md
  synth_ai/sdk/localapi/_impl/rubrics/__init__.py
  synth_ai/sdk/localapi/_impl/rubrics/evaluation.py
  synth_ai/sdk/localapi/_impl/rubrics/loaders.py
  synth_ai/sdk/localapi/_impl/rubrics/models.py
  synth_ai/sdk/localapi/_impl/rubrics/strict.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

feat: Add top-level SDK exports and fix broken model imports
  synth_ai/__init__.py
  synth_ai/sdk/inference/client.py
  synth_ai/sdk/optimization/_impl/builders.py
  synth_ai/sdk/optimization/_impl/learning/client.py
  synth_ai/sdk/shared/__init__.py
  synth_ai/sdk/shared/models.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

Fix outdated imports in GEPA banking77 demo
  demos/gepa_banking77/run_demo.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

feat(tui): Add materialized OpenCode config directory support
  synth_ai/sdk/opencode_skills.py
  tui/launcher.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

Set up auto-publish to PyPI on version mismatch
  .github/workflows/ci.yml
  .github/workflows/publish-dev-pypi.yml
  .github/workflows/publish-dev.yml
  pyproject.toml
Due: unused-deps

feat(events): Consolidate backend event schemas into SDK
  scripts/generate_openapi.py
  synth_ai/sdk/shared/orchestration/events/__init__.py
  synth_ai/sdk/shared/orchestration/events/base.py
  synth_ai/sdk/shared/orchestration/events/extraction.py
  synth_ai/sdk/shared/orchestration/events/openapi.json
  synth_ai/sdk/shared/orchestration/events/schemas.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

Remove stray test file from repo root
  test_rlm_event_streaming.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization

Remove .cursorrules from repo
  .cursorrules
Due: none

Add RLM v1 integration tests to CI
  .github/workflows/ci.yml
  tests/__init__.py
  tests/conftest.py
  tests/integration/__init__.py
  tests/integration/rlm/__init__.py
  tests/integration/rlm/test_rlm_v1.py
  tests/unit/__init__.py
  tests/unit/test_placeholder.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization

ci: Add crates.io trusted publishing workflow
  .github/workflows/publish-crate.yml
Due: none

test: Add retry logic for transient errors in RLM integration tests
  tests/integration/rlm/test_rlm_v1.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization

ci: Remove TUI tests job (synth_ai/_tui directory not in repo)
  .github/workflows/ci.yml
Due: none

ci: Remove environment requirement from crate publish workflow
  .github/workflows/publish-crate.yml
Due: none

ci: Remove empty release-tui-homebrew.yml workflow
  .github/workflows/release-tui-homebrew.yml
  synth_ai/sdk/optimization/__init__.py
  synth_ai/sdk/optimization/policy/__init__.py
  synth_ai/sdk/optimization/policy/mipro_online_session.py
  uv.lock
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

chore(rust): Bump version to 0.1.1
  synth_ai_rs/Cargo.toml
Due: none

test: Add longer timeout for RLM integration tests
  tests/integration/rlm/test_rlm_v1.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization

docs: Update README badges with PyPI stable/dev and crates.io
  README.md
Due: none

ci: Make RLM integration tests non-blocking
  .github/workflows/ci.yml
Due: none

fix: Fix lint errors (unused var, nested with/if statements)
  synth_ai/core/tunnels/cloudflare.py
  synth_ai/sdk/graphs/completions.py
  synth_ai/sdk/optimization/__init__.py
  synth_ai/sdk/optimization/_impl/graphgen.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

ci: Add more ty check ignores for invalid-argument-type and not-iterable
  .github/workflows/ci.yml
Due: none

ci: Remove validate-openapi job (script does not exist)
  .github/workflows/ci.yml
Due: none

ci: Add --ignore unused-ignore-comment to ty check
  .github/workflows/ci.yml
Due: none

ci: Add more ty check ignores (unknown-argument, possibly-missing-attribute)
  .github/workflows/ci.yml
Due: none

ci: Fix ty check - add invalid-assignment, remove non-existent rule
  .github/workflows/ci.yml
Due: none

Update MIPRO demos README with detailed instructions
  demos/mipro/README.md
Due: none

Remove proprietary architecture diagrams from README
  demos/mipro/README.md
Due: none

Simplify online MIPRO - no tunneling or env key needed
  demos/mipro/README.md
  demos/mipro/online_demo.py
  demos/mipro/utils.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

Add comprehensive MIPRO docstrings with paper reference
  demos/mipro/README.md
  demos/mipro/utils.py
Due: python-typecheck, python-ruff, python-ruff-format, url-centralization, api-drift

fix: Address PR review feedback - template→pattern migration and role extraction bug
  demos/gepa_banking77/gepa_banking77_prompt_optimization.ipynb
  synth_ai/sdk/optimization/internal/learning/prompt_extraction.py
Due: python-typecheck, python-ruff, python-ruff-format, notebook-strip, url-centralization, api-drift

docs: expand Synth API end-to-end guidance
  skills/opencode/skill/synth-api/SKILL.md
Due: none
