Repository synth-laboratories/synth-ai: changes, and which lefthook commands are due for each by the changed paths.
All: python-import-check, python-ruff, python-ruff-format, notebook-strip, tui-typecheck, demos-compile

lefthook.yml:

# Lefthook Git hooks configuration for synth-ai
# See: https://lefthook.dev/configuration/
#
# Installation:
#   brew install lefthook  # macOS
#   # or: go install github.com/evilmartians/lefthook@latest
#   lefthook install
#
# Usage:
#   lefthook run pre-commit  # Run hooks manually
#   lefthook uninstall      # Remove hooks

pre-commit:
  parallel: true
  files: git diff --cached --name-only --diff-filter=ACMR
  commands:
    # Python: Verify imports work (catch broken imports before commit)
    python-import-check:
      tags:
        - python
        - lint
      glob:
        - "synth_ai/*.py"
        - "synth_ai/**/*.py"
      run: python3 .lefthook/pre-commit/import_check.py {files}

    # Python: Ruff linting with auto-fix (only on staged Python files that exist)
    python-ruff:
      tags:
        - python
        - lint
      glob:
        - "*.py"
        - "**/*.py"
      run: uv run ruff check --fix {files}
      stage_fixed: true

    # Python: Ruff format with auto-fix (only on staged Python files that exist)
    python-ruff-format:
      tags:
        - python
        - format
      glob:
        - "*.py"
        - "**/*.py"
      run: uv run ruff format {files}
      stage_fixed: true

    # Jupyter: Strip notebook outputs before commit
    notebook-strip:
      tags:
        - jupyter
        - clean
      glob:
        - "*.ipynb"
        - "**/*.ipynb"
      run: uv run nbstripout {files}
      stage_fixed: true

    # TUI: TypeScript typecheck
    tui-typecheck:
      tags:
        - typescript
        - typecheck
      glob:
        - "synth_ai/tui/app/*.ts"
        - "synth_ai/tui/app/**/*.ts"
      root: synth_ai/tui/app
      run: bun run typecheck

    # URL Centralization: Ensure URLs are only defined in authorized files
    url-centralization:
      tags:
        - lint
      run: python3 scripts/check_url_centralization.py

    # Demos: Compile demo scripts and ensure synth_ai imports from repo checkout
    demos-compile:
      tags:
        - python
        - lint
      glob:
        - "demos/*.py"
        - "demos/**/*.py"
      run: python3 scripts/check_demo_compile.py {files}

created check scripts
  scripts/check_demo_compile.py
  scripts/check_url_backend_drift.py
  scripts/check_url_centralization.py
Due: python-ruff, python-ruff-format

removed backend url handling
  benchmarks/banking77/run_benchmark.py
Due: python-ruff, python-ruff-format

updated use for get_or_mint_synth_user_key() per rename
  demos/engine_bench/run_eval.py
  demos/engine_bench/run_gepa_direct.py
  demos/engine_bench/run_gepa_minimal.py
  demos/engine_bench/run_gepa_unified.py
  demos/gepa_banking77/gepa_banking77_prompt_optimization.ipynb
  demos/gepa_banking77/run_demo.py
  demos/gepa_banking77/run_eval.py
  demos/gepa_crafter_vlm/demo_crafter_react.py
  demos/gepa_crafter_vlm/demo_prod_executed.ipynb
  demos/gepa_crafter_vlm/gepa_crafter_vlm_verifier_optimization.ipynb
  demos/gepa_crafter_vlm/quick_eval.py
  demos/gepa_crafter_vlm/run_streaming.py
  demos/gepa_ptcg/run_demo.py
  demos/gepa_ptcg/run_prompt_opt.py
  demos/gepa_ptcg/run_verifier_opt.py
  demos/gepa_ptcg/run_zero_shot_verifier_graph.py
  demos/gepa_ptcg_deckbuilder/check_gepa_job.py
  demos/gepa_ptcg_deckbuilder/inspect_eval_results.py
  demos/gepa_ptcg_deckbuilder/inspect_trace.py
  demos/gepa_ptcg_deckbuilder/run_demo.py
  demos/gepa_ptcg_deckbuilder/run_gepa_job.py
  demos/graphgen_banking77/run_demo.py
  demos/hello_world_bench/capture_via_eval.py
  demos/hello_world_bench/run_demo.py
  demos/hello_world_bench/run_gepa_minimal.py
  demos/image_style_matching/graphgen_image_style_matching.ipynb
  demos/rlm-mit/gepa_oolong_rlm_prompt_optimization.executed.ipynb
  demos/rlm-mit/run_demo.py
  demos/style_matching/run_demo_eval.py
  demos/style_matching/run_demo_prompt_opt.py
  demos/style_matching/run_demo_verifier_opt.py
  demos/style_matching/style_matching_prompt_optimization.executed.ipynb
  demos/style_matching/style_matching_prompt_optimization.ipynb
  demos/verifier_opt_crafter/run_demo.py
  demos/web-design/eval_demo.py
  demos/web-design/eval_job.py
  demos/web-design/run_demo.py
  demos/web-design/test_local_api.py
Due: python-ruff, python-ruff-format, notebook-strip, demos-compile

prelim_job.localapi_key -> prelim_job.config.localapi_key
  demos/engine_bench/run_gepa_direct.py
  demos/engine_bench/run_gepa_minimal.py
  demos/engine_bench/run_gepa_unified.py
  demos/gepa_banking77/run_demo.py
  demos/gepa_crafter_vlm/demo_crafter_react.py
  demos/gepa_crafter_vlm/run_streaming.py
  demos/gepa_ptcg/run_prompt_opt.py
  demos/gepa_ptcg_deckbuilder/run_gepa_job.py
  demos/hello_world_bench/run_gepa_minimal.py
  demos/rlm-mit/run_demo.py
Due: python-ruff, python-ruff-format, demos-compile

created check for demo file imports against synth_ai
  lefthook.yml
  scripts/check_demo_imports.py
Due: python-ruff, python-ruff-format

fixed back import
  demos/gepa_crafter_vlm/demo_crafter_react.py
Due: python-ruff, python-ruff-format, demos-compile

commit
  scripts/check_demo_imports.py
Due: python-ruff, python-ruff-format

reverted localapi_id back to task_app_id
  demos/engine_bench/enginebench_gepa_minimal.toml
  demos/gepa_ptcg_deckbuilder/gepa_deckbuilder.toml
  demos/hello_world_bench/hello_world_gepa_codex.toml
  demos/hello_world_bench/hello_world_gepa_minimal.toml
  demos/hello_world_bench/hello_world_gepa_opencode_overrides.toml
  demos/hello_world_bench/hello_world_gepa_overrides.toml
  demos/web-design/gepa_config.toml
Due: none

typechecking for synth_ai only
  .github/workflows/ci.yml
  lefthook.yml
  scripts/check_synth_ai_types.py
Due: python-ruff, python-ruff-format

type check happy
  demos/engine_bench/localapi_engine_bench.py
  demos/gepa_banking77/localapi_banking77.py
  demos/gepa_banking77/run_demo.py
  demos/gepa_banking77/run_eval.py
  demos/gepa_crafter_vlm/crafter_logic.py
  demos/gepa_crafter_vlm/demo_crafter_react.py
  demos/gepa_crafter_vlm/quick_eval.py
  demos/gepa_crafter_vlm/run_streaming.py
  demos/gepa_ptcg/localapi_ptcg.py
  demos/gepa_ptcg/run_prompt_opt.py
  demos/gepa_ptcg/run_zero_shot_verifier_graph.py
  demos/gepa_ptcg_deckbuilder/localapi_deckbuilder.py
  demos/gepa_ptcg_deckbuilder/run_gepa_job.py
  demos/graphgen_banking77/run_demo.py
  demos/hello_world_bench/localapi_hello_world_bench.py
  demos/image_style_matching/graphgen_image_style_matching.ipynb
  demos/rlm-mit/run_demo.py
  demos/style_matching/run_demo_eval.py
  demos/style_matching/run_demo_prompt_opt.py
  demos/web-design/discovered_urls.json
  demos/web-design/eval_demo.py
  demos/web-design/eval_job.py
  demos/web-design/run_demo.py
  demos/web-design/web_design_localapi.py
  synth_ai/sdk/localapi/helpers.py
  synth_ai/sdk/task/contracts.py
  synth_ai/sdk/task/localapi_template.py
  synth_ai/sdk/task/server.py
  synth_ai/tui/app/localapi.py
Due: python-import-check, python-ruff, python-ruff-format, notebook-strip, demos-compile

removed redundant
  scripts/check_demo_compile.py
  scripts/check_demo_imports.py
Due: python-ruff, python-ruff-format

bootstrap
  scripts/bootstrap.sh
Due: none

scripts/ included in gitignore
  .gitignore
Due: none

key hint (n) New Job <- (n)ew job
  synth_ai/tui/app/src/input/keymap.ts
Due: tui-typecheck

agents.md on cli/ structure
  synth_ai/cli/AGENTS.md
Due: none

tui exit fix
  synth_ai/tui/app/src/solid/api/useJobDetailsStream.ts
  synth_ai/tui/app/src/solid/app.tsx
  synth_ai/tui/app/src/solid/data.ts
Due: tui-typecheck

removed dead files
  synth_ai/tui/app/src/api/task-apps.ts
  synth_ai/tui/app/src/solid/opencode/ContextPanel.tsx
  synth_ai/tui/app/src/solid/opencode/JobStatusPanel.tsx
  synth_ai/tui/app/src/solid/ui/list-panels/TaskAppsList.tsx
Due: tui-typecheck

fixed opencode package management
  synth_ai/tui/app/package.json
Due: none

improved shutdown handling
  synth_ai/tui/app/src/lifecycle/index.ts
  synth_ai/tui/app/src/lifecycle/shutdown.ts
  synth_ai/tui/app/src/solid/app.tsx
  synth_ai/tui/app/src/solid/data.ts
  synth_ai/tui/app/src/solid/opencode/ChatPane.tsx
  synth_ai/tui/app/src/state/polling.ts
Due: tui-typecheck

feed the greptile
  synth_ai/tui/app/src/lifecycle/shutdown.ts
  synth_ai/tui/app/src/solid/api/useJobDetailsStream.ts
  synth_ai/tui/app/src/solid/app.tsx
  synth_ai/tui/app/src/solid/data.ts
Due: tui-typecheck

feed greptile
  synth_ai/tui/app/src/lifecycle/shutdown.ts
  synth_ai/tui/app/src/solid/api/useJobDetailsStream.ts
  synth_ai/tui/app/src/solid/app.tsx
  synth_ai/tui/app/src/solid/data.ts
  synth_ai/tui/app/src/solid/opencode/ChatPane.tsx
Due: tui-typecheck

fix cleanup bug
  synth_ai/tui/app/src/solid/api/useJobDetailsStream.ts
Due: tui-typecheck

clearer comment
  synth_ai/tui/app/src/lifecycle/shutdown.ts
Due: tui-typecheck

fix demo imports per refactor
  synth_ai/core/urls.py
  synth_ai/sdk/__init__.py
  synth_ai/sdk/auth.py
Due: python-import-check, python-ruff, python-ruff-format

fixed unidentified vars bug
  demos/gepa_banking77/gepa_banking77_prompt_optimization.ipynb
Due: notebook-strip

added notebook-strip
  lefthook.yml
  uv.lock
Due: none

fixed key definition issues
  demos/gepa_crafter_vlm/demo_prod_executed.ipynb
Due: notebook-strip

added notebook-strip
  lefthook.yml
Due: none

import fixes
  synth_ai/cli/status.py
  synth_ai/cli/train.py
  synth_ai/core/agents/codex.py
  synth_ai/core/agents/opencode.py
  synth_ai/core/demo_apps/demo_task_apps/core.py
  synth_ai/core/urls.py
  synth_ai/sdk/api/train/graphgen.py
  synth_ai/sdk/artifacts/config.py
  synth_ai/sdk/auth.py
  synth_ai/sdk/learning/prompt_learning_client.py
  synth_ai/tui/eval_job.py
Due: python-import-check, python-ruff, python-ruff-format

add import check to lefthook
  .lefthook/pre-commit/import_check.py
  lefthook.yml
Due: python-ruff, python-ruff-format

combined core/env_utils.py into core/env.py
  synth_ai/cli/deploy.py
  synth_ai/cli/lib/task_app_env.py
  synth_ai/cli/train.py
  synth_ai/core/agents/claude.py
  synth_ai/core/agents/codex.py
  synth_ai/core/agents/opencode.py
  synth_ai/core/demo_apps/mipro/main.py
  synth_ai/core/env.py
  synth_ai/core/env_utils.py
Due: python-import-check, python-ruff, python-ruff-format

fixed import errors from refactor
  .lefthook/pre-commit/import_check.py
  synth_ai/core/demo_apps/mipro/__init__.py
  synth_ai/core/demo_apps/mipro/main.py
  synth_ai/core/demo_apps/mipro/task_app.py
Due: python-import-check, python-ruff, python-ruff-format

removed demo paths
  synth_ai/core/demo_apps/core/cli.py
  synth_ai/core/demo_apps/demo_task_apps/core.py
Due: python-import-check, python-ruff, python-ruff-format

rename localapi <- task app
  synth_ai/cli/lib/localapi_env.py
  synth_ai/core/demo_apps/core/cli.py
  synth_ai/core/demo_apps/demo_task_apps/core.py
  synth_ai/core/localapi_state.py
Due: python-import-check, python-ruff, python-ruff-format

secure config files
  synth_ai/core/secure_files.py
  synth_ai/core/user_config.py
Due: python-import-check, python-ruff, python-ruff-format

centralized configs to paths.py
  synth_ai/core/auth.py
  synth_ai/core/integrations/cloudflare.py
  synth_ai/core/integrations/mcp/setup.py
  synth_ai/core/paths.py
Due: python-import-check, python-ruff, python-ruff-format
