Repository synth-laboratories/synth-ai: changes, and which lefthook commands are due for each by the changed paths.
All: python-import-check, python-ruff, python-ruff-format, notebook-strip

python-import-check:
  tags:
  - python
  - lint
  run: uv run python .lefthook/pre-commit/import_check.py {files}

python-ruff:
  tags:
  - python
  - lint
  run: uv run ruff check --fix --force-exclude {files}
  stage_fixed: true

python-ruff-format:
  tags:
  - python
  - format
  run: uv run ruff format --force-exclude {files}
  stage_fixed: true

notebook-strip:
  tags:
  - jupyter
  - clean
  run: uv run nbstripout {files}
  stage_fixed: true

openapi: regenerate index-v1 and research-v1 from backend research-unified candidate
  openapi/index-v1.json
  openapi/research-v1.json
Due: none

release: bump synth-ai base version to 0.22.2 so dev publishes resume
  README.md
  pyproject.toml
  uv.lock
Due: none

index: mirror the Forge provenance pin on ForgePublicResearchSource (SYN-3608)
  synth_ai/sdk/index/contributions.py
  synth_ai/sdk/research/contracts/forge/operations.py
  tests/test_index_forge_public_source_pin.py
Due: python-import-check, python-ruff, python-ruff-format

Mirror prepared study corpus v2 binding contracts without enabling new readers
  synth_ai/sdk/index/study_corpus.py
Due: python-import-check, python-ruff, python-ruff-format

research: typed bounded private Forge artifact upload wrappers
  synth_ai/sdk/research/contracts/forge_uploads.py
  synth_ai/sdk/research/scientific_records.py
Due: python-import-check, python-ruff, python-ruff-format

Regenerate Forge revision provenance contracts from qualified producer
  synth_ai/sdk/research/contracts/forge/operations.py
Due: python-import-check, python-ruff, python-ruff-format

Confine selected directory uploads to captured local files
  synth_ai/sdk/research/session/client.py
  synth_ai/sdk/research/session/directory_inputs.py
Due: python-import-check, python-ruff, python-ruff-format

Refuse metadata and credential directories as selected roots
  synth_ai/sdk/research/session/directory_inputs.py
Due: python-import-check, python-ruff, python-ruff-format

research: decode paginated project-file list wire (SYN-3549)
  synth_ai/sdk/research/session/_client_helpers.py
  synth_ai/sdk/research/session/client.py
Due: python-import-check, python-ruff, python-ruff-format

index: reconnect wait and structured Search ID on lifecycle errors (SYN-3382)
  synth_ai/cli/README.md
  synth_ai/cli/index.py
  synth_ai/mcp/research/server.py
  synth_ai/sdk/index/README.md
Due: python-import-check, python-ruff, python-ruff-format

index: CLI searches contents reads exact cited revisions under the Search receipt (SYN-3382)
  synth_ai/cli/index.py
  synth_ai/sdk/index/README.md
Due: python-import-check, python-ruff, python-ruff-format

fix: repair local service and qualification blockers
  synth_ai/sdk/research/session/_client_helpers.py
  synth_ai/sdk/research/session/client.py
Due: python-import-check, python-ruff, python-ruff-format

Decode producer scientific record references and tool write intents
  synth_ai/sdk/research/contracts/runtime_intent.py
Due: python-import-check, python-ruff, python-ruff-format

Format scientific reference decoder
  synth_ai/sdk/research/contracts/runtime_intent.py
Due: python-import-check, python-ruff, python-ruff-format

R06: research.records.verify_citations and research_verify_citations MCP tool
  synth_ai/mcp/research/server.py
  synth_ai/mcp/research/tools/scientific_records.py
  synth_ai/sdk/research/contracts/forge_citations.py
  synth_ai/sdk/research/scientific_records.py
  tests/test_scientific_record_citations.py
Due: python-import-check, python-ruff, python-ruff-format

SYN-3850: decode optional pending_questions on SwarmStatus
  synth_ai/sdk/research/contracts/status.py
  tests/test_swarm_status_pending_questions.py
Due: python-import-check, python-ruff, python-ruff-format

SYN-3491/SYN-3582: Intern identity, Task grant and project Task SDK methods
  synth_ai/sdk/research/contracts/intern_authority.py
  synth_ai/sdk/research/intern_authority.py
  synth_ai/sdk/research/operations.py
  synth_ai/sdk/research/research_intern.py
  tests/fixtures/intern_authority/slot2_recorded_grants.json
  tests/test_intern_authority_contracts.py
Due: python-import-check, python-ruff, python-ruff-format

SYN-3491/SYN-3582: runtime-route and Task-authority view SDK methods
  synth_ai/sdk/research/contracts/intern_authority.py
  synth_ai/sdk/research/intern_authority.py
  synth_ai/sdk/research/operations.py
  synth_ai/sdk/research/research_intern.py
  tests/test_intern_runtime_route_task_view.py
Due: python-import-check, python-ruff, python-ruff-format

Decode current backend MyContributions rows and paginate account.contributions
  synth_ai/sdk/index/client.py
  synth_ai/sdk/index/lifecycle.py
  tests/test_index_my_contributions_contract.py
Due: python-import-check, python-ruff, python-ruff-format

Expose native Swarm answer and steer controls in the typed SDK
  openapi/research-v1.json
  synth_ai/sdk/research/contracts/__init__.py
  synth_ai/sdk/research/contracts/swarm_controls.py
  synth_ai/sdk/research/operations.py
  synth_ai/sdk/research/swarms.py
  tests/test_swarm_native_controls.py
Due: python-import-check, python-ruff, python-ruff-format

Typed pending actions, task work graph and runtime-unavailable refusal in the SDK (SYN-3971)
  openapi/research-v1.json
  synth_ai/core/errors.py
  synth_ai/core/http/retry.py
  synth_ai/core/http/transport.py
  synth_ai/sdk/research/contracts/__init__.py
  synth_ai/sdk/research/contracts/status.py
  synth_ai/sdk/research/contracts/swarm_tasks.py
  synth_ai/sdk/research/operations.py
  synth_ai/sdk/research/swarms.py
  tests/test_swarm_typed_run_reads.py
Due: python-import-check, python-ruff, python-ruff-format

Share confined local upload reads without SDK to MCP imports
  synth_ai/cli/index.py
  synth_ai/core/local_files.py
  synth_ai/mcp/research/tools/index.py
  synth_ai/mcp/research/tools/local_files.py
  synth_ai/sdk/index/local_files.py
  synth_ai/sdk/index/upload_session.py
Due: python-import-check, python-ruff, python-ruff-format

Expose strict scoped Swarm journal history pages in sync and async SDKs
  openapi/research-v1.json
  synth_ai/sdk/research/contracts/__init__.py
  synth_ai/sdk/research/contracts/swarm_history.py
  synth_ai/sdk/research/operations.py
  synth_ai/sdk/research/swarms.py
Due: python-import-check, python-ruff, python-ruff-format

test: encode Forge discrepancy contracts and first-class error laws
  tests/conftest.py
  tests/contract/README.md
  tests/contract/extract_sdk_calls.py
  tests/contract/fixtures/backend_all_routes.json
  tests/contract/fixtures/backend_full_openapi.generated.json
  tests/contract/fixtures/provenance.json
  tests/contract/fixtures/public_enums.generated.json
  tests/contract/fixtures/research_openapi.generated.json
  tests/contract/test_discrepancy_contracts.py
  tests/contract/test_discrepancy_law.py
  tests/contract/test_results.json
  tests/contract/unused_registry_allowlist.json
  tests/mcp/offline_backend.py
  tests/mcp/serialization_cases.json
  tests/mcp/serialization_contract_cases.json
  tests/mcp/test_launch_discrepancy_law.py
  tests/mcp/test_registry_contracts.py
  tests/mcp/test_serialization_contracts.py
  tests/mcp/test_serialization_discrepancy_law.py
Due: python-ruff, python-ruff-format

test: reproduce seven additional transport and scientific contract issues
  tests/contract/extension_test_results.json
  tests/contract/test_transport_extension_contracts.py
  tests/contract/test_transport_extension_law.py
Due: python-ruff, python-ruff-format

docs: publish discrepancy index and additional findings despite package ignore rules
  tests/contract/ADDITIONAL_FINDINGS_20261006.md
  tests/contract/TESTS_INDEX.md
Due: none

Carry explicit Intern ownership through Sync and Async SDK operations
  synth_ai/sdk/research/contracts/research_intern.py
  synth_ai/sdk/research/research_intern.py
Due: python-import-check, python-ruff, python-ruff-format

test: reproduce thirteen streaming MCP and pagination boundary defects
  tests/contract/STREAMING_PAGINATION_FINDINGS_20261006.md
  tests/contract/TESTS_INDEX.md
  tests/contract/boundary_probe.py
  tests/contract/streaming_boundary_test_results.json
  tests/contract/streaming_probe.py
  tests/contract/test_boundary_extension_contracts.py
  tests/contract/test_boundary_extension_law.py
  tests/contract/test_streaming_extension_contracts.py
  tests/contract/test_streaming_extension_law.py
Due: python-ruff, python-ruff-format

Type and format explicit Intern owner selection contracts
  synth_ai/sdk/research/contracts/research_intern.py
  synth_ai/sdk/research/research_intern.py
Due: python-import-check, python-ruff, python-ruff-format

Expose scoped journal history through the stable read-only MCP surface
  synth_ai/mcp/research/registry.py
  synth_ai/mcp/research/server.py
  synth_ai/mcp/research/tools/runs.py
  synth_ai/sdk/research/contracts/swarm_history.py
Due: python-import-check, python-ruff, python-ruff-format

fix: carry complete launch inputs and honor typed launch refusal directives
  openapi/research-v1.json
  pyproject.toml
  synth_ai/core/http/retry.py
  synth_ai/mcp/research/request_models.py
  synth_ai/mcp/research/tools/launch_schemas.py
  synth_ai/mcp/research/tools/progress.py
  synth_ai/mcp/research/tools/runs.py
  synth_ai/sdk/research/contracts/types.py
  synth_ai/sdk/research/errors.py
  synth_ai/sdk/research/transport/http.py
  tests/contract/LAUNCH_FIX_RECEIPT_20261006.md
  tests/contract/TESTS_INDEX.md
  tests/contract/fixtures/backend_full_openapi.generated.json
  tests/contract/fixtures/provenance.json
  tests/contract/fixtures/research_openapi.generated.json
  tests/contract/launch_fix_test_results.json
  tests/contract/test_discrepancy_law.py
  tests/contract/test_launch_acceptance_contracts.py
  tests/contract/test_launch_retry_contracts.py
  tests/contract/test_transport_extension_law.py
  tests/mcp/test_launch_contracts.py
  tests/mcp/test_launch_schema_contracts.py
Due: python-import-check, python-ruff, python-ruff-format

docs: pin coordinated launch fix source identities
  tests/contract/LAUNCH_FIX_RECEIPT_20261006.md
Due: none

Add bounded canonical journal history to the Research CLI
  synth_ai/cli/research.py
Due: python-import-check, python-ruff, python-ruff-format

fix: type Orchestra refusals and isolate optional Factory APIs
  synth_ai/mcp/research/registry.py
  synth_ai/mcp/research/server.py
  synth_ai/mcp/research/tools/runs.py
  synth_ai/sdk/research/advanced_factories.py
  synth_ai/sdk/research/contracts/run_control.py
  synth_ai/sdk/research/contracts/swarms.py
  synth_ai/sdk/research/session/_run_authority_mixin.py
  synth_ai/sdk/research/session/client.py
  synth_ai/sdk/research/session/runs.py
  synth_ai/sdk/research/session/tag.py
  synth_ai/sdk/research/swarms.py
  tests/contract/TESTS_INDEX.md
  tests/contract/fixtures/orchestra_provenance.json
  tests/contract/fixtures/run_control_enum.generated.json
  tests/contract/test_discrepancy_law.py
  tests/contract/test_factory_removal_contracts.py
  tests/contract/test_observability_removal_contracts.py
  tests/contract/test_orchestra_control_contracts.py
  tests/contract/test_orchestra_route_contracts.py
Due: python-import-check, python-ruff, python-ruff-format

docs: record Orchestra fix qualification and release dependency
  tests/contract/ORCHESTRA_FIX_RECEIPT_20261006.md
Due: none

docs: record published Orchestra fixes and staging deployment proof
  tests/contract/ORCHESTRA_RELEASE_RECEIPT_20261006.md
  tests/contract/TESTS_INDEX.md
Due: none

WIP: preserve SDK discrepancy boundary and scientific clients [skip ci]
  openapi/research-v1.json
  pyproject.toml
  synth_ai/core/contracts/pagination.py
  synth_ai/core/http/async_transport.py
  synth_ai/core/http/retry.py
  synth_ai/core/http/streaming.py
  synth_ai/core/http/transport.py
  synth_ai/mcp/research/registry.py
  synth_ai/mcp/research/server.py
  synth_ai/mcp/research/tools/resources.py
  synth_ai/mcp/research/tools/runs.py
  synth_ai/mcp/research/tools/scientific_records.py
  synth_ai/sdk/pagination.py
  synth_ai/sdk/research/advanced_factories.py
  synth_ai/sdk/research/contracts/experiment_evidence.py
  synth_ai/sdk/research/contracts/factory_operations.py
  synth_ai/sdk/research/contracts/forge/records.py
  synth_ai/sdk/research/contracts/run_control.py
  synth_ai/sdk/research/contracts/run_state.py
  synth_ai/sdk/research/contracts/scientific_citations.py
  synth_ai/sdk/research/contracts/types.py
  synth_ai/sdk/research/contracts/visuals.py
  synth_ai/sdk/research/errors.py
  synth_ai/sdk/research/projects.py
  synth_ai/sdk/research/scientific_records.py
  synth_ai/sdk/research/session/_run_authority_mixin.py
  synth_ai/sdk/research/session/client.py
  synth_ai/sdk/research/session/files.py
  synth_ai/sdk/research/session/project.py
  synth_ai/sdk/research/session/tag.py
  synth_ai/sdk/research/swarms.py
  synth_ai/sdk/research/transport/http.py
  tests/contract/fixtures/backend_full_openapi.generated.json
  tests/contract/fixtures/research_openapi.generated.json
  tests/contract/test_discrepancy_law.py
  tests/mcp/serialization_cases.json
  uv.lock
Due: python-import-check, python-ruff, python-ruff-format

test(sdk): qualify discrepancy contracts and preserve authoritative refusal directives
  openapi/operation_metadata_dispositions.json
  openapi/research-v1.json
  synth_ai/sdk/research/contracts/visuals.py
  synth_ai/sdk/research/errors.py
  tests/contract/TESTS_INDEX.md
  tests/contract/fixtures/backend_all_routes.json
  tests/contract/fixtures/backend_full_openapi.generated.json
  tests/contract/fixtures/provenance.json
  tests/contract/fixtures/research_openapi.generated.json
  tests/contract/test_boundary_extension_fixes_contracts.py
  tests/contract/test_discrepancy_fixes_contracts.py
  tests/contract/test_launch_retry_contracts.py
  tests/contract/test_operation_metadata_dispositions.py
  tests/contract/test_scientific_discrepancy_fix_contracts.py
  tests/contract/test_streaming_extension_fixes_contracts.py
  tests/contract/test_transport_extension_contracts.py
  tests/contract/test_transport_extension_fixes_contracts.py
  tests/contract/test_visual_logical_contracts.py
  tests/contract/test_writer_refusal_directives.py
  tests/mcp/offline_backend.py
  tests/mcp/serialization_contract_cases.json
  tests/mcp/test_all_tool_result_boundary_contracts.py
  tests/mcp/test_serialization_discrepancy_contracts.py
Due: python-import-check, python-ruff, python-ruff-format

fix(sdk): consume exact native Intern execution references
  synth_ai/sdk/research/contracts/forge/contracts.py
  synth_ai/sdk/research/contracts/forge/evaluation.py
  synth_ai/sdk/research/contracts/forge/exports.py
  synth_ai/sdk/research/contracts/forge/operations.py
  synth_ai/sdk/research/contracts/forge/records.py
  synth_ai/sdk/research/contracts/forge/resources.py
  synth_ai/sdk/research/contracts/forge/schema.py
  tests/contract/test_intern_execution_reference_contracts.py
Due: python-import-check, python-ruff, python-ruff-format

Path conditions:
  python-import-check: any of: synth_ai/*.py, synth_ai/**/*.py
  python-ruff: any of: *.py, **/*.py
  python-ruff-format: any of: *.py, **/*.py
  notebook-strip: any of: *.ipynb, **/*.ipynb
