Repository synth-laboratories/synth-ai: changes, and which lefthook commands are due for each by the changed paths.
All: python-import-check, python-ruff, python-ruff-format, notebook-strip

lefthook.yml:

# Lefthook Git hooks configuration for synth-ai
# See: https://lefthook.dev/configuration/
#
# Installation:
#   brew install lefthook  # macOS
#   # or: go install github.com/evilmartians/lefthook@latest
#   lefthook install
#
# Usage:
#   lefthook run pre-commit  # Run hooks manually
#   lefthook uninstall      # Remove hooks

pre-commit:
  parallel: true
  files: git diff --cached --name-only --diff-filter=ACMR
  commands:
    # Python: Verify imports work (catch broken imports before commit)
    python-import-check:
      tags:
        - python
        - lint
      glob:
        - "synth_ai/*.py"
        - "synth_ai/**/*.py"
      run: uv run python .lefthook/pre-commit/import_check.py {files}

    # Python: Ruff linting with auto-fix (only on staged Python files that exist)
    python-ruff:
      tags:
        - python
        - lint
      glob:
        - "*.py"
        - "**/*.py"
      run: uv run ruff check --fix --force-exclude {files}
      stage_fixed: true

    # Python: Ruff format with auto-fix (only on staged Python files that exist)
    python-ruff-format:
      tags:
        - python
        - format
      glob:
        - "*.py"
        - "**/*.py"
      run: uv run ruff format --force-exclude {files}
      stage_fixed: true

    # Jupyter: Strip notebook outputs before commit
    notebook-strip:
      tags:
        - jupyter
        - clean
      glob:
        - "*.ipynb"
        - "**/*.ipynb"
      run: uv run nbstripout {files}
      stage_fixed: true

fix(images): expose and serialize managed recipe builds
  synth_ai/managed_research/sdk/images.py
  synth_ai/research/client.py
Due: python-import-check, python-ruff, python-ruff-format

Spec: require before/after quality scans to confirm improvement
  specifications/sdk/core_research_migration.md
Due: none

fix(images): avoid duplicate finalize work
  synth_ai/managed_research/sdk/client.py
  synth_ai/managed_research/sdk/images.py
  synth_ai/managed_research/transport/http.py
Due: python-import-check, python-ruff, python-ruff-format

chore: ignore local quality receipts
  .gitignore
Due: none

Add core Research migration spec (final draft for engineering review)
  specifications/sdk/core_research_migration.md
Due: none

docs(research): finalize migration engineer handoff
  specifications/sdk/core_research_migration.md
Due: none

feat(research): add typed swarm activity
  synth_ai/cli/research.py
  synth_ai/core/research/contracts/__init__.py
  synth_ai/core/research/contracts/_activity_wire.py
  synth_ai/core/research/contracts/activity.py
  synth_ai/core/research/contracts/activity_items.py
  synth_ai/core/research/contracts/common.py
  synth_ai/core/research/operations.py
  synth_ai/core/research/swarms.py
  synth_ai/mcp/research/registry.py
  synth_ai/mcp/research/server.py
  synth_ai/mcp/research/tools/runs.py
  synth_ai/research/__init__.py
Due: python-import-check, python-ruff, python-ruff-format

feat(research): expose durable swarm evidence
  README.md
  docs/recipes/async-handoff.md
  docs/recipes/first-bounded-research-run.md
  openapi/research-v1.json
  specifications/sdk/core_research_migration.md
  specifications/sdk/research_capability_ledger.json
  synth_ai/cli/research.py
  synth_ai/core/http/async_transport.py
  synth_ai/core/http/transport.py
  synth_ai/core/research/contracts/__init__.py
  synth_ai/core/research/contracts/common.py
  synth_ai/core/research/contracts/evidence.py
  synth_ai/core/research/operations.py
  synth_ai/core/research/swarms.py
  synth_ai/mcp/research/registry.py
  synth_ai/mcp/research/server.py
  synth_ai/mcp/research/tools/runs.py
  synth_ai/research/__init__.py
Due: python-import-check, python-ruff, python-ruff-format

docs(research): finalize advanced capability ownership
  scripts/generate_research_capability_ledger.py
  specifications/sdk/core_research_migration.md
  specifications/sdk/research_capability_ledger.json
Due: python-ruff, python-ruff-format

docs(research): consolidate migration engineer handoff
  specifications/sdk/core_research_migration.md
Due: none

chore(research): classify explicit advanced consumers
  scripts/generate_research_capability_ledger.py
  specifications/sdk/core_research_migration.md
  specifications/sdk/research_capability_ledger.json
Due: python-ruff, python-ruff-format

docs: finalize research migration engineer handoff
  specifications/sdk/core_research_migration.md
Due: none

docs(research): record resolved configuration vertical
  specifications/sdk/core_research_migration.md
  specifications/sdk/research_capability_ledger.json
Due: none

feat(research): expose advanced eval profile loaders
  synth_ai/research/advanced.py
Due: python-import-check, python-ruff, python-ruff-format

feat(research): expose resolved swarm configuration
  README.md
  docs/recipes/async-handoff.md
  docs/recipes/first-bounded-research-run.md
  openapi/research-v1.json
  specifications/sdk/research_capability_ledger.json
  synth_ai/cli/research.py
  synth_ai/core/research/contracts/__init__.py
  synth_ai/core/research/contracts/common.py
  synth_ai/core/research/contracts/swarms.py
  synth_ai/core/research/operations.py
  synth_ai/core/research/swarms.py
  synth_ai/mcp/research/registry.py
  synth_ai/mcp/research/server.py
  synth_ai/mcp/research/tools/runs.py
  synth_ai/research/__init__.py
Due: python-import-check, python-ruff, python-ruff-format

refactor: remove gamebench-specific sdk package
  docs/README.md
  docs/recipes/game-experiment.md
  pyproject.toml
  synth_ai/gamebench/__init__.py
  synth_ai/gamebench/client.py
  synth_ai/gamebench/models.py
Due: python-import-check, python-ruff, python-ruff-format

feat(research): expose typed swarm usage evidence
  README.md
  docs/recipes/async-handoff.md
  docs/recipes/first-bounded-research-run.md
  openapi/research-v1.json
  synth_ai/cli/research.py
  synth_ai/core/research/contracts/__init__.py
  synth_ai/core/research/contracts/usage.py
  synth_ai/core/research/operations.py
  synth_ai/core/research/swarms.py
  synth_ai/mcp/research/registry.py
  synth_ai/mcp/research/server.py
  synth_ai/mcp/research/tools/runs.py
  synth_ai/research/__init__.py
Due: python-import-check, python-ruff, python-ruff-format

docs: audit remaining research migration phases
  specifications/sdk/core_research_migration.md
  specifications/sdk/research_capability_ledger.json
Due: none

docs: consolidate research migration handoff
  specifications/sdk/core_research_migration.md
Due: none

docs(research): finalize engineer migration handoff
  specifications/sdk/core_research_migration.md
Due: none

docs: refresh research migration engineer handoff
  specifications/sdk/core_research_migration.md
Due: none

feat: finalize stable research sdk candidate
  README.md
  docs/recipes/async-handoff.md
  docs/recipes/first-bounded-research-run.md
  openapi/research-v1.json
  specifications/sdk/public_api_manifest.json
  specifications/sdk/research_capability_ledger.json
  synth_ai/cli/research.py
  synth_ai/client.py
  synth_ai/core/__init__.py
  synth_ai/core/errors.py
  synth_ai/core/http/async_transport.py
  synth_ai/core/http/transport.py
  synth_ai/core/research/_legacy/errors.py
  synth_ai/core/research/_legacy/transport/http.py
  synth_ai/core/research/advanced.py
  synth_ai/core/research/advanced_factories.py
  synth_ai/core/research/client.py
  synth_ai/core/research/contracts/__init__.py
  synth_ai/core/research/contracts/common.py
  synth_ai/core/research/contracts/factories.py
  synth_ai/core/research/contracts/projects.py
  synth_ai/core/research/contracts/swarms.py
  synth_ai/core/research/economics.py
  synth_ai/core/research/errors.py
  synth_ai/core/research/events.py
  synth_ai/core/research/factories.py
  synth_ai/core/research/operations.py
  synth_ai/core/research/projects.py
  synth_ai/core/research/swarms.py
  synth_ai/mcp/research/registry.py
  synth_ai/mcp/research/server.py
  synth_ai/research/__init__.py
  synth_ai/research/async_client.py
  synth_ai/research/client.py
  synth_ai/research/errors.py
  synth_ai/research/swarms.py
  synth_ai/sdk/base.py
Due: python-import-check, python-ruff, python-ruff-format

docs: correct migration evidence and scorecard
  specifications/sdk/core_research_migration.md
  specifications/sdk/research_capability_ledger.json
Due: none

docs: finalize research migration review packet
  specifications/sdk/core_research_migration.md
Due: none

docs(research): record typed usage vertical
  specifications/sdk/core_research_migration.md
  specifications/sdk/research_capability_ledger.json
Due: none

chore(research): vendor OpenAPI parity and export launch placement types
  openapi/research-v1.json
  specifications/sdk/core_research_migration.md
  specifications/sdk/research_capability_ledger.json
  synth_ai/research/__init__.py
Due: python-import-check, python-ruff, python-ruff-format

docs(sdk): publish ultrareview readiness packet
  specifications/sdk/core_research_migration.md
Due: none

chore(research): vendor current reviewer contract
  openapi/research-v1.json
  specifications/sdk/research_capability_ledger.json
Due: none

feat(research): add typed project data resources
  synth_ai/cli/research.py
  synth_ai/cli/research_projects.py
  synth_ai/core/research/contracts/__init__.py
  synth_ai/core/research/contracts/common.py
  synth_ai/core/research/contracts/project_data.py
  synth_ai/core/research/operations.py
  synth_ai/core/research/project_data.py
  synth_ai/core/research/projects.py
  synth_ai/mcp/research/server.py
  synth_ai/mcp/research/tools/__init__.py
  synth_ai/mcp/research/tools/project_data.py
  synth_ai/research/__init__.py
Due: python-import-check, python-ruff, python-ruff-format

docs(sdk): record post-pause migration resume heads
  specifications/sdk/core_research_migration.md
Due: none

feat(research): type factory launch policy
  synth_ai/core/research/contracts/__init__.py
  synth_ai/core/research/contracts/factories.py
  synth_ai/core/research/contracts/swarms.py
  synth_ai/research/__init__.py
Due: python-import-check, python-ruff, python-ruff-format

feat(research): bind reviewer on stable project specs
  synth_ai/core/research/contracts/projects.py
Due: python-import-check, python-ruff, python-ruff-format

fix(mcp): enforce stable research tool boundary
  synth_ai/mcp/research/server.py
  synth_ai/mcp/research/tools/projects.py
  synth_ai/mcp/research/tools/runs.py
Due: python-import-check, python-ruff, python-ruff-format

feat(research): add typed project workspaces
  synth_ai/core/research/contracts/__init__.py
  synth_ai/core/research/contracts/common.py
  synth_ai/core/research/contracts/workspaces.py
  synth_ai/core/research/operations.py
  synth_ai/core/research/project_workspaces.py
  synth_ai/core/research/projects.py
  synth_ai/research/__init__.py
Due: python-import-check, python-ruff, python-ruff-format

docs(sdk): publish closeout handoff for next engineer
  specifications/sdk/core_research_migration.md
Due: none

feat(research): add typed environment catalog
  synth_ai/cli/research.py
  synth_ai/cli/research_environments.py
  synth_ai/core/research/client.py
  synth_ai/core/research/contracts/__init__.py
  synth_ai/core/research/contracts/_environment_wire.py
  synth_ai/core/research/contracts/common.py
  synth_ai/core/research/contracts/environment_manifest.py
  synth_ai/core/research/contracts/environments.py
  synth_ai/core/research/environments.py
  synth_ai/core/research/operations.py
  synth_ai/mcp/research/server.py
  synth_ai/mcp/research/tools/__init__.py
  synth_ai/mcp/research/tools/environments.py
  synth_ai/research/__init__.py
  synth_ai/research/client.py
Due: python-import-check, python-ruff, python-ruff-format

feat(research): publish workspace batch contracts
  synth_ai/core/research/contracts/__init__.py
  synth_ai/core/research/operations.py
  synth_ai/research/__init__.py
Due: python-import-check, python-ruff, python-ruff-format

fix(research): carry project launch policy
  synth_ai/core/research/contracts/projects.py
Due: python-import-check, python-ruff, python-ruff-format
