Repository synth-laboratories/synth-ai: changes, and which lefthook commands are due for each by the changed paths.
All: python-import-check, python-ruff, python-ruff-format, notebook-strip

lefthook.yml:

# Lefthook Git hooks configuration for synth-ai
# See: https://lefthook.dev/configuration/
#
# Installation:
#   brew install lefthook  # macOS
#   # or: go install github.com/evilmartians/lefthook@latest
#   lefthook install
#
# Usage:
#   lefthook run pre-commit  # Run hooks manually
#   lefthook uninstall      # Remove hooks

pre-commit:
  parallel: true
  files: git diff --cached --name-only --diff-filter=ACMR
  commands:
    # Python: Verify imports work (catch broken imports before commit)
    python-import-check:
      tags:
        - python
        - lint
      glob:
        - "synth_ai/*.py"
        - "synth_ai/**/*.py"
      run: uv run python .lefthook/pre-commit/import_check.py {files}

    # Python: Ruff linting with auto-fix (only on staged Python files that exist)
    python-ruff:
      tags:
        - python
        - lint
      glob:
        - "*.py"
        - "**/*.py"
      run: uv run ruff check --fix --force-exclude {files}
      stage_fixed: true

    # Python: Ruff format with auto-fix (only on staged Python files that exist)
    python-ruff-format:
      tags:
        - python
        - format
      glob:
        - "*.py"
        - "**/*.py"
      run: uv run ruff format --force-exclude {files}
      stage_fixed: true

    # Jupyter: Strip notebook outputs before commit
    notebook-strip:
      tags:
        - jupyter
        - clean
      glob:
        - "*.ipynb"
        - "**/*.ipynb"
      run: uv run nbstripout {files}
      stage_fixed: true

openapi: track sdk package version for sync lint
  openapi/synth-api-v1.yaml
Due: none

chore: move legacy result/todo files out of repo root
  artifacts/repo_archive/top_level/banking77_synth_gepa_results.json
  artifacts/repo_archive/top_level/benchmark_result.json
  artifacts/repo_archive/top_level/todo_refine_core.txt
Due: none

chore: remove in-repo skills and examples
  MANIFEST.in
  examples/managed_research/banking77_starting_data/README.md
  examples/managed_research/banking77_starting_data/banking77_eval_output_seed20.json
  examples/managed_research/banking77_starting_data/input_spec.json
  examples/managed_research/run_banking77_eval_with_starting_data.py
  examples/managed_research/run_sdk_lifecycle.py
  examples/research/run_http_gepa_eval_e2e.py
  pyproject.toml
  skills/synth-api/SKILL.md
  skills/synth-smr-control/SKILL.md
  skills/synth-smr-control/agents/openai.yaml
  skills/synth-smr-control/references/api-surface.md
  skills/synth-smr-control/scripts/smr_control.py
  synth_ai/sdk/opencode_skills.py
Due: python-import-check, python-ruff, python-ruff-format

chore: remove top-level scripts and simplify make targets
  scripts/check_no_results_ql_public_refs.sh
  scripts/generate_openapi.py
  scripts/generate_python_events.py
  scripts/with_secrets.sh
Due: python-ruff, python-ruff-format

build: route make test targets through testing repo
  Makefile
Due: none

chore: hard-consolidate specifications into specs
  README.md
  specifications/api-stability-lifecycle.md
  specs/README.md
  synth_ai/__init__.py
  synth_ai/client.py
  synth_ai/container.py
  synth_ai/core/config/expansion.py
  synth_ai/dspy/__init__.py
  synth_ai/dspy/_compat.py
  synth_ai/dspy/gepa.py
  synth_ai/dspy/miprov2.py
  synth_ai/gepa/__init__.py
  synth_ai/gepa/adapters/__init__.py
  synth_ai/gepa/adapters/default_adapter/__init__.py
  synth_ai/gepa/adapters/default_adapter/default_adapter.py
  synth_ai/gepa/api.py
  synth_ai/gepa/core/__init__.py
  synth_ai/gepa/core/adapter.py
  synth_ai/gepa/core/data_loader.py
  synth_ai/gepa/core/result.py
  synth_ai/gepa/core/state.py
  synth_ai/gepa/examples/__init__.py
  synth_ai/gepa/examples/aime.py
  synth_ai/gepa/examples/banking77.py
  synth_ai/gepa/utils/__init__.py
  synth_ai/gepa/utils/stop_condition.py
  synth_ai/graphs.py
  synth_ai/inference.py
  synth_ai/optimization.py
  synth_ai/pools.py
  synth_ai/recipes.py
  synth_ai/sdk/__init__.py
  synth_ai/sdk/optimization/__init__.py
  synth_ai/sdk/optimization/policy/__init__.py
  synth_ai/tunnels.py
  synth_ai/verifiers.py
  synth_ai_core/src/config.rs
  synth_ai_rs/src/lib.rs
Due: python-import-check, python-ruff, python-ruff-format

chore: remove root dev junk and fold contracts into openapi
  .devcontainer/devcontainer.json
  .lefthook/pre-commit/import_check.py
  .sandbox/setup.sh
  artifacts/repo_archive/top_level/banking77_synth_gepa_results.json
  artifacts/repo_archive/top_level/benchmark_result.json
  artifacts/repo_archive/top_level/todo_refine_core.txt
  contracts/README.md
  contracts/smr-sdk-mcp-control-proposal-2026-02-19.md
  openapi/README.md
  openapi/container-contract-v1.yaml
  specs/README.md
Due: python-ruff, python-ruff-format

docs: trim readme to getting started only
  README.md
Due: none

docs: restore pre-getting-started readme sections
  README.md
Due: none

docs: refocus README on core product offerings
  README.md
Due: none

rust-sdk: hard-cut to canonical SynthClient namespace surface
  synth_ai_rs/Cargo.toml
  synth_ai_rs/README.md
  synth_ai_rs/examples/container_list.rs
  synth_ai_rs/src/client.rs
  synth_ai_rs/src/containers_api.rs
  synth_ai_rs/src/environment_pools.rs
  synth_ai_rs/src/eval.rs
  synth_ai_rs/src/graphs_api.rs
  synth_ai_rs/src/inference_api.rs
  synth_ai_rs/src/lib.rs
  synth_ai_rs/src/models.rs
  synth_ai_rs/src/openapi_paths.rs
  synth_ai_rs/src/optimization.rs
  synth_ai_rs/src/optimization_api.rs
  synth_ai_rs/src/pools_api.rs
  synth_ai_rs/src/transport.rs
  synth_ai_rs/src/tunnels_api.rs
  synth_ai_rs/src/verifiers_api.rs
Due: none

chore: commit all local synth-ai changes
  synth_ai/sdk/optimization/internal/validators.py
  synth_ai/sdk/optimization/policy/v1.py
Due: python-import-check, python-ruff, python-ruff-format

chore: commit all current synth-ai changes
  synth_ai/sdk/optimization/internal/configs/prompt_learning.py
  synth_ai_core/src/api/jobs.rs
  synth_ai_core/src/orchestration/validation.rs
Due: python-import-check, python-ruff, python-ruff-format

chore: commit trailing synth-ai workspace changes
  synth_ai/sdk/optimization/internal/prompt_learning.py
Due: python-import-check, python-ruff, python-ruff-format

chore: remove task_app_url alias validation message
  synth_ai/sdk/optimization/internal/validators.py
Due: python-import-check, python-ruff, python-ruff-format

sdk: hard-cut container URL aliases and fix strict validator regression
  synth_ai/sdk/optimization/internal/validators.py
  synth_ai/sdk/optimization/policy/job.py
Due: python-import-check, python-ruff, python-ruff-format

release: bump python and rust sdk to 0.9.1
  README.md
  openapi/synth-api-v1.yaml
  pyproject.toml
  synth_ai_rs/Cargo.toml
  synth_ai_rs/README.md
Due: none

Use bearer auth for container health probes
  synth_ai/sdk/optimization/internal/container_app.py
Due: python-import-check, python-ruff, python-ruff-format

feat(sdk): add Data Factory finalize/publish API methods and runtime/env forwarding
  synth_ai/mcp/managed_research_server.py
  synth_ai/sdk/managed_research.py
  tests/sdk/test_managed_research_data_factory.py
Due: python-import-check, python-ruff, python-ruff-format

test(sdk): add Flow A end-to-end integration test for Data Factory pipeline
  tests/sdk/test_data_factory_flow_a_e2e.py
Due: python-ruff, python-ruff-format

fix loopback relay auth when verifier is unavailable
  synth_ai/sdk/container/_impl/auth.py
  tests/sdk/test_container_auth_mode.py
Due: python-import-check, python-ruff, python-ruff-format

Default Codex MCP install to hosted OAuth
  README.md
  synth_ai/cli/commands/mcp.py
  synth_ai/mcp/managed_research_server.py
  synth_ai/mcp/optimization_server.py
  tests/sdk/test_managed_research_mcp_stdio_transport.py
  tests/sdk/test_mcp_cli.py
Due: python-import-check, python-ruff, python-ruff-format

Release synth-ai 0.9.4
  README.md
  pyproject.toml
  synth_ai_rs/Cargo.toml
Due: none

Update managed research SDK run contracts
  pyproject.toml
  synth_ai/cli/commands/managed_research/__init__.py
  synth_ai/core/tunnels/tunneled_api.py
  synth_ai/mcp/managed_research_server.py
  synth_ai/sdk/managed_research.py
  synth_ai/sdk/optimization/internal/prompt_learning.py
  tests/sdk/test_managed_research_data_factory.py
  tests/sdk/test_managed_research_github_org_methods.py
  tests/sdk/test_managed_research_mcp_integrations.py
  tests/sdk/test_prompt_learning_client_stateful_v2_fallback.py
Due: python-import-check, python-ruff, python-ruff-format

Sync synth-ai release lockfile
  uv.lock
Due: none

build: publish abi3 synth-ai wheels
  .github/workflows/publish-dev.yml
  .github/workflows/publish-release.yml
  .github/workflows/publish.yml
  openapi/synth-api-v1.yaml
  pyproject.toml
  synth_ai_py/Cargo.toml
  synth_ai_py/src/lib.rs
Due: none

ci: force cp311 abi3 linux wheel builds
  .github/workflows/publish-dev.yml
  .github/workflows/publish-release.yml
  .github/workflows/publish.yml
Due: none

build: drop nle from synth-ai runtime deps
  openapi/synth-api-v1.yaml
  pyproject.toml
Due: none

ci: build linux/arm64 wheel for native Apple Silicon Docker
  .github/workflows/publish-dev.yml
  .github/workflows/publish-release.yml
  .gitignore
  pyproject.toml
Due: none

ci: add QEMU setup for aarch64 cross-compilation
  .github/workflows/publish-dev.yml
  .github/workflows/publish-release.yml
Due: none

ci: use QEMU emulated container for aarch64 builds
  .github/workflows/publish-dev.yml
  .github/workflows/publish-release.yml
Due: none

ci: use native arm64 runner for aarch64 wheel builds
  .github/workflows/publish-dev.yml
  .github/workflows/publish-release.yml
Due: none

chore: relocate SDK tests to testing; refresh SMR readme and dev docs
  .github/workflows/ci.yml
  .gitignore
  AGENTS.md
  Makefile
  README.md
  bazel/pytest_unit.sh
  synth_ai/core/utils/env.py
  synth_ai/sdk/container/_impl/rubrics/README.md
  synth_ai/sdk/optimization/internal/builders.py
  tests/sdk/test_container_auth_bootstrap_modes.py
  tests/sdk/test_container_auth_mode.py
  tests/sdk/test_container_url_classification.py
  tests/sdk/test_data_factory_flow_a_e2e.py
  tests/sdk/test_managed_research_data_factory.py
  tests/sdk/test_managed_research_github_org_methods.py
  tests/sdk/test_managed_research_mcp_integrations.py
  tests/sdk/test_managed_research_mcp_stdio_transport.py
  tests/sdk/test_mcp_cli.py
  tests/sdk/test_optimization_mcp_server.py
  tests/sdk/test_optimization_routes_parity.py
  tests/sdk/test_policy_offline_rollout_queue.py
  tests/sdk/test_policy_optimizer_events.py
  tests/sdk/test_policy_runtime_compatibility.py
  tests/sdk/test_policy_runtime_queue.py
  tests/sdk/test_policy_stateful_v2_fallback_routes.py
  tests/sdk/test_prompt_learning_client_rollout_queue_ops.py
  tests/sdk/test_prompt_learning_client_stateful_v2_fallback.py
  tests/sdk/test_tunnel_provider_contract.py
Due: python-import-check, python-ruff, python-ruff-format

feat(sdk): restore stashed SMR client, MCP, and container pool work
  synth_ai/__init__.py
  synth_ai/cli/commands/managed_research/__init__.py
  synth_ai/cli/commands/mcp.py
  synth_ai/client.py
  synth_ai/container.py
  synth_ai/mcp/managed_research_server.py
  synth_ai/pools.py
  synth_ai/sdk/README.md
  synth_ai/sdk/__init__.py
  synth_ai/sdk/container_pools.py
  synth_ai/sdk/managed_pools.py
  synth_ai/sdk/managed_research.py
  uv.lock
Due: python-import-check, python-ruff, python-ruff-format

chore: bump version to 0.9.9
  pyproject.toml
Due: none
